# GPT-4: Few-Shot Learning with Prompt Engineering
## ACL 2023 Conference
## WASSA 2023 Shared Task on Empathy, Emotion, and Personality Detection in Interactions
More details [here](https://codalab.lisn.upsaclay.fr/competitions/11167#learn_the_details)

In [1]:
import openai
import os
import re
import numpy as np
import pandas as pd
import time
import pickle
import tiktoken
import backoff
from typing import List
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report, multilabel_confusion_matrix
from openai.embeddings_utils import cosine_similarity
from tqdm.autonotebook import tqdm
tqdm.pandas()

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 400)

# to see all env variables:
#for name, value in os.environ.items():
#    print("{0}: {1}".format(name, value))

/var/folders/vb/p2r9brhx2335cwnww04p9w180000gn/T/ipykernel_16077/409995748.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [2]:
def num_tokens_from_messages(messages, model="gpt-3.5-turbo-0301"):
    '''Return number of tokens used in a list of messages for ChatGPT'''
    try:
        encoding = tiktoken.encoding_for_model(model)
    except KeyError:
        #print("Warning: model not found. Using cl100k_base encoding.")
        encoding = tiktoken.get_encoding("cl100k_base")
    if model == "gpt-3.5-turbo":
        #print("Warning: gpt-3.5-turbo may change over time. Returning num tokens assuming gpt-3.5-turbo-0301.")
        return num_tokens_from_messages(messages, model="gpt-3.5-turbo-0301")
    elif model == "gpt-4":
        #print("Warning: gpt-4 may change over time. Returning num tokens assuming gpt-4-0314.")
        return num_tokens_from_messages(messages, model="gpt-4-0314")
    elif model == "gpt-3.5-turbo-0301":
        tokens_per_message = 4  # every message follows <|start|>{role/name}\n{content}<|end|>\n
        tokens_per_name = -1  # if there's a name, the role is omitted
    elif model == "gpt-4-0314":
        tokens_per_message = 3
        tokens_per_name = 1
    else:
        raise NotImplementedError(f"""num_tokens_from_messages() is not implemented for model {model}. See https://github.com/openai/openai-python/blob/main/chatml.md for information on how messages are converted to tokens.""")
    num_tokens = 0
    for message in messages:
        num_tokens += tokens_per_message
        for key, value in message.items():
            num_tokens += len(encoding.encode(value))
            if key == "name":
                num_tokens += tokens_per_name
    num_tokens += 3  # every reply is primed with <|start|>assistant<|message|>
    return num_tokens

In [3]:
# this is just one token
encoding = tiktoken.encoding_for_model("gpt-3.5-turbo-0301")
len(encoding.encode('####'))

1

In [24]:
def get_dummy_messages(df_, text_col):
    '''Used to determine num tokens in a text column in a dataframe'''
    return [ {'role': 'user', 'content': ' '.join(df_[text_col].tolist())} ]


# number of samples to randomly sample per category in one iteration (for one data point in dev set)
# (determined experimentally based on GPT-4 context window size) - constant
to_sample = {
    'Sadness': 14, 'Neutral': 11, 'Anger': 7, 'Disgust': 7, 'Fear': 7, 'Hope': 7, 'Surprise': 5, 'Joy': 5,
}

In [5]:
# target variables
label2key = {   
    'Anger':    0,
    'Disgust':  1,
    'Fear':     2,
    'Hope':     3,    
    'Joy':      4,
    'Neutral':  5,
    'Sadness':  6,
    'Surprise': 7,
}
key2label = {v: k for k,v in label2key.items()}
print(key2label)

{0: 'Anger', 1: 'Disgust', 2: 'Fear', 3: 'Hope', 4: 'Joy', 5: 'Neutral', 6: 'Sadness', 7: 'Surprise'}

In [6]:
openai.api_key = os.getenv("OPENAI_API_KEY")
model          = 'gpt-4'
labels_set     = set(label2key.keys())
clean = re.compile(r'[^a-zA-Z ]+')
multi_spaces = re.compile('\s{2,}')
print(labels_set)

{'Anger', 'Fear', 'Joy', 'Surprise', 'Sadness', 'Neutral', 'Hope', 'Disgust'}

In [7]:
def get_target(emotions: List[str])->List[int]:
    '''
        Convert list of strings with categories into list of 0s and 1s with length 8 because there are 8 categories;
        1 in the i-th position means that this essay belongs to the i-th category as in key2label[i]
    '''
    res  = [0]*8
    idxs = [label2key[e] for e in emotions]    
    for idx in idxs:
        res[idx] = 1
    return res

In [8]:
def verify_label(label_):
    '''
       Verify if label_ contains any of the categories
       from the predefined set of labels
    '''
    label_ = clean.sub(' ', label_)
    label_ = multi_spaces.sub(' ', label_).split()
    res    = [i for i in label_ if i in labels_set]
    res    = sorted(list(set(res)))
    return '/'.join(res) if res else None

In [31]:
def verify_num_tokens(model, messages):
    '''Check that there is enough tokens available for a ChatGPT repsonse'''
    num_tokens_tiktoken = num_tokens_from_messages(messages, model)
    if num_tokens_tiktoken > 3500:
        print(f'Number of tokens is {num_tokens_tiktoken} which exceeds 4080')        
        return False
    else:
        return True


@backoff.on_exception(backoff.expo, openai.error.RateLimitError, max_time=10)
def get_response(model, messages, temperature=0, max_tokens=None):
    '''Send request, return reponse'''
    response  = openai.ChatCompletion.create(
        model = model,
        messages = messages,
        temperature = temperature,         # range(0,2), the more the less deterministic / focused
        #top_p = 1,                        # top probability mass, e.g. 0.1 = only tokens from top 10% proba mass
        #n = 1,                            # number of chat completions
        #max_tokens = max_tokens,          # tokens to return
        #stream = False,        
        #stop=None,                        # sequence to stop generation (new line, end of text, etc.)
        )
    content = response['choices'][0]['message']['content'].strip()
    #num_tokens_api = response['usage']['prompt_tokens']
    return content

In [10]:
prompt_one = """
1 - Below you are given examples of essays with categories separated by four hashtags.
2 - Each essay has one or two relevant categories from the following list: \
Sadness, Neutral, Anger, Disgust, Fear, Hope, Surprise, Joy.
3 - Your task is to carefully learn from the examples of essays with categories in order to understand \
what features or words in the essays make them belong to a specific category and then use \
this knowledge to assign the correct relevant category from the above list to the very last essay.
4 - You may add a second category from the above list ONLY AND ONLY IF it is also relevant \
to the very last essay. Do not add the second category if it is not significant.
5 - If there is one relevant category, output just the category and nothing else. If there are two relevant \
categories: sort them alphabetically, concatenate with a forward slash, and output only them and nothing else.

####
"""

print(prompt_one)

# Using followup questions improves the reponse. but ChatGPT can change its mind too easily sometimes
followup = """Are you sure about that? If yes, output the same category; if no, change the category"""
print(followup)

1 - Below you are given examples of essays with categories separated by four hashtags.
2 - Each essay has one or two relevant categories from the following list: Sadness, Neutral, Anger, Disgust, Fear, Hope, Surprise, Joy.
3 - Your task is to carefully learn from the examples of essays with categories in order to understand what features or words in the essays make them belong to a specific category and then use this knowledge to assign the correct relevant category from the above list to the very last essay.
4 - You may add a second category from the above list ONLY AND ONLY IF it is also relevant to the very last essay. Do not add the second category if it is not significant.
5 - If there is one relevant category, output just the category and nothing else. If there are two relevant categories: sort them alphabetically, concatenate with a forward slash, and output only them and nothing else.

####

Are you sure about that? If yes, output the same category; if no, change the category

In [11]:
random_state = 47

# Load data

In [12]:
file1    = 'data/df_train.pkl'
df_train = pd.read_pickle(file1)

file2    = 'data/df_dev.pkl'
df_dev   = pd.read_pickle(file2)

print(df_train.shape, df_dev.shape)

2023-05-09 17:40:47.905271: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

(792, 36) (208, 38)

In [14]:
cols = [ 'essay_clean_spellchecked', 'emotion', ]
with pd.option_context('display.max_colwidth', None):
    display(df_dev[cols].head(25))

,essay_clean_spellchecked,emotion
0,"How sad is it that this kind of pain and suffering, and those kind of living conditions still exist today? what a gap we have in society between developed countries and those that aren't. It's crazy to drive around the US and see all the money people spend on pointless things, and then to think about how the people in Haiti are living.",[Sadness]
1,The article is kind of tragic and hits close to home as I am the son of Haitian immigrants. Haiti has a lot of problems that only become exaggerated during natural disasters. I think what the Haitian people really need from the international community is help developing infrastructure so they can address these issues themselves. Foreign aid only acts as a band aid.,[Sadness]
2,"I think that these kinds of stories, are sad, yet inspirational and leave you with kind of a good feeling. Even though his story is sad, it's cool and inspiring/motivational to see that he rose up against his circumstances. That he worked hard to make something of himself and he succeeded in what he wanted to do.",[Sadness]
3,It's crazy that random accidents like this happen everyday. I am not a baseball fan but of course enjoy a baseball game every now and again. I lived and worked in Miami too so I am vaguely familiar with that baseball player who unfortunately passed away. The effort to save him was great but unfortunately bad things seem to happen every day. He was so young too so it makes it worse.,[Neutral]
4,"This story makes me so so sad.... As someone who also grew up in the system, I can strongly relate. It's sad that America has not figured out a better and more safe system to handle kid's without parents or with parents who are unfit. A lot of the times, the system is no better, or even worse than the situation kids were in before, and I think this story is a good example of that.",[Sadness]
5,"After reading the article, my first reaction and feeling is that i feel really bad for the brothers. I feel like people their age should not have to be locked inside a jail cell. They should be out in the world improving themselves and being normal people. It's also really sad for the family members of these brothers as well because they are probably all suffering and worrying.",[Sadness]
6,"I didn't know coal mining had such adverse effects on the surrounding environment. It has basically ruined the lives of the people who live nearby these mines. And the animal populations too, imagine a heard of elephants not able to sustain themselves with the food available and needing to invade human territory...They must really be in a desperate situation.",[Neutral]
7,"This is very sad. I can't imagine having elephants come stampede my house in the middle of the night. What a terrible and sad situation, and these poor people can't even do anything about it. Someone needs to stop the deforestation and stop polluting the air these people breathe, it is not right that they are doing and all for the sake of turning a profit.",[Sadness]
8,"Guys, reading this article really hits home for me. If you or someone you know is having suicidal thoughts, please get help from the available sources. Suicide is no joke and it is a shame when someone does not get the help they need. I've struggled with this for a few years now but I got the help I needed. This woman was not as fortunate.",[Sadness]
9,Hey guys. So I just read this article about Iraqi Christians being persecuted by Muslims in Iraq. I don't understand why people of different religious backgrounds can't get along there. I'm sure it is a cultural thing but it is such unnecessary violence and conflict. It hurts both sides and I wish there was a way we could get them to set aside their differences. But not military action. We don't need another war.,[Neutral]
10,This was pretty troubling to read about the events going on overseas. The families are struggling so much and there's no hope in sight for them to get any relief. Looking over their backs all the time and trying to protect their children. Trying to maintain work available to support their family. I can't imagine what it would be like.,[Sadness]
11,"This article made me think about something that I have never thought about before. Returning to a place where a war happen is not only the repairing of the physical, but the place may have memories that you may never want to return to. For some reason, I always thought that people would just be able to return when the fighting stopped.",[Neutral]
12,"I hate hearing stories like this... I feel so bad for veterans, not only for what they have to deal with if they were on the battlefield, but because of the lack of respect for them in this country. Even if you don't agree with the war we are fighting, that is not their fault, don't take it out on them, take it out on their leaders.",[Anger]
13,"I just read an article about cancer and how it effects a person. I know how cancer feels; I've dealt with family members getting cancer in my childhood. It was rough. But it takes a lot fo strength to get through the treatments. And I just want to say that if you have cancer, you can do it. you can beat it and get through it. No matter how gloomy the day may be look forward to a brighter tomorrow.","[Hope, Neutral]"
14,"This kind of stuff makes me so sad... I hate cancer... It's crazy, with how far advanced we are that we don't have a better cure for it yet... And that the only ""treatment"" really is pumping poison into your body... I do think that big pharma has something to do with this, because there is so so so much money to be made off of cancer.",[Sadness]
15,"It's so sad that our disregard for the environment since the Industrial Age is having such an effect on the entire planet. The ice melting too soon is going to have such an effect on polar bears and pretty much every animal. I'm not sure what we can possibly do to prevent polar bears from dying out because of a lack of food. They need that ice to hurt seals and without it, they are restricted to what they can hunt on land.",[Sadness]
16,I feel sad that elephants can't even be protected how they should be. The fact that a bid to give them high level protection was defeated tells me that money rules overall and it has been that way and will always be that way and it is something I can not just grasp my head around and accept as a fact of life because it just is not fair.,[Sadness]
17,Any type of animal poaching and killing just really hurts my heart. It is disgusting that this kind of thing is still happening and that not everyone can agree to fiercely protect these gentle giants. I get that these countries are poor and this kind of hunting and trading brings in big money for them but I think they need to look at the bigger picture and more countries should help build these countries up in others ways so they dont have to rely on this for there people and economy. I also agree with the conservationist that say all the paper laws in the world cant cut down on the killings if you dont control illegal trade that is were the focus needs to stay on.,[Disgust]
18,"I wasn't bullied much as a child but I can really sympathize with people who there. You're a lot more narrow minded as a child and getting bullied can make it seem like your entire life is ruined. I think it's a bigger problem now because of technology. Before a child would only get bullied during school hours, hopefully outside of the sight of a teacher. Now children can be bullied 24/7 through technology since everyone has a cell phone and uses social media. It's a hard problem to solve.",[Sadness]
19,"I just read an article about bullying in France. Apparently, the suicide of a 17 year old French girl has caused the country to reevaluate its approach toward bullying. I personally have never experienced intense bullying or ridicule first hand or even second hand. I guess I was a pretty likable kid after all. I think the key to solving problems like this is most definitely inclusion. The reason children feel this way is because they perceive themselves to be absolutely alone.",[Neutral]
20,Did you read this article? It's so heartbreaking I cannot take it. News stories don't affect me unless there is kids involved and the image of the little girls wandering around calling for her mum and the two children that lost their mother. It's horrific. It's also making me rethink rides like these because you know I love the kali river rapids at Disney which this sounds similar too. Maybe I should just stay away from rides all together. They just aren't safe.,"[Fear, Sadness]"
21,"I wish there was more details...How did this happen? Did maybe the kid fall off the cliff and when his father tried to save him, he also fell off? Were they running and didn't realize they were able to fall off a cliff? This is just a strange and really sad story. I hope that somebody puts fencing alongside where they fell, so this doesn't happen to anyone else.","[Hope, Sadness]"
22,So I just read an article about how a father and his son died from a fall while hiking because there was a problem with the rescue chopper and they couldn't get to them in time. I think that is completely unacceptable. Why wasn't there a second rescue chopper? Is there no such thing as a back up? The loss of life could have been prevented.,[Anger]
23,"I just read an article about suicides in children between 10 and 14. Even though I as not aware of the recent spike in these types of fatalities, I am aware that they happen. Years ago when I was visiting my relatives in OK there was buzz around the town about a boy of only 12 that hung himself after he was punished by his father for misbehaving. To think of someone that young taking their own life is absolutely heartbreaking.",[Sadness]
24,"It's pretty heartbreaking to hear and read stories about suicide. I have always felt like there is more that can be done for mental health with young and older people these days. It's not only the youth that struggle with it but it seems so normalized at a younger age. I feel strongly that there is no excuse for someone to kill themselves. Anything can be prevented and anyone can be helped. It's a hard time and age though and usually those kids feel like there is nothing left for them to live for when in reality they have an entire wonderful life ahead of themselves, regardless of past experiences. But that's just my opinion.",[Sadness]

# Few-Shot Approach 1: concatenate random examples into one long string

## 1a. Divide training set into random chunks
This is done in a reproducible way - the same random_states are used (exact same results are confirmed in multiple runs)

Options:
1. Keep double categories when concatenating examples
2. 1 essay w/1 category (using explode()) before concatenating examples

In [40]:
openai.api_key = os.getenv("OPENAI_API_KEY")
model          = 'gpt-4'

In [43]:
num_iter       = df_dev.shape[0]
max_tokens     = 7300                     # use 7100 with a prompt
text_col       = 'essay_clean'
emotion_col    = 'emotion'
essays_sampled = []
example_dfs    = []

for i in range(num_iter):
    res = []
    for idx, (emo, num) in enumerate(to_sample.items()):
        temp = df_train.copy().explode(emotion_col)
        temp = temp[ ~temp[text_col].isin(essays_sampled) ]
        temp = temp[ temp[emotion_col] == emo ]
        
        # if not enough data to sample, sample from the entire dataframe
        if temp.shape[0] < num:
            temp = df_train.copy().explode(emotion_col)
            temp = temp[ temp[emotion_col] == emo ]

        essays     = temp.sample(n=num, random_state=i)[text_col].tolist()
        df_sampled = df_train[ df_train[text_col].isin(essays) ][[text_col, emotion_col]]
        res.append( df_sampled )
        essays_sampled.extend( essays )

    df_sampled_combined = pd.concat(res).sample(frac=1, random_state=random_state)
    # explode() helps avoide double categories in examples
    df_sampled_combined = df_sampled_combined.explode( emotion_col ).sample(frac=1, random_state=random_state)
    df_sampled_combined = df_sampled_combined.drop_duplicates()
        
    # reduce size to fit into the context window by removing overrepresented categories
    while num_tokens_from_messages( get_dummy_messages(df_sampled_combined, text_col),
                                    model="gpt-3.5-turbo-0301",
                                  ) > max_tokens:
        df_sampled_combined = df_sampled_combined.sample(frac=1, random_state=i)
        size = df_sampled_combined.shape[0]
        df_sampled_combined = df_sampled_combined.head(size-1)
        
        '''
        # old way, works worse after explode()
        overrepresented = ['Sadness', 'Neutral']
        count = 0
        while df_sampled_combined.tail(1)[emotion_col].values[0] not in overrepresented:
            df_sampled_combined = df_sampled_combined.sample(frac=1, random_state=i)
            count += 1
            if count >= 100:
                break
        size = df_sampled_combined.shape[0]
        df_sampled_combined = df_sampled_combined.head(size-1)
        '''
    example_dfs.append( df_sampled_combined )

    print('Size of combined df:', df_sampled_combined.shape )
    num_tokens = num_tokens_from_messages( get_dummy_messages(df_sampled_combined, text_col),
                                           model="gpt-3.5-turbo-0301",
                                         )
    print('Number of tokens:', num_tokens)
    print('Value counts:\n', df_sampled_combined.explode(emotion_col)[emotion_col].value_counts(),sep='')
    print('Index:', sorted(df_sampled_combined.index.tolist()))
    print('\n', '='*75, '\n', sep='')

Size of combined df: (81, 2)
Number of tokens: 7277
Value counts:
Sadness     27
Neutral     10
Fear         9
Anger        9
Disgust      8
Hope         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [29, 32, 32, 35, 37, 38, 85, 90, 107, 111, 171, 177, 182, 216, 216, 238, 246, 246, 249, 253, 253, 295, 295, 302, 336, 342, 359, 371, 371, 373, 373, 383, 397, 400, 415, 426, 430, 436, 436, 478, 478, 479, 479, 494, 500, 527, 527, 557, 561, 561, 573, 574, 588, 593, 593, 596, 602, 617, 617, 620, 621, 645, 658, 681, 691, 692, 692, 694, 694, 714, 714, 725, 725, 729, 731, 740, 746, 746, 751, 751, 752]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7280
Value counts:
Sadness     22
Neutral     11
Disgust     10
Anger       10
Fear         9
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 94, 145, 156, 157, 157, 181, 181, 187, 190, 215, 224, 227, 239, 239, 289, 299, 319, 322, 324, 346, 347, 355, 355, 366, 390, 391, 392, 402, 406, 412, 413, 432, 438, 439, 449, 449, 476, 507, 514, 514, 515, 523, 530, 530, 536, 536, 546, 546, 567, 567, 569, 569, 575, 622, 622, 638, 646, 648, 648, 650, 650, 662, 662, 668, 687, 690, 703, 703, 704, 718, 735, 736, 739, 743, 743, 762, 769, 780]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7237
Value counts:
Sadness     25
Neutral     11
Anger       11
Disgust     10
Hope         8
Fear         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 9, 9, 11, 11, 14, 14, 19, 21, 29, 67, 69, 102, 102, 113, 117, 122, 123, 131, 135, 139, 139, 150, 161, 188, 191, 192, 192, 195, 197, 197, 206, 209, 242, 268, 272, 294, 295, 295, 296, 296, 297, 301, 303, 305, 306, 321, 321, 334, 338, 338, 355, 355, 368, 403, 420, 420, 438, 453, 453, 486, 497, 522, 538, 538, 592, 599, 599, 603, 605, 619, 619, 631, 631, 643, 643, 722, 754, 754, 774, 781, 789]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7210
Value counts:
Sadness     23
Disgust     13
Neutral     11
Anger        8
Fear         7
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [17, 29, 30, 34, 35, 44, 76, 80, 80, 88, 95, 101, 101, 111, 126, 141, 152, 174, 187, 200, 200, 225, 275, 275, 278, 286, 295, 295, 337, 339, 343, 343, 347, 354, 354, 355, 355, 377, 386, 410, 427, 444, 469, 470, 480, 506, 521, 542, 542, 556, 556, 589, 589, 594, 598, 619, 619, 632, 655, 671, 671, 681, 705, 705, 717, 720, 732, 734, 734, 739, 742, 745, 760, 763, 772, 778, 778, 782, 790]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7016
Value counts:
Sadness     23
Anger       12
Neutral     11
Disgust     10
Hope         7
Fear         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [12, 25, 32, 32, 35, 63, 87, 93, 98, 129, 142, 153, 157, 157, 160, 164, 196, 214, 225, 247, 252, 252, 254, 256, 278, 295, 295, 299, 300, 308, 319, 346, 347, 358, 358, 373, 373, 375, 375, 376, 416, 418, 432, 436, 436, 449, 449, 458, 472, 472, 479, 479, 480, 488, 491, 502, 531, 538, 538, 553, 561, 561, 575, 597, 619, 619, 633, 667, 681, 716, 738, 749, 749, 753, 768, 773, 773, 775, 778, 778]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 6770
Value counts:
Sadness     27
Neutral     11
Anger       10
Fear         8
Disgust      7
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [22, 35, 50, 68, 68, 111, 114, 114, 117, 121, 121, 133, 136, 152, 166, 179, 187, 194, 209, 216, 216, 248, 250, 253, 253, 255, 255, 274, 279, 279, 295, 295, 304, 319, 329, 331, 345, 350, 355, 355, 363, 371, 371, 388, 401, 406, 429, 432, 438, 457, 465, 466, 466, 468, 474, 516, 530, 530, 533, 552, 565, 575, 593, 593, 599, 599, 623, 654, 657, 662, 662, 663, 666, 681, 702, 703, 703, 748, 748, 763]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 6970
Value counts:
Sadness     28
Neutral     11
Anger       10
Disgust      8
Hope         7
Fear         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 1, 4, 11, 11, 13, 21, 27, 29, 46, 99, 103, 103, 138, 147, 147, 150, 175, 187, 210, 267, 276, 276, 277, 294, 364, 369, 381, 394, 402, 404, 405, 405, 406, 438, 440, 455, 464, 464, 495, 500, 501, 501, 519, 527, 527, 536, 536, 541, 561, 561, 570, 576, 583, 592, 599, 599, 618, 631, 631, 665, 688, 689, 696, 712, 730, 734, 734, 739, 740, 740, 746, 746, 751, 751, 755, 757, 769, 778, 778]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7055
Value counts:
Sadness     26
Neutral     11
Anger        8
Fear         8
Disgust      8
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [5, 6, 14, 14, 21, 26, 29, 32, 32, 35, 49, 64, 65, 74, 102, 102, 107, 107, 111, 117, 128, 167, 180, 180, 184, 187, 207, 209, 221, 230, 253, 253, 259, 261, 262, 288, 290, 292, 313, 313, 328, 343, 343, 344, 352, 355, 355, 367, 378, 385, 385, 388, 406, 411, 428, 432, 447, 447, 496, 503, 504, 510, 542, 542, 551, 561, 561, 649, 670, 682, 697, 705, 705, 743, 743, 750, 767, 774]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7191
Value counts:
Sadness     25
Disgust     11
Neutral     11
Anger       10
Fear         8
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 10, 10, 11, 11, 16, 21, 35, 36, 94, 150, 154, 181, 181, 189, 189, 201, 208, 223, 226, 236, 240, 240, 278, 280, 294, 338, 338, 347, 360, 370, 402, 409, 421, 436, 436, 441, 452, 456, 477, 477, 479, 479, 484, 492, 499, 511, 511, 517, 517, 530, 530, 561, 561, 579, 595, 595, 599, 599, 606, 608, 609, 660, 673, 675, 681, 684, 699, 710, 714, 714, 715, 725, 725, 739, 743, 743, 759, 763, 776, 790]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 6999
Value counts:
Sadness     20
Anger       12
Neutral     11
Disgust     10
Fear         8
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [8, 29, 35, 47, 62, 89, 94, 116, 117, 150, 162, 169, 181, 181, 185, 204, 207, 209, 211, 213, 213, 217, 217, 225, 235, 253, 253, 263, 264, 294, 295, 295, 298, 298, 315, 315, 341, 343, 343, 346, 361, 365, 372, 373, 373, 379, 388, 389, 395, 396, 406, 416, 436, 436, 438, 450, 453, 453, 529, 538, 538, 558, 561, 561, 562, 590, 591, 607, 640, 644, 664, 664, 674, 674, 723, 726, 739, 756]

===========================================================================

Size of combined df: (75, 2)
Number of tokens: 6125
Value counts:
Sadness     20
Anger       11
Neutral     11
Disgust      8
Fear         8
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [7, 20, 32, 32, 34, 35, 41, 54, 59, 75, 105, 107, 107, 117, 118, 134, 149, 149, 150, 152, 157, 157, 172, 178, 209, 232, 233, 241, 253, 253, 294, 318, 333, 340, 346, 355, 355, 387, 388, 393, 402, 406, 422, 423, 424, 432, 434, 436, 436, 453, 453, 462, 473, 481, 508, 509, 532, 536, 536, 548, 561, 561, 566, 575, 584, 592, 614, 629, 629, 651, 672, 695, 773, 773, 786]

===========================================================================

Size of combined df: (74, 2)
Number of tokens: 6364
Value counts:
Sadness     21
Neutral     11
Anger        9
Hope         9
Fear         7
Disgust      7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [2, 18, 34, 35, 45, 112, 115, 139, 139, 148, 151, 152, 193, 200, 200, 207, 212, 221, 229, 231, 243, 253, 253, 270, 272, 278, 291, 295, 295, 338, 338, 343, 343, 346, 392, 402, 406, 408, 416, 425, 436, 436, 437, 438, 443, 449, 449, 462, 479, 479, 482, 493, 511, 511, 522, 525, 532, 538, 538, 561, 561, 568, 578, 600, 601, 613, 669, 683, 698, 711, 733, 737, 772, 774]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7287
Value counts:
Sadness     24
Neutral     11
Anger       10
Disgust      9
Fear         8
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [14, 14, 21, 33, 83, 94, 102, 110, 119, 132, 147, 147, 150, 181, 181, 183, 205, 219, 244, 271, 272, 275, 275, 294, 295, 295, 338, 343, 343, 348, 355, 355, 357, 419, 431, 433, 438, 449, 449, 453, 453, 475, 487, 522, 530, 530, 537, 549, 555, 561, 561, 563, 595, 595, 604, 610, 615, 617, 628, 631, 631, 643, 643, 650, 650, 656, 662, 662, 679, 685, 695, 722, 724, 725, 725, 747, 774, 784, 785]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7263
Value counts:
Sadness     26
Anger       11
Neutral     11
Fear         7
Disgust      7
Hope         6
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [14, 14, 23, 29, 40, 81, 84, 100, 102, 102, 103, 103, 108, 111, 127, 147, 147, 150, 157, 157, 173, 200, 200, 294, 295, 295, 300, 320, 327, 332, 335, 338, 338, 355, 355, 361, 375, 375, 399, 402, 453, 453, 460, 500, 513, 532, 534, 535, 539, 547, 572, 574, 582, 592, 599, 599, 626, 630, 637, 650, 650, 659, 662, 671, 671, 676, 678, 680, 686, 731, 734, 751, 751, 763, 771, 787, 790, 791]

===========================================================================

Size of combined df: (77, 2)
Number of tokens: 7217
Value counts:
Sadness     26
Anger       10
Neutral     10
Disgust      8
Fear         7
Hope         7
Surprise     5
Joy          4
Name: emotion_no_2nd_neut, dtype: int64
Index: [14, 14, 32, 32, 70, 73, 75, 78, 91, 102, 102, 107, 107, 111, 148, 151, 152, 157, 157, 187, 233, 234, 245, 251, 281, 284, 290, 295, 295, 297, 317, 321, 321, 321, 343, 343, 347, 355, 355, 375, 375, 380, 398, 406, 416, 449, 449, 478, 478, 479, 479, 483, 518, 525, 526, 530, 530, 608, 611, 622, 622, 634, 647, 652, 668, 681, 694, 701, 709, 714, 714, 731, 734, 734, 740, 740, 770]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7090
Value counts:
Sadness     23
Neutral     11
Anger       10
Disgust      9
Fear         8
Hope         8
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [29, 35, 52, 56, 66, 79, 97, 100, 130, 157, 157, 218, 272, 298, 298, 299, 310, 326, 338, 338, 346, 347, 349, 356, 370, 392, 402, 416, 420, 420, 432, 435, 438, 449, 449, 454, 461, 465, 480, 501, 501, 505, 512, 522, 538, 538, 542, 542, 550, 571, 613, 622, 622, 625, 627, 641, 643, 643, 650, 650, 651, 662, 662, 674, 674, 694, 694, 703, 703, 706, 707, 725, 725, 740, 740, 741, 764, 769, 774, 788]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7263
Value counts:
Sadness     21
Neutral     11
Disgust     11
Anger       11
Hope         8
Fear         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 35, 51, 55, 58, 61, 75, 87, 115, 139, 139, 146, 150, 159, 165, 168, 186, 198, 225, 235, 239, 239, 253, 253, 259, 265, 278, 285, 294, 307, 311, 315, 315, 316, 323, 346, 354, 354, 389, 402, 405, 405, 420, 420, 432, 438, 442, 448, 467, 489, 538, 538, 546, 546, 561, 561, 564, 577, 592, 618, 619, 619, 642, 662, 662, 671, 671, 700, 703, 703, 717, 731, 739, 743, 743, 765, 769, 773, 773]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7264
Value counts:
Sadness     23
Disgust     11
Neutral     11
Anger        9
Fear         7
Hope         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 11, 11, 31, 35, 43, 68, 68, 72, 96, 103, 106, 117, 124, 143, 155, 157, 157, 163, 187, 202, 203, 205, 209, 213, 225, 252, 252, 269, 295, 295, 296, 296, 312, 338, 338, 346, 355, 355, 382, 405, 405, 406, 434, 436, 438, 485, 520, 525, 538, 538, 540, 575, 581, 585, 586, 618, 619, 619, 621, 621, 624, 631, 631, 643, 643, 662, 662, 677, 708, 727, 732, 740, 740, 751, 751, 777, 790]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7224
Value counts:
Sadness     26
Neutral     11
Anger       10
Hope         8
Disgust      8
Fear         6
Joy          5
Surprise     4
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 9, 9, 11, 21, 35, 64, 71, 104, 158, 161, 173, 207, 210, 239, 239, 260, 286, 294, 295, 295, 302, 311, 314, 346, 347, 351, 361, 370, 383, 388, 391, 405, 420, 420, 438, 441, 454, 468, 471, 472, 472, 475, 477, 477, 528, 536, 536, 545, 556, 556, 574, 580, 583, 612, 615, 616, 617, 617, 619, 619, 625, 628, 631, 631, 639, 669, 681, 694, 694, 703, 703, 705, 705, 743, 743, 779]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 6955
Value counts:
Sadness     25
Neutral     11
Disgust      9
Anger        9
Fear         7
Hope         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [19, 22, 29, 34, 38, 53, 64, 66, 139, 139, 152, 161, 170, 177, 189, 189, 197, 197, 222, 225, 244, 247, 253, 253, 282, 293, 313, 313, 345, 373, 373, 374, 379, 388, 402, 414, 417, 438, 446, 447, 447, 453, 453, 498, 506, 514, 514, 534, 543, 544, 547, 561, 561, 568, 599, 599, 617, 617, 619, 619, 671, 671, 681, 684, 696, 705, 705, 710, 714, 714, 719, 720, 731, 743, 743, 763, 771, 774, 783]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7265
Value counts:
Sadness     24
Neutral     11
Disgust     11
Anger        9
Fear         7
Hope         7
Surprise     5
Joy          4
Name: emotion_no_2nd_neut, dtype: int64
Index: [1, 3, 14, 14, 15, 21, 28, 37, 38, 39, 86, 94, 95, 102, 102, 111, 125, 144, 167, 181, 181, 199, 206, 216, 216, 237, 257, 325, 355, 355, 360, 371, 371, 375, 375, 383, 388, 389, 416, 420, 420, 438, 439, 496, 513, 518, 524, 534, 553, 561, 561, 567, 567, 575, 579, 593, 593, 608, 615, 619, 619, 629, 629, 635, 661, 662, 662, 682, 703, 703, 728, 740, 740, 763, 766, 773, 773, 774]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7202
Value counts:
Sadness     25
Anger       12
Neutral     11
Disgust      9
Fear         8
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 11, 11, 24, 29, 35, 42, 43, 47, 75, 84, 95, 102, 102, 109, 117, 137, 157, 157, 164, 176, 226, 253, 253, 255, 255, 273, 287, 296, 296, 354, 354, 355, 355, 392, 406, 407, 413, 438, 447, 447, 451, 453, 453, 459, 463, 474, 497, 506, 512, 530, 530, 532, 536, 536, 538, 538, 548, 554, 560, 574, 592, 593, 593, 595, 595, 619, 619, 631, 631, 665, 684, 686, 691, 694, 694, 703, 703, 720, 744, 774]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7204
Value counts:
Sadness     25
Anger       12
Neutral     11
Disgust     10
Hope         7
Fear         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [29, 34, 35, 38, 82, 92, 111, 125, 141, 152, 157, 157, 192, 192, 216, 216, 220, 230, 255, 255, 258, 275, 275, 283, 300, 306, 309, 319, 346, 353, 362, 371, 371, 382, 384, 399, 401, 402, 441, 445, 453, 453, 462, 464, 464, 479, 479, 491, 538, 538, 548, 567, 567, 575, 587, 593, 593, 621, 621, 631, 631, 636, 653, 668, 681, 692, 692, 698, 705, 705, 713, 734, 734, 739, 740, 740, 769, 770, 777, 778, 778, 788]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7269
Value counts:
Sadness     24
Anger       11
Disgust     11
Neutral     10
Fear         9
Hope         7
Surprise     5
Joy          4
Name: emotion_no_2nd_neut, dtype: int64
Index: [33, 35, 64, 65, 67, 85, 93, 94, 104, 111, 133, 181, 181, 187, 203, 205, 216, 216, 246, 246, 284, 288, 295, 299, 300, 333, 338, 338, 347, 349, 355, 355, 380, 408, 414, 449, 449, 466, 499, 530, 530, 535, 536, 536, 538, 538, 546, 546, 561, 561, 571, 575, 588, 593, 593, 595, 595, 609, 626, 631, 631, 648, 648, 650, 650, 664, 664, 668, 671, 671, 681, 688, 697, 705, 705, 736, 743, 743, 757, 764, 789]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7056
Value counts:
Sadness     22
Neutral     11
Anger       11
Disgust     10
Hope         8
Fear         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [26, 31, 41, 50, 52, 67, 82, 89, 117, 118, 147, 147, 193, 200, 200, 209, 212, 216, 216, 246, 246, 253, 253, 270, 275, 275, 277, 282, 295, 295, 300, 314, 338, 338, 355, 355, 365, 371, 371, 388, 406, 409, 416, 438, 439, 497, 500, 542, 542, 561, 561, 567, 567, 574, 575, 593, 593, 619, 619, 622, 622, 645, 672, 681, 687, 693, 694, 694, 699, 702, 715, 739, 742, 749, 749, 750, 759, 770, 787]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7251
Value counts:
Sadness     25
Anger       13
Neutral     11
Disgust     10
Fear         9
Hope         7
Surprise     4
Joy          4
Name: emotion_no_2nd_neut, dtype: int64
Index: [29, 32, 32, 55, 63, 80, 80, 157, 163, 165, 197, 197, 217, 217, 225, 227, 234, 242, 248, 259, 272, 279, 279, 286, 289, 307, 325, 343, 343, 355, 355, 371, 371, 373, 381, 393, 408, 412, 436, 436, 449, 449, 453, 453, 454, 480, 501, 501, 523, 529, 533, 536, 536, 537, 538, 538, 561, 561, 567, 580, 593, 593, 624, 629, 650, 650, 662, 674, 674, 694, 694, 725, 740, 740, 745, 746, 746, 751, 764, 773, 773, 778, 778]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7118
Value counts:
Sadness     23
Neutral     11
Disgust     10
Anger       10
Fear         7
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [7, 19, 34, 35, 59, 74, 101, 101, 104, 112, 130, 152, 158, 192, 192, 207, 220, 235, 239, 239, 276, 276, 292, 295, 295, 331, 332, 336, 341, 343, 343, 364, 383, 420, 420, 432, 435, 438, 497, 500, 502, 522, 530, 530, 537, 546, 546, 548, 551, 553, 561, 561, 574, 575, 587, 599, 599, 601, 605, 619, 619, 629, 629, 674, 674, 681, 682, 686, 694, 694, 714, 714, 718, 731, 750, 769, 778, 778]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7190
Value counts:
Sadness     23
Disgust     12
Anger       12
Neutral     11
Fear         8
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [5, 28, 29, 35, 50, 57, 61, 64, 89, 129, 150, 204, 207, 225, 250, 266, 274, 278, 294, 295, 295, 321, 321, 321, 330, 343, 343, 352, 355, 355, 361, 370, 372, 373, 373, 382, 432, 442, 447, 447, 453, 453, 464, 464, 477, 477, 479, 479, 483, 487, 495, 498, 517, 517, 542, 542, 549, 557, 574, 583, 592, 595, 595, 599, 599, 615, 681, 695, 703, 703, 731, 740, 740, 748, 748, 749, 749, 769, 773, 773, 783, 784, 788]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7196
Value counts:
Sadness     26
Neutral     11
Disgust     11
Anger        9
Fear         9
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [9, 9, 27, 35, 80, 80, 91, 110, 126, 147, 147, 157, 157, 181, 181, 189, 189, 197, 197, 207, 216, 216, 249, 253, 253, 255, 255, 268, 272, 274, 275, 275, 278, 284, 299, 307, 317, 331, 338, 338, 347, 352, 371, 371, 403, 438, 449, 449, 452, 458, 479, 479, 480, 486, 506, 507, 522, 527, 527, 530, 530, 546, 546, 561, 561, 587, 590, 591, 593, 593, 599, 599, 600, 603, 613, 653, 666, 680, 681, 683, 687, 764, 774]

===========================================================================

Size of combined df: (85, 2)
Number of tokens: 7296
Value counts:
Sadness     24
Disgust     12
Anger       12
Neutral     11
Fear         9
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 26, 29, 41, 45, 53, 60, 61, 62, 87, 101, 101, 105, 114, 114, 120, 129, 149, 149, 159, 192, 192, 196, 230, 253, 253, 278, 279, 279, 304, 338, 338, 347, 370, 372, 388, 402, 432, 438, 439, 453, 453, 479, 479, 489, 497, 508, 530, 530, 531, 542, 542, 556, 556, 561, 561, 573, 586, 599, 599, 617, 617, 618, 621, 621, 624, 631, 631, 637, 654, 679, 694, 694, 701, 703, 703, 722, 731, 740, 740, 749, 749, 769, 773, 773]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7238
Value counts:
Sadness     25
Anger       12
Neutral     11
Disgust     10
Hope         7
Fear         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [1, 10, 10, 21, 29, 35, 58, 61, 62, 64, 79, 101, 101, 110, 113, 124, 136, 157, 157, 182, 200, 200, 209, 213, 213, 216, 216, 217, 217, 227, 282, 293, 296, 296, 306, 316, 338, 338, 344, 371, 371, 402, 427, 444, 446, 464, 464, 466, 466, 480, 483, 497, 500, 523, 529, 538, 538, 565, 574, 593, 593, 599, 599, 603, 629, 629, 650, 650, 680, 694, 694, 698, 705, 705, 716, 720, 725, 725, 737, 746, 746, 781]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7228
Value counts:
Sadness     24
Neutral     11
Anger       10
Fear         9
Disgust      9
Hope         8
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 9, 9, 11, 11, 29, 45, 64, 65, 102, 102, 107, 107, 117, 127, 150, 154, 157, 157, 159, 181, 181, 200, 200, 206, 209, 253, 253, 275, 275, 278, 285, 286, 295, 295, 300, 312, 324, 346, 347, 355, 355, 362, 365, 377, 388, 391, 406, 446, 447, 447, 450, 464, 464, 495, 496, 497, 512, 552, 561, 561, 564, 575, 622, 622, 631, 631, 639, 645, 650, 650, 654, 656, 680, 707, 714, 714, 731, 747, 771]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7243
Value counts:
Sadness     22
Anger       14
Neutral     11
Disgust      9
Fear         7
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 11, 11, 16, 29, 35, 63, 64, 115, 119, 131, 132, 139, 139, 147, 147, 157, 157, 191, 205, 221, 241, 253, 253, 267, 272, 286, 299, 321, 321, 321, 326, 350, 366, 381, 388, 399, 436, 436, 447, 447, 449, 449, 470, 478, 478, 480, 495, 529, 561, 561, 568, 569, 569, 570, 578, 601, 610, 619, 619, 626, 633, 664, 664, 681, 684, 694, 694, 703, 703, 715, 739, 745, 762, 763, 765, 774, 781, 790]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7105
Value counts:
Sadness     22
Disgust     15
Neutral     11
Anger        9
Fear         8
Hope         8
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 29, 69, 80, 80, 84, 94, 117, 157, 157, 181, 181, 198, 200, 200, 208, 209, 258, 275, 275, 299, 319, 342, 355, 355, 357, 359, 404, 406, 410, 439, 444, 459, 464, 464, 468, 474, 476, 477, 477, 496, 500, 515, 517, 517, 533, 536, 536, 561, 561, 584, 592, 617, 617, 618, 643, 643, 647, 667, 668, 671, 671, 681, 696, 703, 703, 714, 714, 723, 731, 736, 743, 743, 744, 749, 749, 751, 751, 759, 773, 773, 791]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7213
Value counts:
Sadness     23
Anger       11
Neutral     11
Disgust     10
Fear         7
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [17, 21, 32, 32, 33, 35, 46, 49, 64, 68, 71, 102, 113, 116, 118, 147, 147, 149, 149, 150, 161, 162, 172, 205, 206, 230, 241, 253, 253, 267, 279, 279, 293, 294, 312, 343, 343, 349, 356, 381, 396, 416, 434, 438, 452, 497, 514, 514, 527, 527, 538, 538, 561, 561, 568, 594, 617, 617, 619, 619, 627, 629, 629, 643, 643, 679, 681, 714, 714, 716, 734, 734, 739, 743, 747, 763, 769, 770, 774]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 6633
Value counts:
Sadness     23
Neutral     11
Disgust     11
Anger        9
Hope         8
Fear         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [24, 30, 32, 32, 35, 76, 94, 107, 107, 115, 118, 120, 139, 139, 157, 157, 159, 171, 176, 178, 181, 181, 185, 187, 216, 216, 220, 250, 253, 253, 260, 264, 275, 275, 285, 319, 330, 333, 346, 355, 355, 371, 371, 398, 402, 406, 434, 477, 477, 483, 488, 509, 523, 527, 527, 534, 560, 561, 561, 564, 574, 592, 593, 593, 608, 615, 618, 637, 643, 643, 654, 666, 714, 714, 719, 743, 743, 772, 773, 773]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 6964
Value counts:
Sadness     24
Anger       12
Neutral     11
Disgust      9
Fear         9
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [17, 18, 19, 26, 33, 38, 67, 88, 99, 101, 101, 150, 157, 157, 180, 180, 206, 216, 216, 250, 252, 252, 253, 253, 266, 274, 278, 282, 290, 294, 295, 295, 305, 319, 322, 354, 354, 371, 371, 388, 432, 434, 438, 468, 479, 479, 497, 510, 511, 511, 514, 514, 527, 527, 533, 542, 542, 551, 561, 561, 562, 599, 599, 613, 617, 617, 623, 643, 643, 681, 691, 719, 731, 735, 739, 746, 746, 773, 773, 778, 778, 788]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 6758
Value counts:
Sadness     24
Disgust     13
Neutral     11
Fear         8
Hope         8
Anger        7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 11, 11, 13, 21, 29, 32, 32, 36, 51, 60, 74, 107, 107, 111, 117, 130, 136, 139, 139, 150, 155, 159, 187, 197, 197, 207, 209, 253, 253, 263, 294, 295, 295, 313, 313, 343, 343, 347, 370, 382, 394, 425, 438, 450, 454, 462, 478, 478, 517, 517, 522, 527, 527, 534, 543, 595, 595, 616, 649, 651, 665, 671, 671, 673, 681, 687, 702, 716, 725, 725, 746, 746, 759, 761, 765, 766, 778, 778, 784]

===========================================================================

Size of combined df: (84, 2)
Number of tokens: 7078
Value counts:
Sadness     22
Disgust     16
Neutral     11
Anger       10
Hope         8
Fear         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 11, 11, 21, 35, 58, 80, 80, 86, 100, 130, 139, 139, 161, 169, 177, 189, 189, 207, 217, 217, 229, 239, 239, 252, 252, 253, 253, 272, 277, 278, 290, 310, 319, 330, 343, 343, 366, 378, 383, 406, 418, 427, 430, 436, 436, 438, 449, 449, 460, 462, 479, 479, 481, 500, 511, 511, 513, 527, 527, 541, 554, 556, 556, 561, 561, 605, 621, 621, 643, 643, 655, 664, 664, 678, 681, 697, 702, 708, 715, 760, 773, 773]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7252
Value counts:
Sadness     25
Anger       12
Neutral     10
Hope         8
Fear         8
Disgust      7
Surprise     5
Joy          4
Name: emotion_no_2nd_neut, dtype: int64
Index: [14, 14, 29, 32, 32, 95, 102, 102, 107, 107, 150, 167, 171, 184, 187, 192, 192, 200, 200, 216, 216, 221, 228, 251, 259, 261, 264, 322, 338, 338, 355, 355, 360, 371, 371, 390, 398, 406, 438, 453, 453, 472, 492, 501, 501, 502, 509, 511, 511, 530, 530, 538, 538, 544, 548, 560, 561, 561, 575, 593, 593, 613, 619, 619, 626, 648, 662, 662, 670, 674, 674, 678, 692, 694, 694, 709, 720, 728, 759]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7298
Value counts:
Sadness     24
Anger       11
Neutral     11
Fear         8
Surprise     7
Disgust      7
Hope         7
Joy          4
Name: emotion_no_2nd_neut, dtype: int64
Index: [5, 29, 32, 32, 37, 42, 64, 76, 88, 107, 107, 121, 121, 135, 146, 149, 157, 157, 253, 253, 288, 295, 295, 299, 313, 314, 315, 315, 319, 328, 330, 344, 347, 348, 377, 388, 436, 436, 452, 468, 480, 524, 527, 527, 533, 546, 546, 549, 561, 561, 562, 574, 580, 593, 593, 597, 617, 617, 619, 619, 633, 643, 643, 646, 656, 663, 697, 703, 703, 705, 705, 734, 734, 739, 750, 751, 751, 754, 754]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 6903
Value counts:
Sadness     27
Neutral     11
Disgust     10
Anger        9
Fear         7
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [29, 41, 47, 73, 80, 80, 109, 117, 118, 138, 180, 180, 193, 195, 209, 216, 216, 225, 233, 241, 264, 266, 279, 279, 285, 300, 331, 347, 354, 354, 355, 355, 371, 371, 373, 373, 381, 398, 402, 436, 436, 438, 450, 525, 554, 561, 561, 587, 599, 599, 607, 620, 643, 643, 649, 650, 650, 652, 655, 657, 662, 662, 674, 674, 689, 705, 705, 712, 719, 725, 725, 732, 734, 734, 736, 751, 751, 763, 783, 786, 790]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7258
Value counts:
Sadness     27
Anger       11
Neutral     10
Hope         9
Disgust      9
Fear         7
Joy          5
Surprise     4
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 29, 55, 64, 69, 101, 101, 111, 138, 148, 168, 200, 200, 207, 220, 221, 228, 255, 255, 278, 280, 288, 290, 319, 321, 321, 321, 338, 338, 343, 343, 355, 355, 358, 358, 367, 375, 375, 378, 385, 385, 395, 406, 438, 467, 470, 472, 472, 479, 479, 494, 500, 513, 521, 527, 527, 536, 536, 538, 538, 561, 561, 569, 599, 608, 632, 639, 662, 662, 671, 671, 698, 720, 740, 740, 746, 746, 747, 753, 759, 778, 778]

===========================================================================

Size of combined df: (85, 2)
Number of tokens: 7296
Value counts:
Sadness     20
Anger       13
Disgust     12
Neutral     11
Hope        10
Fear         9
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [19, 27, 35, 38, 46, 49, 99, 139, 139, 149, 149, 150, 155, 157, 157, 200, 200, 202, 207, 213, 213, 214, 221, 239, 239, 253, 253, 254, 274, 284, 294, 338, 338, 339, 340, 341, 343, 343, 388, 402, 406, 436, 436, 446, 464, 464, 501, 501, 507, 514, 514, 522, 542, 542, 544, 561, 561, 578, 595, 595, 605, 617, 617, 622, 622, 639, 662, 662, 681, 694, 694, 703, 703, 710, 716, 723, 725, 725, 734, 734, 738, 743, 743, 767, 774]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7280
Value counts:
Sadness     21
Disgust     12
Neutral     11
Anger       10
Hope         8
Fear         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [9, 12, 21, 30, 32, 32, 35, 51, 87, 89, 107, 107, 108, 131, 144, 149, 149, 187, 192, 192, 208, 225, 239, 239, 250, 282, 299, 321, 321, 341, 354, 354, 362, 373, 373, 383, 402, 406, 427, 434, 438, 444, 464, 464, 477, 477, 511, 511, 530, 530, 536, 536, 564, 567, 567, 578, 592, 601, 619, 619, 632, 678, 681, 682, 683, 694, 694, 705, 705, 717, 720, 725, 725, 731, 739, 740, 740, 750, 769, 783]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7239
Value counts:
Sadness     19
Disgust     15
Neutral     11
Anger        9
Fear         9
Hope         7
Surprise     6
Joy          6
Name: emotion_no_2nd_neut, dtype: int64
Index: [1, 9, 9, 10, 10, 29, 30, 35, 41, 66, 112, 117, 157, 157, 167, 187, 191, 192, 192, 207, 209, 229, 253, 253, 269, 279, 279, 287, 295, 295, 299, 300, 304, 312, 321, 321, 343, 343, 345, 388, 393, 453, 480, 497, 501, 501, 511, 511, 531, 532, 549, 561, 561, 573, 587, 617, 617, 619, 619, 621, 621, 635, 645, 651, 666, 681, 692, 692, 694, 714, 714, 720, 727, 739, 751, 751, 759, 763, 773, 773, 774, 790]

===========================================================================

Size of combined df: (77, 2)
Number of tokens: 6808
Value counts:
Sadness     23
Neutral     11
Disgust      9
Hope         8
Anger        8
Fear         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [6, 7, 14, 14, 21, 29, 34, 36, 84, 94, 102, 102, 111, 120, 152, 155, 171, 207, 216, 216, 233, 239, 239, 256, 279, 279, 281, 286, 289, 290, 294, 296, 296, 300, 302, 327, 346, 347, 364, 375, 375, 381, 388, 402, 408, 436, 436, 438, 449, 449, 451, 454, 457, 467, 469, 522, 533, 569, 569, 600, 618, 641, 650, 650, 674, 674, 681, 691, 711, 712, 714, 714, 744, 746, 746, 774, 790]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7260
Value counts:
Sadness     22
Anger       11
Disgust     10
Neutral     10
Fear         9
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 1, 4, 7, 11, 11, 29, 33, 34, 35, 37, 55, 74, 102, 102, 137, 152, 154, 157, 157, 181, 181, 202, 216, 216, 234, 239, 243, 278, 295, 295, 311, 313, 313, 347, 355, 355, 371, 371, 383, 401, 432, 479, 479, 507, 510, 518, 540, 546, 546, 555, 563, 572, 575, 593, 593, 603, 613, 614, 633, 635, 643, 643, 664, 664, 678, 687, 694, 694, 696, 725, 732, 746, 765, 773, 773, 778, 778]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7293
Value counts:
Sadness     22
Disgust     12
Neutral     11
Anger       10
Fear         8
Hope         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [14, 34, 35, 49, 74, 102, 102, 103, 103, 110, 111, 121, 121, 139, 140, 151, 152, 163, 178, 207, 276, 276, 279, 279, 312, 315, 315, 325, 328, 338, 338, 343, 343, 345, 346, 352, 354, 354, 355, 355, 399, 400, 402, 406, 424, 438, 471, 473, 478, 478, 481, 530, 530, 539, 554, 567, 567, 593, 593, 594, 605, 618, 649, 657, 681, 691, 694, 694, 710, 720, 723, 725, 725, 734, 734, 739, 740, 751, 751, 767, 769]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7083
Value counts:
Sadness     24
Neutral     11
Disgust     11
Anger       10
Fear         8
Hope         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 24, 29, 32, 32, 39, 80, 80, 84, 96, 107, 107, 133, 149, 149, 150, 157, 157, 162, 169, 173, 207, 235, 252, 252, 278, 323, 343, 343, 346, 350, 379, 388, 405, 405, 424, 433, 438, 439, 441, 442, 447, 447, 449, 449, 518, 522, 538, 538, 542, 542, 555, 569, 569, 576, 596, 601, 615, 621, 621, 643, 643, 645, 650, 650, 665, 673, 681, 683, 703, 703, 705, 705, 714, 714, 725, 725, 739, 746, 746, 770, 774]

===========================================================================

Size of combined df: (85, 2)
Number of tokens: 7268
Value counts:
Sadness     24
Disgust     13
Anger       12
Neutral     11
Fear         7
Hope         7
Joy          6
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [11, 11, 33, 35, 45, 56, 57, 95, 116, 121, 121, 134, 149, 149, 157, 157, 160, 200, 200, 207, 235, 261, 276, 276, 295, 295, 305, 307, 313, 313, 321, 321, 321, 322, 330, 338, 338, 343, 343, 344, 346, 365, 372, 374, 402, 416, 432, 438, 454, 459, 472, 472, 480, 500, 522, 527, 527, 538, 538, 542, 542, 561, 561, 568, 586, 657, 664, 664, 670, 672, 707, 714, 714, 718, 725, 725, 729, 746, 746, 748, 748, 754, 754, 773, 773]

===========================================================================

Size of combined df: (85, 2)
Number of tokens: 7147
Value counts:
Sadness     26
Anger       12
Neutral     11
Disgust     11
Hope         8
Fear         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [13, 32, 32, 35, 44, 49, 97, 103, 103, 107, 107, 111, 121, 121, 154, 157, 157, 187, 194, 196, 197, 197, 200, 200, 225, 273, 278, 285, 295, 295, 319, 321, 321, 321, 324, 337, 361, 373, 373, 375, 375, 379, 383, 402, 416, 427, 438, 453, 453, 459, 485, 487, 491, 527, 527, 535, 536, 536, 540, 552, 592, 599, 599, 606, 613, 614, 617, 617, 618, 635, 646, 650, 650, 651, 664, 664, 671, 671, 700, 725, 725, 734, 734, 748, 748]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7214
Value counts:
Sadness     25
Anger       14
Neutral     11
Hope         8
Disgust      8
Fear         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [2, 29, 32, 32, 35, 38, 77, 94, 101, 101, 107, 107, 108, 122, 144, 148, 149, 149, 157, 157, 166, 187, 196, 200, 200, 207, 239, 239, 247, 254, 277, 278, 293, 300, 314, 319, 338, 338, 347, 350, 352, 356, 358, 358, 375, 375, 383, 436, 436, 447, 447, 449, 449, 453, 453, 483, 489, 495, 523, 527, 527, 530, 530, 538, 538, 555, 561, 561, 577, 579, 621, 621, 622, 622, 639, 654, 668, 681, 704, 710, 739, 770, 785]

===========================================================================

Size of combined df: (76, 2)
Number of tokens: 7271
Value counts:
Sadness     23
Neutral     10
Anger       10
Hope        10
Disgust      8
Fear         7
Joy          5
Surprise     3
Name: emotion_no_2nd_neut, dtype: int64
Index: [1, 14, 21, 22, 29, 33, 35, 65, 94, 102, 106, 149, 149, 181, 181, 196, 200, 200, 239, 239, 278, 279, 279, 280, 281, 295, 295, 315, 315, 321, 325, 338, 393, 402, 425, 449, 453, 471, 479, 479, 490, 500, 519, 551, 556, 556, 595, 595, 599, 599, 604, 617, 617, 631, 631, 643, 647, 651, 653, 662, 662, 663, 669, 705, 705, 708, 713, 726, 740, 740, 746, 746, 769, 784, 785, 790]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7244
Value counts:
Sadness     23
Anger       14
Neutral     10
Fear         9
Hope         6
Surprise     6
Disgust      6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [57, 99, 100, 140, 157, 157, 191, 197, 197, 224, 225, 239, 239, 244, 255, 255, 256, 272, 295, 295, 298, 313, 313, 335, 338, 346, 348, 358, 358, 373, 373, 383, 391, 402, 420, 420, 452, 459, 489, 492, 517, 517, 527, 527, 530, 530, 538, 538, 541, 542, 542, 561, 561, 565, 569, 569, 574, 593, 593, 599, 599, 608, 619, 619, 681, 694, 694, 726, 732, 736, 738, 739, 741, 746, 751, 751, 753, 773, 790]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7288
Value counts:
Sadness     25
Disgust     11
Neutral     10
Anger        9
Fear         8
Hope         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 27, 29, 32, 32, 35, 91, 94, 98, 102, 102, 107, 123, 124, 139, 139, 157, 157, 175, 181, 181, 187, 198, 205, 206, 216, 216, 225, 252, 252, 255, 255, 279, 295, 295, 296, 296, 313, 340, 342, 343, 343, 347, 416, 429, 432, 453, 453, 468, 492, 504, 508, 522, 530, 530, 534, 538, 538, 542, 542, 543, 563, 570, 599, 599, 622, 622, 636, 650, 650, 674, 674, 692, 692, 722, 736, 739, 749, 749, 767, 772]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7171
Value counts:
Sadness     20
Anger       12
Neutral     11
Disgust     11
Fear         8
Hope         7
Joy          6
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [3, 29, 34, 46, 68, 68, 84, 89, 150, 152, 157, 157, 168, 188, 216, 216, 226, 251, 253, 253, 255, 255, 289, 294, 295, 295, 307, 313, 313, 324, 346, 363, 371, 371, 382, 388, 394, 398, 402, 406, 408, 416, 421, 432, 444, 466, 466, 500, 538, 538, 542, 542, 550, 551, 561, 561, 589, 589, 595, 595, 619, 619, 621, 621, 624, 635, 640, 657, 663, 664, 664, 673, 676, 681, 722, 739, 763, 766, 788, 790]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7240
Value counts:
Sadness     22
Disgust     12
Anger       10
Neutral     10
Fear         9
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [11, 11, 29, 34, 65, 67, 84, 96, 101, 101, 121, 121, 139, 139, 149, 149, 150, 151, 152, 157, 157, 171, 181, 181, 236, 239, 272, 276, 276, 289, 294, 295, 295, 305, 343, 343, 345, 347, 349, 351, 371, 371, 383, 384, 386, 388, 416, 436, 436, 438, 466, 466, 474, 478, 478, 488, 514, 514, 520, 556, 561, 561, 563, 599, 599, 615, 619, 619, 633, 712, 714, 714, 725, 725, 743, 743, 760, 772, 781, 784]

===========================================================================

Size of combined df: (84, 2)
Number of tokens: 7119
Value counts:
Sadness     23
Disgust     12
Neutral     11
Fear        10
Anger        9
Hope         7
Joy          6
Surprise     6
Name: emotion_no_2nd_neut, dtype: int64
Index: [15, 35, 101, 101, 103, 103, 119, 144, 150, 156, 163, 173, 178, 187, 207, 225, 253, 253, 255, 255, 275, 275, 278, 285, 294, 295, 295, 317, 319, 329, 338, 338, 343, 343, 349, 355, 355, 360, 361, 373, 373, 378, 386, 388, 402, 435, 439, 449, 449, 477, 477, 479, 479, 500, 511, 511, 518, 525, 527, 527, 530, 530, 546, 546, 561, 561, 572, 593, 593, 599, 599, 605, 608, 619, 619, 626, 649, 661, 681, 715, 726, 739, 768, 783]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 6986
Value counts:
Sadness     24
Neutral     11
Disgust     11
Anger       10
Fear         8
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [7, 15, 21, 35, 59, 93, 95, 140, 149, 149, 150, 156, 161, 177, 180, 180, 187, 200, 200, 230, 233, 268, 292, 294, 295, 295, 313, 313, 316, 338, 338, 347, 381, 392, 393, 401, 402, 410, 425, 436, 436, 450, 500, 506, 542, 542, 556, 556, 561, 561, 574, 585, 591, 592, 620, 621, 621, 650, 650, 655, 684, 692, 692, 710, 718, 721, 734, 734, 736, 743, 743, 746, 746, 751, 751, 754, 754, 761, 763, 774, 783]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7212
Value counts:
Sadness     21
Disgust     13
Neutral     11
Anger        9
Fear         8
Hope         7
Surprise     5
Joy          4
Name: emotion_no_2nd_neut, dtype: int64
Index: [4, 15, 18, 65, 68, 68, 104, 122, 128, 147, 147, 149, 149, 150, 155, 196, 203, 207, 210, 230, 244, 272, 294, 295, 295, 310, 321, 321, 321, 337, 343, 343, 347, 355, 355, 379, 385, 449, 449, 464, 464, 478, 478, 483, 492, 512, 513, 529, 550, 561, 561, 574, 578, 579, 592, 619, 619, 647, 650, 650, 657, 662, 662, 681, 693, 725, 725, 730, 735, 739, 740, 740, 751, 751, 763, 769, 774, 790]

===========================================================================

Size of combined df: (85, 2)
Number of tokens: 7002
Value counts:
Sadness     25
Anger       14
Neutral     11
Disgust     10
Hope         8
Fear         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 1, 10, 10, 11, 11, 13, 29, 30, 52, 64, 67, 100, 103, 103, 104, 108, 150, 153, 182, 207, 225, 252, 252, 272, 275, 275, 294, 295, 295, 342, 343, 343, 355, 355, 373, 373, 398, 402, 404, 408, 413, 436, 436, 445, 449, 449, 478, 478, 498, 502, 508, 509, 510, 522, 525, 552, 580, 619, 619, 634, 643, 643, 662, 662, 671, 671, 681, 697, 703, 703, 706, 712, 734, 734, 745, 746, 746, 747, 748, 748, 754, 754, 790]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 6863
Value counts:
Sadness     22
Neutral     11
Anger       11
Disgust      9
Hope         9
Fear         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [20, 21, 42, 63, 72, 75, 80, 80, 90, 139, 139, 150, 179, 187, 239, 239, 244, 249, 253, 253, 259, 263, 272, 294, 295, 295, 301, 309, 333, 355, 355, 383, 395, 402, 420, 420, 436, 436, 449, 449, 453, 453, 490, 515, 529, 532, 553, 574, 592, 596, 603, 614, 617, 617, 624, 631, 631, 643, 643, 645, 646, 649, 664, 664, 681, 686, 694, 694, 701, 705, 705, 710, 731, 736, 767, 768, 773, 773, 783, 789]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7239
Value counts:
Sadness     23
Anger       14
Neutral     10
Hope         9
Disgust      8
Fear         8
Surprise     5
Joy          3
Name: emotion_no_2nd_neut, dtype: int64
Index: [14, 14, 32, 38, 73, 94, 102, 102, 107, 107, 157, 157, 188, 189, 189, 213, 213, 215, 240, 240, 245, 253, 253, 271, 277, 299, 347, 355, 360, 377, 399, 402, 437, 453, 453, 457, 464, 464, 475, 480, 502, 506, 512, 514, 514, 546, 546, 547, 556, 556, 557, 561, 561, 568, 575, 588, 593, 593, 620, 631, 631, 652, 664, 664, 666, 690, 703, 714, 714, 731, 738, 740, 740, 746, 746, 774, 778, 778, 781, 790]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7114
Value counts:
Sadness     22
Disgust     11
Neutral     11
Anger       10
Fear         8
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [14, 14, 21, 34, 35, 67, 81, 96, 102, 102, 104, 146, 150, 152, 157, 157, 162, 181, 181, 196, 206, 207, 212, 221, 226, 230, 249, 260, 273, 278, 294, 311, 332, 337, 343, 343, 355, 355, 367, 380, 391, 400, 434, 447, 447, 453, 453, 463, 471, 498, 512, 515, 522, 523, 588, 618, 619, 619, 624, 643, 643, 650, 650, 681, 694, 694, 703, 703, 722, 723, 725, 725, 730, 740, 740, 743, 743, 757, 785]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 6539
Value counts:
Sadness     23
Neutral     11
Disgust     10
Fear         9
Anger        9
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [20, 29, 32, 32, 35, 57, 94, 114, 114, 157, 157, 168, 183, 187, 204, 238, 249, 250, 253, 253, 284, 287, 295, 295, 300, 307, 321, 321, 321, 331, 338, 338, 346, 347, 373, 373, 391, 402, 432, 433, 454, 468, 473, 480, 497, 517, 517, 522, 542, 542, 549, 554, 556, 556, 615, 616, 617, 617, 619, 619, 620, 632, 645, 664, 664, 665, 696, 706, 734, 734, 748, 748, 763, 764, 769, 778, 778, 782, 790]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 6872
Value counts:
Sadness     22
Disgust     12
Neutral     11
Hope         9
Anger        9
Fear         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [1, 9, 9, 14, 14, 21, 29, 34, 42, 44, 68, 68, 74, 80, 80, 84, 85, 94, 101, 101, 102, 102, 111, 114, 114, 117, 152, 181, 181, 200, 200, 207, 209, 217, 217, 224, 246, 246, 306, 338, 338, 343, 343, 346, 347, 377, 386, 400, 402, 406, 415, 435, 440, 443, 466, 466, 473, 485, 491, 508, 560, 561, 561, 620, 627, 664, 664, 669, 680, 681, 682, 686, 694, 694, 725, 725, 735, 739, 740, 740, 790]

===========================================================================

Size of combined df: (77, 2)
Number of tokens: 7294
Value counts:
Sadness     22
Neutral     11
Anger        9
Fear         9
Disgust      9
Surprise     6
Hope         6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 11, 11, 15, 19, 21, 65, 88, 111, 112, 130, 139, 141, 181, 181, 187, 191, 225, 233, 253, 254, 259, 295, 295, 302, 306, 324, 326, 338, 338, 347, 383, 396, 402, 438, 443, 445, 463, 475, 486, 492, 500, 518, 527, 527, 535, 538, 538, 546, 546, 556, 556, 577, 580, 622, 622, 627, 633, 670, 672, 681, 699, 705, 705, 708, 720, 725, 725, 734, 748, 748, 751, 751, 762, 773, 773]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7247
Value counts:
Sadness     24
Anger       12
Disgust     11
Neutral     11
Fear         8
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 6, 21, 29, 32, 32, 36, 51, 66, 70, 74, 111, 135, 152, 155, 157, 157, 173, 177, 187, 220, 240, 240, 252, 252, 259, 268, 272, 294, 296, 296, 313, 313, 355, 355, 358, 358, 367, 388, 402, 406, 416, 449, 449, 457, 485, 498, 503, 527, 527, 544, 565, 567, 567, 591, 597, 599, 599, 612, 613, 617, 617, 618, 643, 643, 645, 689, 708, 714, 714, 720, 740, 740, 746, 746, 748, 748, 751, 751, 767, 776, 777]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7240
Value counts:
Sadness     22
Disgust     12
Neutral     10
Anger       10
Fear         9
Hope         7
Surprise     7
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [3, 21, 35, 41, 52, 101, 101, 102, 102, 121, 121, 126, 135, 140, 141, 157, 157, 172, 181, 181, 187, 195, 223, 246, 246, 253, 253, 272, 275, 275, 278, 285, 286, 290, 299, 336, 346, 352, 355, 355, 365, 377, 395, 406, 433, 479, 479, 502, 511, 511, 536, 538, 538, 561, 561, 591, 593, 593, 598, 603, 619, 619, 621, 621, 643, 643, 646, 671, 694, 694, 703, 703, 714, 731, 736, 738, 743, 743, 747, 751, 751, 776]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7113
Value counts:
Sadness     25
Anger       11
Neutral     11
Disgust      9
Fear         9
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [15, 24, 29, 34, 97, 152, 186, 210, 216, 216, 219, 225, 238, 239, 239, 242, 253, 253, 261, 275, 275, 278, 279, 279, 290, 323, 339, 346, 355, 355, 358, 358, 361, 371, 371, 372, 373, 373, 383, 388, 391, 401, 435, 436, 436, 438, 458, 464, 464, 478, 478, 479, 479, 492, 506, 519, 541, 557, 561, 561, 593, 593, 594, 599, 599, 615, 617, 617, 618, 621, 621, 659, 665, 681, 693, 719, 731, 745, 746, 746, 778, 778]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7246
Value counts:
Sadness     21
Disgust     13
Neutral     11
Anger       10
Fear         8
Hope         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [42, 94, 145, 146, 150, 152, 157, 157, 175, 179, 181, 181, 185, 186, 194, 201, 215, 216, 216, 235, 249, 272, 294, 295, 295, 314, 343, 347, 354, 354, 355, 355, 367, 396, 402, 405, 405, 406, 432, 466, 466, 510, 515, 526, 527, 527, 546, 546, 549, 572, 574, 577, 586, 588, 592, 593, 593, 619, 619, 621, 621, 643, 643, 669, 674, 674, 681, 683, 700, 737, 738, 740, 740, 770, 772, 773, 773, 778, 778, 786, 790]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7158
Value counts:
Sadness     23
Disgust     11
Neutral     11
Anger        9
Fear         9
Hope         8
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 29, 34, 106, 122, 139, 139, 162, 164, 166, 177, 185, 187, 207, 225, 244, 253, 253, 261, 262, 281, 295, 295, 302, 338, 338, 343, 343, 346, 356, 361, 372, 373, 373, 433, 436, 436, 438, 522, 527, 527, 528, 554, 560, 564, 580, 619, 619, 622, 622, 638, 641, 645, 648, 648, 651, 663, 664, 664, 668, 673, 674, 674, 681, 689, 703, 703, 705, 705, 726, 729, 736, 740, 740, 749, 749, 751, 751, 756, 766, 769]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7261
Value counts:
Sadness     27
Disgust     11
Neutral     10
Hope         8
Fear         7
Anger        7
Surprise     5
Joy          4
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 2, 11, 11, 22, 24, 29, 67, 97, 147, 147, 157, 157, 180, 180, 187, 208, 234, 239, 239, 278, 295, 296, 296, 297, 319, 320, 328, 355, 355, 359, 365, 373, 381, 383, 387, 438, 439, 462, 463, 472, 472, 518, 539, 540, 589, 589, 594, 595, 599, 599, 604, 606, 608, 617, 617, 628, 631, 631, 643, 643, 650, 662, 662, 686, 696, 705, 723, 731, 736, 743, 743, 763, 773, 773, 778, 778, 779]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 6911
Value counts:
Sadness     22
Anger       13
Neutral     11
Disgust      8
Hope         8
Fear         8
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 11, 11, 21, 53, 75, 80, 80, 98, 107, 107, 111, 125, 139, 139, 157, 157, 158, 169, 178, 194, 272, 276, 276, 306, 328, 338, 338, 348, 355, 355, 361, 370, 374, 383, 388, 402, 404, 408, 414, 416, 420, 420, 436, 436, 438, 453, 453, 471, 474, 480, 481, 492, 500, 530, 530, 542, 542, 546, 546, 549, 556, 556, 574, 584, 664, 664, 684, 727, 729, 739, 746, 746, 760, 763, 764, 770, 784, 791]

===========================================================================

Size of combined df: (84, 2)
Number of tokens: 7261
Value counts:
Sadness     29
Disgust     11
Neutral     11
Anger        9
Hope         7
Fear         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [14, 14, 23, 25, 34, 35, 80, 80, 87, 98, 117, 185, 197, 197, 209, 221, 236, 249, 262, 276, 276, 285, 287, 295, 295, 298, 298, 315, 315, 343, 343, 347, 355, 355, 368, 378, 385, 385, 402, 407, 421, 438, 477, 477, 482, 496, 523, 528, 530, 530, 536, 542, 542, 552, 560, 562, 565, 576, 581, 586, 599, 599, 619, 619, 621, 621, 647, 669, 699, 700, 703, 703, 714, 714, 725, 725, 743, 743, 746, 746, 757, 763, 769, 774]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7298
Value counts:
Sadness     23
Anger       15
Neutral     11
Disgust     11
Fear         7
Surprise     5
Hope         5
Joy          3
Name: emotion_no_2nd_neut, dtype: int64
Index: [31, 44, 109, 120, 133, 139, 139, 147, 147, 157, 157, 164, 169, 196, 197, 197, 253, 272, 279, 279, 295, 298, 298, 313, 313, 321, 321, 321, 343, 343, 346, 348, 355, 355, 357, 358, 358, 372, 373, 373, 382, 388, 396, 432, 436, 436, 449, 464, 464, 489, 522, 523, 525, 526, 538, 538, 549, 557, 609, 617, 617, 628, 632, 643, 643, 681, 702, 705, 705, 706, 714, 714, 715, 727, 732, 739, 766, 776, 778, 778]

===========================================================================

Size of combined df: (75, 2)
Number of tokens: 6500
Value counts:
Sadness     19
Neutral     11
Anger       10
Disgust      9
Fear         8
Hope         8
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [18, 21, 29, 32, 32, 35, 62, 66, 70, 74, 95, 107, 107, 111, 115, 177, 185, 187, 200, 200, 207, 253, 253, 258, 269, 270, 274, 279, 279, 290, 320, 329, 333, 338, 338, 343, 343, 354, 354, 388, 391, 393, 397, 402, 493, 574, 576, 592, 593, 593, 606, 638, 658, 665, 671, 671, 681, 682, 706, 713, 714, 714, 715, 725, 725, 736, 740, 740, 747, 751, 751, 754, 754, 765, 774]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7296
Value counts:
Sadness     23
Anger       12
Neutral     11
Disgust      9
Hope         7
Fear         6
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [14, 14, 19, 23, 35, 38, 39, 43, 64, 87, 102, 102, 103, 103, 111, 124, 149, 149, 157, 165, 170, 187, 216, 246, 246, 253, 253, 264, 271, 276, 276, 278, 284, 295, 295, 310, 358, 358, 360, 377, 381, 391, 392, 434, 440, 453, 453, 458, 480, 487, 499, 546, 546, 561, 561, 569, 569, 573, 595, 595, 615, 620, 629, 629, 646, 681, 705, 705, 723, 734, 734, 736, 743, 743, 751, 763, 774, 790]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7236
Value counts:
Sadness     25
Disgust     11
Neutral     11
Anger       10
Hope         7
Fear         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 11, 11, 28, 29, 44, 64, 117, 132, 150, 161, 189, 189, 206, 209, 223, 268, 272, 276, 276, 279, 279, 294, 315, 315, 331, 348, 355, 355, 368, 382, 402, 405, 405, 411, 430, 436, 436, 449, 449, 451, 496, 505, 515, 518, 543, 545, 561, 561, 570, 589, 589, 591, 595, 595, 599, 599, 635, 643, 643, 661, 681, 685, 687, 703, 703, 705, 705, 709, 714, 714, 723, 736, 739, 743, 743, 748, 748, 763, 773, 773]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7277
Value counts:
Sadness     29
Anger       11
Neutral     10
Disgust     10
Fear         6
Hope         5
Surprise     5
Joy          3
Name: emotion_no_2nd_neut, dtype: int64
Index: [14, 21, 97, 102, 102, 131, 132, 158, 189, 189, 192, 192, 201, 231, 247, 249, 253, 253, 255, 255, 268, 272, 295, 295, 300, 355, 355, 358, 358, 363, 373, 373, 391, 443, 447, 472, 472, 480, 483, 487, 491, 500, 522, 536, 536, 555, 558, 563, 565, 567, 567, 569, 569, 589, 589, 599, 599, 621, 635, 643, 643, 650, 650, 662, 662, 680, 703, 710, 739, 740, 740, 743, 743, 749, 749, 754, 754, 771, 783]

===========================================================================

Size of combined df: (77, 2)
Number of tokens: 6738
Value counts:
Sadness     22
Neutral     11
Anger       10
Fear         8
Hope         8
Disgust      7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [35, 37, 64, 97, 100, 142, 150, 167, 171, 187, 200, 200, 217, 217, 239, 239, 260, 264, 268, 285, 289, 294, 295, 295, 299, 301, 334, 338, 338, 343, 343, 355, 355, 377, 406, 413, 416, 432, 436, 436, 438, 453, 453, 465, 480, 486, 506, 519, 521, 525, 529, 535, 542, 542, 549, 555, 557, 561, 561, 575, 588, 593, 593, 621, 621, 634, 651, 654, 688, 695, 698, 705, 705, 751, 751, 769, 791]

===========================================================================

Size of combined df: (85, 2)
Number of tokens: 7259
Value counts:
Sadness     25
Anger       12
Neutral     11
Disgust     10
Hope         8
Fear         8
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [19, 21, 29, 38, 85, 96, 101, 101, 108, 128, 133, 139, 139, 148, 164, 191, 200, 200, 215, 224, 241, 253, 253, 280, 286, 295, 295, 313, 313, 328, 329, 338, 338, 347, 366, 383, 402, 406, 442, 455, 475, 477, 477, 478, 478, 500, 507, 511, 511, 518, 536, 536, 538, 538, 542, 542, 559, 561, 561, 564, 593, 593, 600, 619, 619, 629, 629, 631, 631, 674, 674, 694, 694, 712, 720, 731, 734, 734, 738, 743, 743, 751, 751, 760, 767]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7277
Value counts:
Sadness     26
Neutral     11
Anger       10
Disgust      9
Hope         9
Fear         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [29, 32, 32, 80, 80, 84, 99, 100, 102, 102, 107, 107, 111, 125, 128, 129, 137, 138, 139, 139, 157, 157, 165, 174, 185, 186, 187, 193, 228, 236, 239, 239, 240, 252, 252, 253, 253, 268, 295, 295, 319, 355, 355, 371, 371, 390, 432, 436, 445, 455, 474, 499, 517, 517, 522, 523, 536, 536, 567, 567, 574, 594, 606, 619, 619, 652, 662, 662, 674, 674, 681, 686, 703, 721, 726, 749, 749, 751, 751, 755, 778, 778]

===========================================================================

Size of combined df: (84, 2)
Number of tokens: 6703
Value counts:
Sadness     21
Anger       15
Neutral     11
Disgust     11
Hope         9
Fear         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [10, 10, 21, 22, 34, 35, 54, 57, 112, 117, 121, 121, 131, 139, 139, 152, 157, 157, 180, 180, 199, 200, 200, 207, 209, 252, 252, 253, 253, 279, 279, 282, 283, 299, 304, 307, 313, 313, 346, 348, 368, 373, 373, 402, 416, 430, 436, 436, 445, 453, 453, 478, 478, 488, 489, 497, 516, 517, 517, 527, 527, 534, 538, 538, 547, 599, 599, 642, 653, 664, 664, 681, 692, 692, 696, 714, 714, 718, 730, 732, 739, 757, 760, 769]

===========================================================================

Size of combined df: (86, 2)
Number of tokens: 7163
Value counts:
Sadness     26
Disgust     13
Neutral     11
Fear         9
Hope         9
Anger        8
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [10, 10, 29, 32, 32, 35, 46, 56, 72, 99, 108, 119, 120, 151, 165, 180, 180, 187, 200, 200, 218, 226, 235, 263, 267, 279, 279, 292, 299, 311, 318, 321, 321, 321, 330, 338, 338, 341, 343, 343, 371, 371, 402, 420, 420, 429, 435, 436, 436, 437, 438, 449, 449, 479, 479, 480, 497, 522, 530, 530, 580, 619, 619, 631, 631, 655, 662, 662, 665, 681, 692, 692, 703, 703, 708, 734, 734, 736, 741, 746, 746, 759, 763, 767, 773, 773]

===========================================================================

Size of combined df: (85, 2)
Number of tokens: 7285
Value counts:
Sadness     26
Neutral     11
Disgust     11
Anger       10
Fear         8
Hope         8
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [5, 9, 9, 10, 10, 15, 22, 29, 32, 32, 35, 57, 72, 107, 138, 139, 139, 149, 149, 187, 204, 222, 238, 252, 252, 253, 253, 256, 257, 278, 279, 279, 296, 296, 306, 316, 338, 338, 342, 344, 354, 354, 355, 355, 364, 373, 373, 399, 402, 406, 423, 426, 455, 480, 483, 538, 558, 561, 561, 575, 593, 593, 595, 595, 603, 605, 629, 629, 643, 643, 650, 650, 705, 705, 714, 714, 715, 739, 751, 751, 763, 767, 774, 777, 790]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7274
Value counts:
Sadness     21
Disgust     12
Neutral     11
Anger        9
Fear         8
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [14, 14, 29, 35, 75, 94, 101, 101, 102, 102, 110, 111, 121, 121, 122, 123, 153, 167, 177, 180, 180, 181, 181, 187, 208, 218, 225, 235, 239, 239, 241, 246, 246, 275, 275, 279, 279, 295, 295, 315, 315, 321, 321, 321, 339, 342, 347, 355, 355, 383, 406, 410, 432, 438, 454, 478, 478, 523, 527, 527, 544, 570, 575, 578, 592, 662, 665, 726, 737, 746, 746, 747, 756, 769, 773, 773, 784, 790]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7268
Value counts:
Sadness     29
Anger       13
Neutral     11
Fear         8
Disgust      7
Joy          5
Hope         5
Surprise     4
Name: emotion_no_2nd_neut, dtype: int64
Index: [7, 23, 38, 98, 157, 157, 178, 200, 200, 253, 253, 262, 263, 295, 295, 298, 298, 314, 315, 315, 337, 338, 338, 355, 355, 361, 385, 385, 400, 402, 411, 433, 436, 436, 439, 442, 449, 449, 453, 472, 478, 478, 490, 500, 522, 526, 527, 538, 538, 592, 599, 599, 615, 622, 622, 626, 629, 629, 667, 674, 674, 679, 681, 682, 705, 711, 734, 734, 736, 745, 746, 746, 748, 748, 749, 749, 750, 751, 768, 778, 778, 789]

===========================================================================

Size of combined df: (84, 2)
Number of tokens: 7296
Value counts:
Sadness     27
Neutral     11
Anger       11
Disgust     10
Hope         8
Fear         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 29, 32, 32, 35, 67, 68, 68, 80, 80, 100, 107, 107, 112, 118, 131, 135, 207, 216, 216, 217, 217, 218, 239, 239, 245, 255, 255, 269, 272, 283, 334, 343, 343, 346, 349, 371, 371, 375, 375, 379, 382, 383, 392, 397, 418, 432, 436, 436, 438, 449, 449, 474, 522, 561, 561, 567, 567, 569, 569, 573, 575, 583, 606, 619, 619, 629, 629, 653, 667, 670, 692, 692, 694, 694, 698, 704, 739, 740, 740, 744, 778, 778, 784]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7258
Value counts:
Sadness     26
Neutral     11
Anger        9
Disgust      9
Fear         8
Surprise     6
Hope         6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [14, 21, 29, 32, 32, 69, 70, 74, 102, 102, 107, 107, 111, 132, 144, 163, 178, 212, 235, 239, 239, 303, 319, 327, 354, 354, 355, 355, 356, 359, 369, 377, 383, 402, 405, 405, 436, 436, 449, 449, 476, 484, 500, 513, 522, 527, 527, 533, 534, 558, 561, 561, 567, 567, 569, 569, 599, 599, 638, 647, 655, 684, 694, 694, 695, 703, 703, 731, 732, 734, 734, 743, 754, 754, 763, 775, 778, 778, 781, 791]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 6848
Value counts:
Sadness     23
Anger       12
Neutral     11
Disgust     10
Hope         8
Fear         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 11, 11, 21, 29, 54, 65, 72, 95, 138, 150, 157, 157, 178, 199, 201, 215, 219, 225, 235, 238, 239, 239, 269, 284, 288, 293, 294, 299, 315, 315, 318, 328, 343, 343, 345, 346, 372, 382, 383, 402, 410, 431, 436, 436, 453, 453, 464, 464, 466, 466, 477, 477, 480, 514, 514, 522, 537, 549, 559, 561, 561, 619, 619, 622, 622, 631, 631, 643, 643, 651, 654, 662, 662, 694, 694, 720, 755, 769, 775, 780]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7223
Value counts:
Sadness     20
Disgust     13
Neutral     11
Anger        9
Fear         8
Surprise     6
Hope         6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [9, 9, 21, 29, 44, 113, 117, 140, 150, 154, 156, 161, 167, 184, 207, 209, 224, 226, 235, 237, 276, 276, 294, 296, 296, 298, 298, 299, 309, 310, 315, 315, 326, 338, 338, 354, 355, 355, 371, 371, 393, 406, 416, 436, 436, 438, 483, 500, 510, 514, 514, 517, 517, 527, 527, 538, 538, 556, 556, 561, 575, 576, 589, 589, 621, 621, 704, 725, 725, 731, 740, 747, 773, 773, 784, 785, 788, 790]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7271
Value counts:
Sadness     24
Anger       12
Neutral     11
Disgust      8
Fear         8
Hope         8
Joy          5
Surprise     4
Name: emotion_no_2nd_neut, dtype: int64
Index: [10, 10, 34, 35, 36, 119, 131, 139, 139, 146, 152, 157, 157, 186, 197, 197, 222, 225, 238, 239, 239, 243, 250, 253, 253, 285, 297, 301, 338, 338, 341, 353, 354, 354, 358, 358, 368, 379, 383, 385, 385, 402, 405, 405, 436, 438, 449, 449, 451, 464, 490, 500, 561, 561, 574, 584, 593, 593, 594, 599, 599, 604, 639, 643, 643, 658, 668, 692, 692, 700, 740, 740, 742, 748, 751, 751, 756, 778, 778, 790]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7247
Value counts:
Sadness     23
Neutral     11
Disgust     10
Anger        9
Hope         7
Fear         7
Joy          6
Surprise     6
Name: emotion_no_2nd_neut, dtype: int64
Index: [29, 32, 32, 73, 74, 82, 94, 95, 107, 107, 111, 114, 114, 115, 126, 133, 139, 157, 157, 181, 181, 183, 189, 189, 208, 225, 226, 239, 239, 240, 252, 252, 292, 295, 295, 328, 335, 347, 373, 373, 382, 383, 402, 404, 420, 438, 479, 479, 486, 509, 547, 561, 561, 573, 593, 611, 617, 617, 619, 619, 621, 621, 634, 653, 677, 683, 694, 694, 724, 734, 734, 737, 739, 748, 748, 769, 773, 773, 785]

===========================================================================

Size of combined df: (86, 2)
Number of tokens: 6963
Value counts:
Sadness     27
Anger       11
Neutral     11
Disgust     10
Fear         8
Hope         8
Joy          6
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [10, 10, 21, 29, 35, 82, 103, 103, 106, 139, 139, 156, 157, 157, 173, 223, 246, 246, 253, 253, 290, 295, 295, 301, 319, 324, 338, 338, 340, 346, 365, 378, 379, 380, 390, 432, 434, 436, 436, 437, 447, 447, 461, 489, 493, 500, 515, 527, 527, 530, 530, 536, 536, 561, 561, 565, 571, 575, 633, 648, 648, 664, 664, 666, 679, 693, 699, 702, 703, 703, 734, 734, 746, 746, 749, 749, 751, 751, 755, 761, 773, 773, 774, 778, 778, 785]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7292
Value counts:
Sadness     24
Anger       12
Neutral     10
Disgust      9
Fear         8
Surprise     6
Hope         6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 11, 11, 13, 21, 35, 37, 64, 146, 149, 149, 157, 157, 181, 193, 219, 225, 240, 240, 252, 252, 299, 318, 321, 321, 321, 338, 338, 343, 343, 346, 349, 355, 355, 413, 429, 441, 448, 449, 459, 466, 466, 475, 480, 499, 500, 530, 530, 536, 536, 555, 561, 561, 566, 575, 595, 609, 617, 622, 622, 626, 631, 643, 643, 648, 667, 682, 683, 692, 692, 731, 735, 738, 743, 743, 750, 773, 773, 776]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7165
Value counts:
Sadness     23
Neutral     11
Anger       10
Disgust     10
Hope         9
Fear         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [2, 14, 14, 20, 21, 23, 25, 29, 32, 32, 35, 37, 38, 56, 64, 68, 68, 102, 102, 107, 107, 111, 139, 139, 155, 173, 184, 208, 225, 230, 234, 236, 253, 253, 275, 275, 296, 296, 302, 319, 361, 373, 373, 399, 402, 418, 424, 426, 427, 430, 434, 438, 452, 468, 484, 496, 547, 556, 556, 562, 593, 593, 608, 617, 617, 626, 662, 662, 684, 703, 703, 710, 734, 734, 736, 739, 763, 770, 773, 773]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7182
Value counts:
Sadness     24
Neutral     11
Disgust     10
Fear         9
Anger        9
Hope         8
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 11, 11, 21, 35, 60, 64, 90, 100, 117, 118, 121, 121, 137, 147, 147, 157, 157, 163, 176, 193, 199, 200, 200, 209, 221, 229, 253, 253, 271, 278, 298, 298, 338, 338, 346, 348, 355, 355, 357, 367, 388, 417, 420, 420, 425, 438, 466, 466, 474, 480, 487, 500, 504, 518, 531, 545, 604, 607, 623, 626, 648, 648, 675, 703, 703, 725, 725, 730, 739, 746, 746, 751, 751, 752, 762, 763, 773, 773, 778, 778]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7299
Value counts:
Sadness     24
Disgust     11
Neutral     11
Anger        8
Fear         7
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [9, 9, 35, 64, 68, 68, 83, 106, 110, 127, 147, 147, 149, 158, 161, 174, 177, 191, 193, 219, 239, 239, 253, 253, 262, 268, 278, 292, 295, 295, 296, 302, 334, 339, 355, 355, 364, 383, 388, 399, 402, 416, 478, 478, 492, 498, 512, 523, 538, 561, 561, 564, 574, 575, 593, 597, 599, 599, 617, 617, 621, 621, 631, 634, 643, 650, 651, 653, 690, 704, 714, 714, 716, 725, 725, 743, 743, 782]

===========================================================================

Size of combined df: (75, 2)
Number of tokens: 7253
Value counts:
Sadness     19
Disgust     13
Neutral      9
Fear         9
Anger        8
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [9, 9, 14, 14, 29, 100, 101, 101, 102, 117, 140, 191, 192, 192, 194, 209, 213, 235, 242, 246, 253, 253, 261, 295, 297, 298, 298, 300, 338, 338, 343, 349, 355, 355, 372, 373, 373, 388, 402, 438, 440, 477, 477, 506, 532, 538, 538, 552, 562, 578, 607, 619, 643, 643, 648, 648, 672, 683, 705, 705, 708, 712, 725, 731, 734, 734, 736, 740, 740, 751, 751, 752, 773, 773, 781]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7209
Value counts:
Sadness     26
Neutral     11
Disgust     11
Anger        9
Fear         8
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [10, 10, 21, 32, 32, 35, 64, 111, 116, 150, 155, 177, 186, 187, 190, 210, 217, 217, 220, 249, 279, 279, 294, 295, 295, 318, 325, 329, 336, 346, 352, 361, 363, 371, 371, 385, 385, 416, 435, 437, 501, 508, 525, 529, 530, 530, 536, 536, 542, 542, 561, 561, 564, 582, 590, 592, 596, 650, 650, 663, 664, 664, 666, 681, 694, 694, 695, 698, 703, 703, 712, 725, 725, 729, 734, 734, 740, 740, 751, 751, 762, 776]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 6971
Value counts:
Sadness     26
Neutral     11
Disgust     10
Anger        9
Surprise     7
Hope         7
Fear         7
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [6, 14, 14, 24, 29, 45, 53, 100, 102, 102, 111, 117, 132, 178, 184, 209, 216, 216, 217, 217, 239, 239, 242, 244, 246, 246, 251, 274, 277, 283, 285, 286, 295, 295, 299, 305, 346, 355, 355, 369, 372, 375, 375, 383, 392, 406, 414, 427, 436, 436, 487, 518, 527, 527, 536, 536, 542, 542, 561, 561, 575, 585, 593, 593, 595, 595, 628, 643, 643, 662, 662, 678, 681, 715, 719, 757, 761, 762, 769, 772, 773, 773]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7020
Value counts:
Sadness     24
Anger       11
Neutral     11
Fear         9
Disgust      9
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 30, 32, 32, 34, 35, 47, 64, 102, 102, 107, 107, 140, 141, 152, 193, 203, 224, 235, 240, 240, 255, 255, 264, 278, 295, 295, 327, 336, 338, 338, 346, 351, 355, 355, 364, 375, 375, 389, 403, 426, 434, 464, 464, 479, 479, 500, 517, 517, 530, 530, 556, 556, 573, 578, 593, 593, 594, 601, 644, 657, 663, 679, 681, 682, 720, 721, 722, 734, 734, 746, 746, 755, 758, 762, 763, 773, 773, 778, 778, 790]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7157
Value counts:
Sadness     26
Disgust     13
Neutral     11
Anger        8
Hope         8
Fear         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [24, 35, 37, 38, 42, 56, 80, 80, 85, 105, 187, 195, 215, 216, 216, 221, 226, 239, 239, 250, 279, 279, 280, 294, 295, 295, 326, 337, 348, 350, 371, 371, 373, 373, 399, 402, 416, 432, 438, 439, 470, 472, 472, 473, 478, 478, 479, 479, 489, 496, 501, 501, 507, 542, 542, 548, 558, 574, 619, 619, 631, 631, 634, 674, 674, 681, 694, 694, 705, 705, 708, 711, 720, 731, 745, 748, 748, 751, 751, 760, 773, 773, 774]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 6468
Value counts:
Sadness     22
Disgust     11
Neutral     11
Anger        9
Hope         8
Fear         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [32, 32, 35, 42, 65, 117, 147, 147, 150, 152, 155, 157, 157, 164, 166, 173, 187, 209, 216, 216, 228, 242, 246, 246, 311, 316, 325, 330, 335, 338, 338, 369, 383, 387, 406, 419, 432, 438, 453, 453, 455, 466, 466, 467, 502, 518, 520, 527, 527, 530, 530, 537, 539, 561, 561, 586, 619, 619, 642, 650, 650, 681, 684, 691, 694, 694, 695, 696, 710, 711, 729, 746, 746, 749, 749, 761, 773, 773]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 6725
Value counts:
Sadness     23
Neutral     11
Anger       11
Hope         8
Disgust      8
Surprise     7
Fear         7
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 10, 10, 11, 11, 21, 29, 30, 40, 45, 68, 68, 82, 134, 141, 169, 197, 197, 200, 200, 222, 225, 236, 238, 252, 252, 278, 284, 285, 308, 319, 327, 331, 347, 355, 355, 373, 373, 379, 402, 430, 435, 436, 436, 453, 453, 462, 464, 464, 500, 522, 525, 527, 527, 535, 536, 536, 551, 554, 571, 592, 616, 619, 619, 630, 650, 650, 660, 681, 734, 734, 736, 746, 746, 769, 772, 773, 773, 781]

===========================================================================

Size of combined df: (84, 2)
Number of tokens: 7264
Value counts:
Sadness     26
Neutral     11
Disgust     11
Anger       10
Fear         8
Hope         8
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [10, 10, 14, 14, 29, 32, 32, 49, 77, 80, 80, 83, 85, 93, 102, 102, 120, 150, 153, 159, 160, 180, 180, 203, 216, 216, 251, 279, 279, 295, 295, 297, 319, 342, 346, 355, 355, 383, 392, 399, 416, 421, 434, 438, 453, 453, 489, 505, 508, 509, 513, 527, 527, 542, 542, 559, 575, 619, 619, 631, 631, 637, 643, 643, 648, 648, 650, 650, 659, 681, 696, 705, 705, 727, 731, 751, 751, 754, 754, 760, 778, 778, 780, 787]

===========================================================================

Size of combined df: (77, 2)
Number of tokens: 7154
Value counts:
Sadness     23
Neutral     11
Disgust     10
Anger        9
Hope         8
Fear         7
Joy          5
Surprise     4
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 23, 83, 93, 98, 110, 114, 114, 117, 121, 121, 125, 132, 149, 177, 192, 192, 209, 215, 216, 217, 217, 230, 251, 253, 253, 259, 295, 295, 296, 296, 299, 316, 355, 355, 371, 371, 377, 382, 388, 402, 416, 453, 453, 456, 459, 497, 504, 509, 511, 514, 514, 538, 538, 549, 554, 561, 561, 565, 619, 619, 666, 698, 700, 734, 734, 739, 740, 740, 746, 746, 754, 754, 769, 774, 778, 790]

===========================================================================

Size of combined df: (85, 2)
Number of tokens: 7146
Value counts:
Sadness     22
Disgust     15
Anger       12
Neutral     11
Hope         8
Fear         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [2, 10, 10, 22, 29, 32, 32, 34, 35, 37, 81, 90, 106, 107, 107, 108, 119, 131, 139, 139, 150, 151, 152, 157, 157, 164, 194, 195, 200, 200, 207, 208, 248, 255, 255, 294, 295, 295, 307, 311, 340, 343, 343, 356, 365, 383, 398, 500, 511, 511, 517, 517, 567, 567, 569, 569, 595, 595, 600, 608, 617, 617, 619, 619, 662, 662, 671, 671, 672, 681, 687, 692, 692, 694, 694, 696, 703, 703, 716, 724, 725, 725, 773, 773, 774]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7173
Value counts:
Sadness     22
Disgust     13
Anger       11
Neutral     10
Hope         6
Fear         6
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [24, 35, 39, 94, 95, 147, 147, 163, 179, 181, 197, 197, 213, 213, 225, 228, 233, 262, 268, 270, 274, 292, 295, 295, 326, 338, 338, 357, 359, 368, 373, 373, 375, 375, 385, 397, 402, 453, 501, 501, 536, 536, 538, 538, 546, 546, 553, 554, 561, 561, 563, 592, 593, 593, 600, 601, 617, 618, 643, 648, 648, 681, 693, 705, 705, 725, 725, 736, 741, 746, 746, 773, 773, 778, 778, 783, 786, 787]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7252
Value counts:
Sadness     22
Disgust     12
Neutral     11
Anger       11
Fear         8
Hope         6
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [11, 11, 21, 29, 34, 35, 39, 42, 54, 127, 128, 149, 149, 152, 160, 162, 177, 181, 181, 189, 189, 198, 210, 213, 213, 217, 217, 232, 253, 253, 256, 274, 278, 284, 299, 319, 321, 321, 321, 344, 346, 351, 352, 355, 355, 366, 375, 375, 386, 395, 406, 409, 438, 452, 458, 472, 472, 504, 527, 527, 593, 593, 599, 599, 603, 617, 654, 664, 664, 694, 695, 696, 705, 705, 720, 726, 731, 742, 751, 751]

===========================================================================

Size of combined df: (85, 2)
Number of tokens: 7229
Value counts:
Sadness     23
Anger       13
Neutral     11
Disgust     11
Fear         8
Hope         8
Joy          6
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [9, 9, 11, 11, 21, 32, 32, 40, 52, 69, 93, 134, 157, 157, 164, 187, 212, 244, 245, 254, 272, 273, 275, 275, 286, 295, 295, 298, 319, 338, 338, 345, 346, 355, 355, 359, 364, 373, 373, 377, 378, 388, 402, 436, 436, 438, 439, 449, 449, 466, 466, 478, 478, 479, 479, 503, 536, 536, 538, 538, 553, 556, 556, 621, 621, 631, 631, 653, 656, 662, 662, 678, 680, 685, 705, 705, 725, 725, 736, 737, 749, 749, 773, 773, 788]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 6862
Value counts:
Sadness     21
Anger       11
Neutral     11
Disgust      9
Hope         8
Fear         8
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [8, 21, 29, 39, 50, 70, 93, 98, 106, 111, 126, 138, 145, 157, 157, 191, 197, 197, 200, 200, 225, 253, 253, 258, 266, 272, 282, 283, 292, 308, 313, 313, 338, 338, 349, 359, 373, 373, 389, 402, 416, 432, 460, 466, 466, 472, 472, 477, 477, 487, 538, 538, 549, 557, 613, 632, 639, 643, 643, 645, 650, 650, 679, 681, 694, 694, 701, 703, 703, 731, 732, 736, 739, 767, 769, 772, 774, 776]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7277
Value counts:
Sadness     26
Disgust     11
Neutral     11
Anger       10
Fear         7
Hope         6
Surprise     6
Joy          3
Name: emotion_no_2nd_neut, dtype: int64
Index: [9, 9, 11, 11, 14, 18, 27, 29, 32, 43, 44, 101, 101, 102, 102, 107, 107, 111, 134, 141, 171, 179, 187, 195, 210, 225, 233, 244, 270, 278, 298, 298, 319, 322, 323, 355, 372, 373, 373, 377, 431, 438, 439, 447, 447, 453, 453, 477, 477, 479, 479, 527, 527, 556, 556, 559, 561, 561, 565, 567, 569, 569, 574, 604, 617, 619, 619, 671, 671, 694, 694, 696, 698, 714, 720, 725, 725, 752, 774, 783]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7258
Value counts:
Sadness     24
Anger       13
Neutral     11
Disgust     11
Hope         8
Fear         7
Joy          5
Surprise     4
Name: emotion_no_2nd_neut, dtype: int64
Index: [28, 29, 43, 97, 117, 127, 138, 157, 157, 165, 192, 192, 200, 200, 216, 216, 231, 235, 246, 246, 267, 291, 295, 295, 319, 329, 338, 338, 341, 345, 347, 354, 354, 355, 355, 367, 371, 371, 376, 399, 402, 420, 420, 432, 441, 445, 453, 453, 461, 486, 489, 514, 514, 527, 527, 538, 538, 554, 591, 595, 607, 618, 619, 620, 637, 643, 643, 703, 703, 706, 712, 739, 746, 746, 749, 749, 754, 754, 755, 763, 769, 778, 778]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7043
Value counts:
Sadness     20
Disgust     12
Neutral     11
Anger       11
Hope         9
Fear         8
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 7, 11, 11, 21, 32, 32, 43, 69, 85, 87, 112, 127, 138, 139, 139, 149, 149, 150, 157, 157, 165, 213, 213, 217, 217, 222, 253, 253, 264, 286, 294, 295, 295, 302, 304, 313, 313, 338, 338, 347, 386, 393, 405, 405, 406, 432, 438, 469, 476, 478, 478, 479, 479, 521, 522, 537, 545, 551, 568, 571, 605, 631, 631, 643, 643, 651, 661, 671, 671, 681, 699, 703, 703, 731, 740, 740, 769, 786, 790]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7244
Value counts:
Sadness     24
Anger       12
Neutral     10
Fear         9
Disgust      8
Hope         7
Surprise     5
Joy          4
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 10, 10, 34, 35, 74, 94, 132, 134, 159, 165, 168, 181, 181, 200, 200, 253, 253, 295, 295, 304, 306, 316, 324, 328, 335, 347, 355, 355, 373, 373, 388, 402, 405, 405, 436, 436, 450, 456, 479, 479, 490, 512, 514, 514, 515, 522, 529, 530, 530, 542, 542, 543, 556, 556, 567, 592, 597, 599, 599, 610, 623, 669, 698, 699, 700, 705, 705, 708, 714, 714, 716, 735, 742, 751, 751, 770, 774]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7242
Value counts:
Sadness     22
Neutral     11
Disgust     11
Anger       11
Hope         9
Fear         8
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [9, 9, 37, 59, 68, 68, 126, 134, 139, 139, 141, 145, 149, 149, 150, 177, 198, 216, 216, 224, 241, 242, 253, 253, 266, 273, 279, 279, 294, 295, 295, 306, 319, 343, 343, 346, 347, 355, 355, 371, 371, 397, 402, 427, 436, 436, 438, 453, 453, 455, 518, 527, 527, 552, 555, 558, 561, 561, 593, 593, 641, 650, 651, 662, 662, 668, 671, 671, 674, 674, 682, 683, 697, 734, 734, 740, 740, 763, 764, 769, 771, 790]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7288
Value counts:
Sadness     23
Anger       12
Neutral     10
Disgust      9
Fear         9
Hope         7
Joy          5
Surprise     4
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 9, 9, 21, 57, 75, 87, 91, 102, 102, 115, 117, 126, 152, 157, 157, 174, 180, 180, 213, 213, 225, 253, 253, 275, 275, 276, 276, 291, 295, 295, 301, 309, 338, 338, 341, 349, 355, 355, 362, 379, 381, 388, 389, 402, 406, 410, 423, 433, 465, 472, 472, 479, 479, 480, 507, 538, 538, 564, 587, 596, 599, 599, 617, 617, 619, 619, 628, 664, 664, 666, 672, 683, 714, 714, 734, 734, 739]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7221
Value counts:
Sadness     26
Anger       12
Disgust     10
Neutral      9
Hope         8
Fear         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [2, 15, 29, 32, 32, 34, 48, 74, 101, 101, 107, 107, 134, 135, 141, 146, 152, 157, 157, 187, 200, 200, 234, 252, 252, 254, 295, 295, 313, 313, 321, 321, 321, 332, 338, 338, 341, 343, 355, 369, 385, 385, 406, 408, 415, 431, 435, 436, 436, 448, 475, 493, 517, 517, 522, 545, 561, 561, 589, 589, 612, 664, 664, 694, 694, 699, 703, 703, 714, 714, 725, 725, 730, 736, 740, 740, 746, 746, 751, 751, 773, 773, 788]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7268
Value counts:
Sadness     25
Anger       11
Neutral     10
Disgust      9
Fear         8
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [41, 81, 129, 157, 157, 171, 184, 189, 189, 213, 213, 226, 239, 239, 241, 299, 306, 313, 313, 338, 342, 358, 358, 379, 382, 383, 388, 397, 402, 406, 409, 428, 435, 438, 453, 453, 491, 503, 527, 527, 530, 530, 561, 561, 564, 574, 589, 593, 593, 614, 616, 617, 617, 619, 619, 626, 631, 631, 632, 637, 639, 653, 662, 662, 668, 681, 703, 703, 708, 714, 714, 743, 743, 751, 751, 772, 773, 773, 782, 787]

===========================================================================

Size of combined df: (84, 2)
Number of tokens: 7242
Value counts:
Sadness     24
Disgust     12
Neutral     11
Fear        10
Anger        9
Hope         8
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [11, 11, 29, 65, 85, 100, 111, 117, 135, 146, 150, 154, 161, 164, 166, 181, 181, 195, 200, 200, 201, 209, 215, 225, 247, 253, 253, 267, 282, 294, 296, 296, 304, 313, 313, 328, 338, 338, 355, 355, 373, 373, 374, 381, 388, 417, 419, 438, 453, 453, 462, 472, 472, 478, 478, 501, 501, 509, 522, 523, 536, 536, 561, 561, 587, 617, 617, 624, 631, 631, 641, 643, 643, 659, 671, 671, 681, 684, 703, 703, 754, 754, 774, 789]

===========================================================================

Size of combined df: (77, 2)
Number of tokens: 7244
Value counts:
Sadness     23
Neutral     11
Anger       10
Disgust      9
Hope         8
Fear         6
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [9, 9, 12, 21, 40, 74, 93, 101, 101, 117, 150, 155, 186, 200, 200, 205, 206, 209, 213, 213, 239, 239, 252, 252, 290, 295, 295, 326, 338, 338, 345, 347, 355, 355, 357, 376, 387, 396, 406, 430, 438, 453, 453, 471, 479, 479, 487, 517, 521, 528, 546, 546, 561, 561, 566, 575, 594, 608, 626, 633, 636, 642, 656, 668, 705, 705, 714, 714, 720, 739, 751, 753, 754, 754, 763, 769, 774]

===========================================================================

Size of combined df: (76, 2)
Number of tokens: 7264
Value counts:
Sadness     22
Neutral     11
Anger       10
Disgust     10
Hope         8
Fear         7
Surprise     4
Joy          4
Name: emotion_no_2nd_neut, dtype: int64
Index: [34, 37, 55, 94, 117, 126, 139, 145, 152, 155, 157, 157, 164, 171, 181, 181, 182, 192, 192, 194, 209, 226, 239, 239, 241, 250, 253, 253, 254, 295, 295, 296, 296, 297, 311, 342, 355, 383, 385, 385, 390, 400, 402, 405, 416, 422, 469, 489, 500, 513, 517, 517, 524, 538, 538, 558, 561, 579, 638, 643, 643, 648, 648, 701, 708, 726, 739, 740, 740, 746, 746, 751, 751, 774, 775, 787]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7178
Value counts:
Sadness     23
Anger       12
Neutral     11
Disgust     11
Hope         9
Fear         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [12, 14, 14, 21, 23, 29, 38, 54, 56, 80, 80, 102, 102, 111, 139, 139, 147, 147, 159, 200, 200, 210, 253, 253, 266, 276, 276, 281, 286, 295, 299, 309, 319, 327, 338, 338, 347, 348, 357, 359, 379, 394, 402, 405, 405, 416, 417, 427, 453, 453, 462, 478, 478, 480, 500, 527, 527, 542, 542, 561, 561, 563, 567, 567, 591, 593, 593, 604, 621, 621, 664, 664, 671, 671, 681, 703, 703, 734, 734, 770, 784, 785, 786]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7269
Value counts:
Sadness     22
Anger       10
Disgust     10
Neutral      9
Hope         9
Fear         8
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [1, 11, 11, 31, 35, 45, 50, 117, 126, 150, 189, 189, 200, 213, 213, 239, 239, 243, 275, 275, 294, 300, 317, 324, 338, 338, 340, 355, 355, 376, 385, 385, 406, 438, 442, 464, 469, 479, 479, 507, 538, 538, 546, 547, 561, 561, 583, 586, 596, 599, 599, 615, 619, 619, 643, 643, 650, 662, 662, 663, 681, 682, 693, 694, 694, 703, 703, 704, 714, 714, 720, 728, 737, 739, 746, 746, 749, 749]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7276
Value counts:
Sadness     21
Neutral     10
Disgust     10
Fear         9
Anger        9
Hope         8
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [11, 11, 21, 29, 31, 48, 64, 81, 113, 120, 131, 168, 181, 181, 200, 200, 216, 216, 218, 224, 230, 233, 239, 239, 290, 299, 305, 315, 315, 317, 321, 321, 321, 330, 338, 338, 355, 355, 359, 365, 371, 371, 383, 402, 406, 420, 420, 432, 436, 480, 529, 542, 542, 547, 551, 554, 559, 561, 561, 574, 592, 604, 632, 633, 643, 643, 646, 680, 683, 687, 725, 725, 740, 740, 765, 769, 773, 773]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7210
Value counts:
Sadness     22
Disgust     12
Anger       11
Neutral     11
Hope         8
Fear         8
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 29, 80, 80, 94, 100, 121, 121, 126, 148, 150, 155, 181, 181, 186, 189, 189, 200, 200, 233, 239, 239, 261, 275, 275, 286, 288, 294, 295, 295, 304, 323, 338, 338, 346, 373, 373, 388, 393, 405, 405, 413, 436, 436, 438, 456, 467, 498, 500, 525, 553, 561, 561, 567, 567, 578, 580, 590, 592, 599, 599, 604, 634, 649, 653, 694, 694, 703, 703, 720, 725, 725, 734, 734, 735, 739, 746, 746, 753, 755, 770, 781, 788]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7240
Value counts:
Sadness     20
Anger       15
Neutral     11
Disgust     10
Fear         8
Hope         5
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [6, 29, 35, 36, 40, 46, 72, 89, 92, 98, 103, 103, 107, 107, 116, 117, 118, 141, 142, 152, 157, 157, 162, 163, 187, 199, 209, 210, 211, 239, 239, 249, 278, 285, 295, 295, 313, 313, 327, 343, 343, 346, 347, 355, 355, 371, 383, 385, 385, 409, 416, 432, 476, 478, 478, 480, 491, 514, 514, 517, 517, 556, 556, 567, 567, 569, 569, 573, 590, 595, 599, 599, 622, 622, 643, 643, 751, 769, 771]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 6699
Value counts:
Sadness     25
Neutral     11
Fear         9
Disgust      8
Anger        8
Hope         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [3, 8, 21, 29, 34, 47, 50, 65, 80, 80, 85, 119, 138, 152, 163, 165, 179, 187, 191, 192, 192, 205, 218, 264, 282, 295, 295, 302, 338, 338, 343, 343, 346, 347, 354, 354, 361, 383, 402, 429, 438, 449, 449, 450, 467, 506, 522, 525, 526, 530, 530, 531, 533, 542, 542, 571, 591, 621, 621, 631, 631, 662, 662, 666, 714, 714, 715, 725, 725, 726, 731, 734, 734, 743, 743, 755, 762, 763, 769]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7217
Value counts:
Sadness     22
Neutral     11
Disgust     10
Anger       10
Fear         9
Hope         9
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 26, 31, 34, 38, 91, 96, 102, 102, 107, 107, 108, 113, 126, 152, 161, 181, 181, 200, 200, 230, 252, 252, 253, 253, 272, 278, 295, 295, 296, 296, 319, 326, 342, 347, 355, 355, 363, 364, 366, 389, 392, 402, 403, 415, 433, 436, 436, 441, 453, 453, 487, 506, 511, 511, 525, 527, 527, 528, 529, 536, 536, 569, 649, 666, 681, 694, 694, 714, 714, 716, 720, 725, 725, 751, 751, 773, 773, 781, 786, 790]

===========================================================================

Size of combined df: (75, 2)
Number of tokens: 7147
Value counts:
Sadness     20
Anger       14
Disgust     11
Neutral      8
Hope         7
Fear         7
Surprise     4
Joy          4
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 11, 11, 38, 44, 46, 90, 101, 101, 113, 149, 150, 157, 157, 177, 224, 239, 239, 250, 264, 278, 294, 295, 295, 307, 321, 321, 321, 334, 370, 376, 388, 402, 405, 405, 416, 447, 447, 453, 453, 474, 479, 479, 488, 502, 518, 522, 533, 538, 538, 541, 546, 546, 557, 561, 561, 567, 567, 574, 595, 595, 604, 643, 662, 662, 670, 677, 678, 692, 692, 749, 749, 769, 774, 790]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7279
Value counts:
Sadness     24
Anger       13
Neutral     11
Fear         8
Disgust      8
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 9, 9, 11, 11, 35, 48, 50, 85, 100, 115, 117, 121, 121, 132, 149, 149, 157, 157, 166, 174, 198, 207, 209, 216, 216, 222, 238, 264, 322, 338, 338, 346, 355, 355, 371, 371, 385, 385, 402, 416, 438, 453, 453, 479, 479, 492, 508, 509, 523, 528, 538, 538, 551, 568, 585, 599, 599, 617, 617, 618, 629, 629, 664, 664, 689, 690, 699, 736, 739, 740, 740, 754, 754, 755, 757, 765, 773, 773, 782]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7261
Value counts:
Sadness     24
Anger       11
Neutral     11
Disgust     10
Fear         9
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [29, 45, 57, 63, 66, 70, 79, 82, 88, 92, 94, 107, 107, 111, 122, 160, 181, 181, 187, 197, 197, 200, 200, 216, 216, 225, 230, 235, 253, 253, 288, 295, 295, 319, 321, 321, 321, 324, 335, 343, 343, 355, 355, 374, 377, 378, 401, 420, 420, 431, 438, 455, 536, 536, 538, 538, 551, 593, 593, 597, 603, 611, 649, 651, 681, 690, 696, 697, 703, 703, 720, 725, 725, 735, 739, 740, 743, 743, 772, 778, 778, 786]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7070
Value counts:
Sadness     23
Anger       12
Neutral     11
Disgust     10
Hope         7
Fear         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 6, 11, 11, 14, 14, 19, 21, 29, 32, 32, 102, 102, 107, 107, 111, 138, 157, 157, 187, 191, 195, 207, 213, 213, 233, 241, 247, 252, 252, 258, 268, 279, 279, 280, 299, 310, 315, 315, 337, 343, 343, 347, 359, 391, 410, 438, 448, 457, 469, 477, 477, 480, 503, 550, 553, 568, 581, 602, 628, 637, 646, 652, 668, 681, 683, 705, 705, 720, 731, 732, 734, 734, 751, 751, 773, 773, 788, 789]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7038
Value counts:
Sadness     23
Neutral     11
Anger       10
Disgust     10
Fear         8
Hope         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [4, 18, 21, 34, 82, 152, 157, 157, 177, 206, 225, 252, 252, 271, 279, 279, 295, 295, 302, 334, 338, 338, 345, 346, 356, 360, 373, 373, 401, 416, 438, 442, 457, 462, 474, 478, 478, 500, 506, 529, 530, 530, 538, 538, 543, 554, 555, 561, 561, 582, 599, 599, 604, 609, 639, 643, 643, 650, 650, 653, 654, 662, 662, 674, 674, 687, 714, 714, 733, 736, 739, 740, 740, 749, 749, 751, 751, 764, 773, 773]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7214
Value counts:
Sadness     26
Neutral     10
Disgust      9
Fear         8
Anger        8
Hope         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [9, 9, 14, 14, 19, 28, 32, 32, 34, 35, 63, 64, 92, 99, 107, 107, 126, 136, 152, 187, 212, 216, 216, 220, 223, 277, 295, 295, 338, 338, 347, 355, 371, 380, 406, 409, 427, 438, 500, 502, 521, 523, 530, 530, 534, 552, 570, 589, 589, 596, 621, 621, 631, 631, 650, 650, 658, 662, 662, 681, 685, 692, 692, 693, 696, 697, 699, 703, 703, 704, 705, 725, 725, 736, 742, 749, 749, 777, 784]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7191
Value counts:
Sadness     24
Neutral     11
Anger       11
Fear        10
Disgust      9
Hope         6
Joy          5
Surprise     3
Name: emotion_no_2nd_neut, dtype: int64
Index: [18, 20, 21, 66, 67, 70, 101, 101, 102, 111, 114, 114, 118, 133, 156, 157, 157, 203, 239, 253, 253, 275, 275, 278, 295, 295, 314, 320, 338, 338, 343, 343, 368, 371, 375, 375, 385, 385, 402, 413, 427, 436, 447, 447, 466, 466, 478, 478, 504, 530, 530, 538, 558, 561, 567, 567, 584, 592, 625, 629, 629, 642, 643, 643, 650, 650, 660, 662, 662, 672, 727, 728, 731, 734, 734, 740, 740, 767, 769]

===========================================================================

Size of combined df: (85, 2)
Number of tokens: 7170
Value counts:
Sadness     27
Neutral     11
Disgust     11
Anger       10
Fear         9
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [3, 11, 11, 32, 32, 35, 75, 82, 87, 99, 107, 107, 147, 147, 150, 154, 157, 157, 173, 187, 216, 216, 226, 227, 253, 253, 260, 272, 292, 294, 315, 315, 317, 330, 336, 345, 353, 355, 355, 359, 360, 371, 371, 374, 378, 384, 388, 400, 402, 436, 436, 449, 449, 466, 466, 485, 492, 493, 504, 531, 561, 561, 593, 593, 648, 648, 663, 668, 692, 692, 711, 725, 725, 729, 734, 734, 746, 746, 751, 751, 773, 773, 778, 778, 780]

===========================================================================

Size of combined df: (84, 2)
Number of tokens: 7283
Value counts:
Sadness     23
Disgust     12
Neutral     11
Anger       11
Hope         9
Fear         8
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [8, 10, 10, 21, 29, 35, 58, 67, 97, 103, 103, 111, 138, 157, 157, 169, 193, 207, 216, 216, 225, 253, 253, 259, 262, 295, 295, 321, 321, 321, 334, 338, 338, 340, 343, 343, 359, 371, 371, 373, 373, 375, 375, 391, 408, 434, 435, 457, 461, 481, 515, 556, 556, 588, 593, 593, 610, 614, 622, 622, 629, 629, 650, 650, 662, 662, 720, 725, 725, 738, 739, 740, 740, 743, 743, 746, 746, 757, 763, 772, 773, 773, 775, 788]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7116
Value counts:
Sadness     24
Anger       12
Neutral     11
Disgust     10
Fear         7
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [3, 10, 10, 21, 25, 49, 88, 120, 124, 132, 149, 149, 154, 200, 200, 203, 207, 210, 211, 248, 272, 273, 290, 295, 295, 296, 296, 338, 338, 340, 347, 350, 355, 355, 392, 406, 408, 411, 438, 450, 464, 464, 465, 506, 513, 522, 523, 530, 530, 536, 536, 538, 538, 542, 542, 548, 569, 569, 575, 595, 595, 613, 631, 631, 660, 673, 681, 683, 692, 692, 700, 731, 734, 734, 751, 751, 754, 754, 774, 779, 790]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 6956
Value counts:
Sadness     28
Neutral     11
Disgust      9
Anger        9
Hope         8
Fear         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 11, 11, 13, 14, 14, 18, 21, 22, 29, 30, 46, 49, 80, 80, 86, 102, 102, 129, 130, 165, 207, 216, 216, 235, 239, 239, 286, 290, 291, 307, 329, 343, 343, 354, 354, 365, 371, 371, 384, 402, 412, 417, 436, 436, 438, 453, 453, 454, 488, 489, 512, 517, 517, 522, 550, 558, 561, 561, 564, 592, 595, 595, 603, 662, 662, 665, 673, 703, 703, 715, 725, 725, 731, 746, 746, 748, 748, 763, 774, 778, 778]

===========================================================================

Size of combined df: (86, 2)
Number of tokens: 7282
Value counts:
Sadness     25
Disgust     12
Neutral     11
Anger       11
Hope         9
Fear         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 28, 34, 69, 74, 78, 79, 88, 93, 103, 103, 137, 149, 149, 152, 157, 157, 158, 163, 172, 200, 200, 203, 219, 279, 279, 295, 295, 309, 316, 338, 338, 339, 341, 342, 347, 352, 355, 355, 359, 373, 373, 401, 404, 416, 420, 420, 436, 436, 438, 441, 464, 464, 500, 536, 536, 542, 542, 563, 574, 589, 589, 590, 592, 599, 599, 602, 612, 619, 619, 654, 657, 692, 692, 694, 694, 714, 714, 730, 736, 743, 743, 746, 746, 773, 773]

===========================================================================

Size of combined df: (77, 2)
Number of tokens: 7292
Value counts:
Sadness     22
Neutral     11
Disgust     11
Hope         9
Anger        9
Fear         5
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 11, 11, 21, 29, 35, 36, 39, 45, 108, 181, 181, 189, 200, 200, 202, 205, 207, 223, 225, 239, 252, 252, 270, 277, 278, 279, 279, 295, 295, 297, 332, 334, 338, 338, 347, 353, 355, 355, 379, 479, 511, 511, 513, 522, 526, 528, 548, 567, 567, 569, 569, 577, 589, 589, 592, 617, 617, 657, 679, 688, 691, 692, 692, 694, 694, 696, 725, 725, 731, 738, 751, 763, 767, 774, 787]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7074
Value counts:
Sadness     25
Neutral     11
Disgust      9
Anger        9
Hope         7
Fear         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 23, 29, 32, 32, 34, 53, 71, 94, 152, 169, 186, 224, 225, 233, 239, 239, 260, 266, 272, 285, 295, 295, 309, 315, 315, 321, 321, 321, 336, 346, 361, 362, 364, 373, 373, 378, 383, 402, 403, 415, 416, 436, 436, 449, 449, 452, 461, 505, 518, 522, 538, 538, 547, 561, 561, 578, 599, 599, 608, 614, 621, 621, 629, 629, 634, 643, 643, 654, 672, 693, 747, 751, 751, 755, 756, 778, 778]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7037
Value counts:
Sadness     24
Anger       12
Neutral     11
Hope         9
Fear         9
Disgust      8
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [11, 11, 36, 44, 110, 117, 120, 139, 139, 144, 151, 157, 157, 163, 183, 204, 209, 226, 242, 253, 253, 270, 276, 276, 278, 284, 296, 296, 315, 315, 344, 355, 355, 406, 414, 416, 421, 432, 438, 441, 475, 477, 477, 479, 479, 493, 500, 526, 542, 542, 549, 560, 561, 561, 575, 595, 595, 598, 607, 619, 619, 650, 650, 656, 662, 662, 681, 690, 694, 694, 695, 703, 703, 711, 716, 717, 718, 739, 746, 746, 774, 778, 778]

===========================================================================

Size of combined df: (75, 2)
Number of tokens: 7236
Value counts:
Sadness     23
Neutral     10
Disgust      9
Hope         9
Anger        9
Fear         6
Surprise     5
Joy          4
Name: emotion_no_2nd_neut, dtype: int64
Index: [9, 9, 14, 14, 21, 32, 32, 34, 41, 50, 58, 80, 80, 97, 98, 102, 103, 107, 110, 126, 127, 146, 150, 152, 157, 157, 192, 192, 218, 239, 239, 246, 246, 252, 252, 294, 295, 295, 329, 346, 355, 355, 406, 460, 462, 465, 474, 478, 478, 492, 525, 536, 536, 538, 538, 575, 576, 579, 620, 623, 631, 631, 658, 662, 662, 669, 691, 714, 714, 725, 725, 731, 753, 774, 790]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7215
Value counts:
Sadness     27
Anger       12
Neutral     11
Disgust      9
Hope         7
Fear         7
Surprise     5
Joy          4
Name: emotion_no_2nd_neut, dtype: int64
Index: [9, 9, 21, 29, 58, 108, 114, 114, 138, 200, 200, 204, 216, 216, 227, 253, 260, 264, 268, 295, 295, 315, 315, 321, 321, 321, 338, 338, 353, 355, 355, 363, 371, 371, 373, 373, 389, 399, 461, 477, 477, 479, 479, 497, 500, 514, 530, 530, 532, 534, 541, 593, 593, 596, 619, 619, 621, 621, 628, 633, 641, 648, 648, 649, 662, 662, 673, 675, 696, 705, 705, 714, 714, 730, 733, 739, 740, 740, 743, 751, 773, 780]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7238
Value counts:
Sadness     23
Disgust     11
Neutral     11
Anger        9
Hope         9
Fear         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [11, 13, 21, 64, 66, 115, 139, 139, 147, 147, 150, 189, 189, 210, 216, 216, 217, 217, 235, 239, 239, 294, 295, 295, 322, 328, 333, 346, 369, 371, 371, 402, 432, 435, 438, 442, 464, 464, 472, 472, 480, 514, 514, 522, 532, 534, 538, 538, 543, 553, 554, 561, 561, 564, 565, 571, 585, 619, 619, 626, 633, 645, 673, 694, 694, 703, 703, 705, 705, 732, 735, 736, 746, 746, 757, 763, 769, 770, 771, 774]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7291
Value counts:
Sadness     27
Anger       12
Neutral     10
Disgust      8
Fear         8
Hope         6
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 11, 11, 29, 32, 66, 111, 116, 139, 157, 157, 165, 187, 198, 204, 213, 213, 214, 225, 230, 255, 255, 261, 279, 279, 289, 297, 306, 312, 321, 321, 321, 355, 355, 366, 369, 371, 371, 381, 409, 416, 425, 436, 436, 438, 440, 445, 447, 449, 449, 466, 466, 501, 501, 542, 542, 561, 561, 575, 582, 585, 599, 599, 631, 635, 652, 664, 664, 672, 684, 690, 731, 740, 740, 751, 751, 755, 769, 778, 778]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7027
Value counts:
Sadness     25
Disgust     11
Neutral     11
Fear        10
Anger        9
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [7, 11, 11, 14, 14, 21, 29, 34, 44, 45, 75, 102, 102, 111, 123, 125, 152, 157, 157, 180, 180, 189, 189, 202, 208, 211, 253, 253, 275, 275, 299, 315, 315, 320, 330, 346, 358, 358, 359, 377, 393, 402, 405, 405, 409, 429, 432, 438, 449, 449, 472, 472, 475, 479, 479, 488, 500, 515, 527, 527, 530, 530, 551, 554, 574, 588, 631, 631, 643, 643, 674, 674, 688, 692, 692, 693, 703, 703, 760, 766, 774, 781, 790]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7209
Value counts:
Sadness     22
Anger       12
Neutral     11
Disgust     11
Fear         9
Hope         8
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [3, 21, 29, 30, 35, 50, 91, 103, 103, 117, 120, 187, 203, 209, 227, 240, 240, 253, 253, 255, 255, 266, 272, 278, 300, 320, 321, 321, 321, 338, 338, 346, 372, 374, 385, 385, 388, 391, 392, 401, 405, 405, 407, 409, 416, 449, 449, 479, 479, 502, 510, 517, 517, 526, 530, 530, 538, 538, 561, 561, 586, 593, 593, 641, 645, 674, 674, 679, 681, 694, 694, 695, 698, 723, 725, 725, 739, 740, 740, 742, 760, 769, 777]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7175
Value counts:
Sadness     20
Anger       13
Neutral     11
Disgust     11
Hope         8
Fear         8
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [35, 69, 94, 95, 107, 107, 108, 115, 126, 127, 136, 143, 149, 149, 151, 154, 157, 157, 173, 181, 181, 187, 203, 207, 213, 213, 235, 236, 237, 250, 272, 278, 279, 279, 295, 295, 305, 311, 333, 347, 383, 402, 405, 405, 408, 413, 415, 417, 447, 447, 456, 479, 479, 484, 574, 575, 599, 599, 617, 617, 662, 662, 664, 664, 681, 694, 694, 701, 703, 703, 713, 714, 714, 716, 720, 725, 725, 727, 731, 755, 761]

===========================================================================

Size of combined df: (85, 2)
Number of tokens: 7261
Value counts:
Sadness     24
Anger       12
Neutral     11
Disgust     10
Fear         9
Hope         8
Joy          6
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 29, 32, 32, 35, 38, 60, 71, 74, 92, 107, 107, 114, 114, 126, 157, 157, 180, 180, 200, 200, 229, 240, 240, 243, 291, 299, 315, 315, 320, 332, 338, 338, 382, 383, 385, 385, 394, 395, 402, 408, 430, 442, 497, 525, 527, 527, 532, 545, 561, 561, 566, 593, 593, 604, 617, 617, 619, 619, 624, 632, 643, 643, 648, 648, 650, 650, 654, 662, 662, 694, 694, 714, 714, 720, 725, 725, 734, 734, 736, 767, 769, 772, 773, 773]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 6824
Value counts:
Sadness     23
Neutral     11
Anger       10
Fear        10
Disgust      9
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [10, 10, 29, 35, 54, 59, 80, 80, 107, 107, 109, 153, 157, 157, 187, 194, 197, 197, 216, 216, 241, 247, 249, 253, 253, 268, 269, 272, 308, 313, 313, 338, 338, 347, 348, 351, 364, 373, 373, 378, 391, 402, 441, 480, 493, 513, 527, 527, 536, 536, 546, 546, 547, 561, 561, 588, 625, 633, 635, 645, 650, 650, 651, 662, 662, 689, 720, 731, 736, 739, 740, 740, 756, 770, 773, 773, 778, 778, 783, 789]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7278
Value counts:
Sadness     20
Disgust     13
Anger       11
Hope        10
Neutral      8
Fear         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 4, 9, 14, 14, 16, 21, 29, 34, 47, 63, 133, 138, 139, 139, 147, 147, 150, 152, 185, 186, 200, 200, 234, 239, 239, 253, 253, 294, 295, 295, 298, 298, 310, 346, 370, 402, 436, 436, 447, 447, 464, 464, 469, 485, 500, 508, 536, 536, 542, 552, 561, 575, 587, 589, 589, 592, 594, 595, 595, 613, 622, 657, 664, 664, 668, 696, 705, 705, 710, 725, 725, 727, 743, 743, 772, 773, 773]

===========================================================================

Size of combined df: (84, 2)
Number of tokens: 7211
Value counts:
Sadness     24
Anger       11
Disgust     11
Neutral     11
Hope         8
Fear         7
Surprise     7
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [5, 21, 57, 76, 94, 134, 137, 139, 139, 150, 160, 161, 181, 181, 203, 210, 212, 224, 253, 253, 259, 294, 295, 295, 300, 325, 346, 355, 355, 375, 375, 393, 402, 403, 436, 436, 449, 449, 453, 453, 469, 478, 478, 485, 490, 493, 524, 568, 569, 569, 576, 588, 593, 593, 599, 599, 615, 621, 621, 631, 631, 638, 681, 696, 703, 703, 711, 722, 725, 725, 734, 734, 736, 738, 742, 746, 746, 754, 754, 763, 773, 773, 775, 790]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7059
Value counts:
Sadness     22
Anger       14
Neutral     11
Disgust      9
Hope         8
Fear         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 7, 9, 9, 11, 11, 32, 32, 55, 64, 107, 107, 108, 111, 127, 128, 149, 149, 157, 157, 184, 196, 203, 225, 250, 255, 255, 278, 295, 295, 296, 296, 299, 314, 319, 325, 329, 333, 346, 360, 373, 373, 402, 409, 438, 478, 478, 479, 479, 480, 507, 516, 527, 527, 529, 582, 588, 589, 589, 593, 593, 604, 643, 643, 646, 647, 648, 648, 681, 688, 690, 694, 694, 700, 708, 720, 731, 746, 746, 764, 771]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7298
Value counts:
Sadness     25
Neutral     11
Disgust     11
Hope         9
Anger        8
Fear         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 5, 11, 11, 21, 27, 29, 35, 36, 67, 79, 94, 101, 101, 111, 113, 117, 139, 139, 156, 163, 174, 181, 181, 198, 203, 209, 216, 216, 217, 217, 234, 238, 242, 248, 273, 276, 276, 279, 279, 286, 319, 371, 371, 374, 378, 402, 464, 464, 466, 466, 510, 522, 527, 527, 568, 596, 616, 643, 643, 655, 681, 710, 714, 714, 725, 725, 727, 729, 734, 734, 736, 739, 740, 740, 743, 743, 750, 756, 773, 773]

===========================================================================

Size of combined df: (86, 2)
Number of tokens: 7290
Value counts:
Sadness     26
Anger       13
Neutral     11
Hope         9
Fear         8
Disgust      8
Joy          6
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 1, 4, 11, 11, 21, 35, 92, 103, 103, 106, 139, 139, 157, 157, 160, 180, 180, 216, 216, 221, 242, 252, 252, 253, 253, 318, 336, 343, 343, 344, 345, 346, 347, 353, 355, 355, 370, 371, 371, 392, 402, 406, 429, 432, 438, 440, 447, 447, 501, 501, 512, 522, 536, 536, 542, 542, 563, 565, 593, 593, 594, 606, 617, 617, 623, 648, 648, 656, 663, 671, 671, 673, 705, 705, 714, 714, 717, 743, 743, 746, 746, 751, 751, 786]

===========================================================================

Size of combined df: (75, 2)
Number of tokens: 6563
Value counts:
Sadness     21
Neutral     11
Anger        9
Disgust      8
Hope         8
Fear         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 21, 35, 47, 87, 89, 90, 103, 103, 117, 149, 149, 150, 160, 180, 180, 187, 209, 214, 220, 235, 239, 239, 278, 290, 292, 294, 304, 388, 402, 406, 408, 418, 419, 422, 425, 436, 436, 438, 475, 478, 478, 479, 479, 492, 500, 522, 532, 535, 542, 542, 548, 557, 561, 561, 597, 614, 625, 627, 650, 650, 694, 694, 712, 716, 725, 725, 736, 740, 740, 758, 760, 763, 787]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7189
Value counts:
Sadness     26
Neutral     11
Anger       11
Hope         9
Disgust      9
Fear         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [1, 9, 9, 10, 10, 15, 21, 22, 49, 58, 64, 90, 104, 112, 133, 144, 157, 157, 186, 187, 199, 207, 217, 217, 223, 264, 275, 275, 291, 295, 295, 296, 296, 299, 330, 338, 338, 359, 360, 372, 402, 419, 432, 458, 460, 479, 479, 522, 536, 536, 537, 542, 542, 561, 561, 574, 575, 590, 593, 593, 600, 617, 617, 650, 650, 661, 693, 694, 694, 696, 705, 705, 727, 731, 741, 743, 743, 746, 746, 748, 748, 758, 784]

===========================================================================

Size of combined df: (86, 2)
Number of tokens: 7194
Value counts:
Sadness     27
Disgust     11
Neutral     11
Anger       10
Fear         8
Hope         8
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [2, 21, 44, 67, 92, 95, 104, 110, 139, 139, 140, 157, 157, 162, 198, 200, 200, 217, 217, 225, 227, 233, 240, 240, 251, 253, 253, 266, 269, 271, 296, 296, 319, 343, 343, 355, 355, 357, 358, 358, 373, 373, 388, 402, 453, 453, 462, 477, 477, 511, 511, 520, 522, 530, 530, 559, 579, 599, 599, 600, 614, 619, 619, 667, 672, 681, 703, 703, 714, 714, 722, 734, 734, 746, 746, 748, 748, 749, 749, 769, 773, 773, 774, 780, 787, 790]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7273
Value counts:
Sadness     25
Disgust     12
Neutral     11
Anger       11
Hope         7
Surprise     6
Fear         6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 11, 11, 14, 14, 30, 31, 65, 94, 102, 131, 141, 157, 157, 165, 167, 181, 188, 206, 216, 216, 235, 272, 276, 276, 279, 279, 285, 290, 295, 295, 309, 321, 321, 332, 334, 347, 349, 350, 355, 355, 371, 402, 406, 436, 436, 446, 449, 449, 453, 453, 461, 494, 505, 512, 536, 536, 542, 542, 556, 556, 567, 567, 618, 619, 619, 671, 671, 681, 702, 712, 722, 733, 740, 740, 749, 749, 764, 773, 773, 778, 778]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7198
Value counts:
Sadness     24
Anger       12
Disgust     10
Neutral      9
Fear         7
Surprise     6
Hope         6
Joy          4
Name: emotion_no_2nd_neut, dtype: int64
Index: [27, 29, 42, 47, 82, 142, 147, 147, 157, 165, 207, 239, 246, 246, 247, 255, 255, 299, 302, 315, 315, 321, 321, 325, 330, 343, 343, 355, 355, 362, 371, 371, 382, 388, 393, 402, 403, 411, 415, 416, 417, 453, 453, 458, 477, 477, 502, 514, 514, 531, 532, 538, 538, 575, 593, 593, 599, 599, 612, 613, 619, 619, 623, 631, 631, 662, 662, 670, 679, 688, 714, 721, 725, 725, 739, 751, 751, 769]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 6859
Value counts:
Sadness     20
Neutral     11
Hope         9
Fear         9
Disgust      9
Anger        9
Joy          6
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [2, 21, 25, 34, 35, 48, 70, 87, 118, 152, 157, 157, 176, 187, 253, 253, 260, 280, 283, 295, 295, 303, 338, 338, 346, 361, 369, 376, 391, 392, 404, 438, 446, 449, 449, 453, 453, 472, 472, 478, 478, 495, 509, 536, 536, 575, 585, 589, 589, 590, 592, 610, 631, 631, 633, 643, 643, 650, 650, 662, 662, 681, 689, 691, 694, 694, 722, 726, 746, 746, 750, 751, 751, 752, 763, 774, 776, 790]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 6840
Value counts:
Sadness     27
Neutral     11
Anger       10
Disgust      9
Fear         8
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 1, 10, 10, 11, 11, 19, 26, 32, 32, 35, 38, 62, 83, 98, 107, 107, 116, 129, 143, 163, 168, 201, 240, 240, 262, 278, 295, 295, 297, 314, 330, 362, 395, 398, 402, 403, 479, 479, 510, 517, 517, 522, 528, 561, 561, 574, 579, 592, 599, 599, 617, 617, 628, 631, 631, 632, 638, 643, 643, 650, 650, 681, 694, 694, 700, 720, 725, 725, 746, 746, 749, 749, 754, 754, 767, 774, 778, 778, 783, 788]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7266
Value counts:
Sadness     23
Neutral     11
Anger       11
Disgust      9
Fear         8
Hope         8
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 25, 29, 30, 32, 32, 33, 35, 39, 60, 71, 107, 107, 112, 149, 149, 157, 157, 177, 185, 192, 192, 200, 200, 216, 216, 220, 225, 230, 249, 275, 275, 284, 286, 295, 295, 308, 327, 338, 338, 346, 348, 353, 371, 371, 373, 373, 387, 395, 416, 457, 461, 479, 479, 500, 512, 515, 538, 538, 554, 564, 574, 579, 586, 592, 593, 593, 604, 626, 645, 657, 687, 725, 725, 734, 734, 739, 743, 743, 775]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 6773
Value counts:
Sadness     23
Neutral     11
Disgust     10
Anger       10
Fear         8
Hope         7
Joy          6
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 11, 11, 21, 32, 32, 35, 38, 70, 107, 107, 117, 126, 128, 139, 139, 148, 157, 157, 163, 167, 187, 193, 206, 219, 222, 248, 253, 253, 272, 275, 275, 282, 353, 388, 402, 432, 438, 440, 467, 482, 500, 506, 514, 514, 516, 525, 530, 530, 542, 542, 553, 561, 561, 562, 567, 567, 572, 599, 599, 600, 605, 619, 619, 622, 622, 634, 666, 673, 684, 685, 692, 692, 720, 725, 725, 728, 736, 764]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7291
Value counts:
Sadness     24
Anger       13
Disgust     10
Neutral     10
Fear         7
Surprise     5
Hope         5
Joy          4
Name: emotion_no_2nd_neut, dtype: int64
Index: [1, 9, 9, 21, 29, 37, 53, 64, 78, 109, 111, 136, 195, 206, 212, 217, 217, 222, 240, 240, 248, 268, 303, 305, 321, 321, 321, 346, 355, 355, 358, 358, 402, 416, 420, 420, 427, 439, 457, 480, 534, 538, 538, 557, 564, 574, 589, 589, 592, 595, 595, 599, 599, 617, 617, 631, 631, 632, 643, 643, 647, 649, 671, 671, 674, 674, 686, 690, 694, 694, 703, 703, 709, 714, 714, 736, 743, 743]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7275
Value counts:
Sadness     26
Anger       13
Neutral     11
Disgust      9
Fear         7
Hope         6
Joy          5
Surprise     3
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 1, 11, 19, 34, 35, 63, 68, 68, 69, 82, 93, 94, 106, 135, 138, 152, 157, 157, 181, 181, 242, 261, 286, 295, 295, 346, 347, 351, 356, 381, 385, 385, 409, 416, 436, 438, 453, 466, 466, 479, 479, 483, 485, 514, 514, 531, 535, 546, 546, 558, 568, 599, 599, 617, 617, 619, 622, 622, 645, 660, 681, 692, 692, 694, 694, 698, 699, 707, 712, 714, 714, 734, 734, 743, 743, 758, 775, 778, 778]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 6997
Value counts:
Sadness     19
Anger       14
Neutral     11
Disgust     10
Fear         9
Hope         8
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 26, 29, 34, 53, 64, 114, 114, 117, 127, 135, 149, 149, 150, 152, 157, 157, 167, 181, 181, 185, 200, 200, 209, 233, 253, 253, 255, 255, 258, 261, 268, 274, 276, 276, 288, 294, 295, 295, 296, 296, 297, 319, 338, 338, 347, 388, 398, 400, 403, 406, 409, 420, 420, 447, 447, 496, 500, 503, 508, 510, 513, 521, 523, 527, 527, 561, 561, 573, 577, 593, 593, 666, 671, 671, 708, 745, 754, 754, 763, 790]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7116
Value counts:
Sadness     21
Anger       12
Disgust     12
Neutral     11
Fear         8
Hope         8
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [9, 9, 10, 10, 11, 11, 16, 22, 43, 45, 47, 56, 100, 105, 124, 139, 139, 151, 174, 202, 207, 213, 213, 252, 252, 253, 253, 272, 289, 295, 295, 299, 343, 343, 347, 394, 402, 408, 411, 438, 441, 443, 449, 449, 453, 453, 463, 480, 500, 501, 501, 504, 561, 561, 573, 599, 599, 608, 648, 648, 662, 662, 664, 664, 668, 676, 681, 690, 694, 694, 696, 711, 714, 714, 715, 720, 731, 732, 736, 739, 751, 751, 788]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7269
Value counts:
Sadness     25
Neutral     11
Anger       10
Disgust      9
Fear         8
Hope         8
Joy          5
Surprise     4
Name: emotion_no_2nd_neut, dtype: int64
Index: [14, 14, 29, 32, 32, 35, 54, 80, 80, 97, 101, 101, 107, 107, 126, 146, 148, 150, 157, 157, 217, 217, 239, 239, 240, 244, 258, 294, 296, 296, 346, 358, 358, 369, 376, 398, 400, 432, 438, 449, 449, 465, 478, 478, 481, 522, 527, 527, 534, 536, 536, 538, 538, 549, 575, 579, 580, 582, 599, 599, 629, 629, 650, 650, 681, 690, 731, 733, 734, 734, 740, 740, 748, 748, 754, 754, 764, 768, 790, 791]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7292
Value counts:
Sadness     19
Anger       15
Neutral     11
Fear         9
Disgust      8
Hope         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [19, 20, 21, 23, 29, 35, 94, 135, 136, 167, 168, 171, 181, 181, 185, 193, 216, 216, 229, 272, 278, 289, 338, 338, 347, 348, 353, 354, 354, 358, 358, 367, 371, 371, 381, 383, 388, 405, 405, 420, 420, 436, 436, 438, 446, 486, 502, 503, 505, 533, 561, 561, 593, 593, 617, 617, 619, 619, 627, 640, 645, 646, 650, 664, 664, 694, 694, 700, 711, 720, 730, 731, 734, 734, 751, 751, 765, 773, 773, 776]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7288
Value counts:
Sadness     23
Neutral     11
Anger       11
Disgust      9
Fear         8
Hope         7
Joy          6
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [14, 14, 29, 32, 32, 35, 58, 75, 87, 89, 102, 102, 107, 107, 111, 132, 157, 160, 164, 180, 180, 187, 201, 207, 214, 216, 216, 226, 236, 239, 239, 240, 240, 252, 252, 253, 253, 286, 295, 295, 306, 310, 321, 321, 321, 343, 343, 371, 371, 383, 388, 416, 436, 436, 438, 462, 469, 476, 538, 538, 541, 561, 561, 582, 597, 599, 601, 610, 612, 629, 629, 643, 643, 656, 663, 700, 715, 721, 767, 787]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7166
Value counts:
Sadness     24
Anger       11
Neutral     11
Disgust      9
Fear         8
Hope         8
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 10, 10, 11, 11, 13, 21, 30, 32, 32, 34, 35, 55, 64, 78, 84, 107, 107, 117, 143, 152, 155, 197, 197, 209, 210, 216, 216, 230, 231, 235, 236, 240, 240, 250, 252, 252, 302, 329, 339, 346, 355, 355, 371, 371, 377, 404, 423, 446, 449, 449, 502, 561, 561, 567, 567, 574, 643, 643, 652, 656, 664, 664, 681, 690, 695, 703, 703, 705, 705, 711, 723, 731, 739, 740, 740, 753, 762, 784, 790]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7234
Value counts:
Sadness     23
Anger       11
Neutral     10
Hope         9
Disgust      9
Fear         8
Joy          6
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [10, 10, 21, 22, 29, 35, 51, 86, 94, 107, 107, 114, 114, 123, 143, 150, 181, 181, 225, 239, 239, 240, 240, 253, 279, 279, 286, 294, 295, 295, 299, 310, 355, 355, 373, 373, 388, 406, 410, 430, 432, 436, 436, 447, 447, 464, 464, 476, 480, 500, 504, 525, 535, 542, 542, 558, 559, 561, 561, 570, 654, 663, 692, 692, 694, 694, 705, 705, 710, 716, 720, 732, 739, 748, 748, 771, 773, 773, 777, 782, 786]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7235
Value counts:
Sadness     24
Disgust     11
Neutral     11
Anger        9
Hope         8
Fear         8
Surprise     6
Joy          6
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 14, 14, 21, 29, 45, 59, 76, 102, 102, 111, 117, 140, 145, 148, 150, 153, 157, 157, 189, 189, 209, 241, 250, 259, 272, 274, 284, 294, 305, 313, 313, 338, 338, 355, 355, 358, 358, 402, 432, 439, 455, 464, 464, 500, 527, 527, 535, 542, 542, 545, 556, 556, 561, 561, 581, 599, 599, 615, 617, 617, 654, 664, 664, 692, 692, 701, 725, 725, 732, 739, 746, 746, 748, 748, 764, 766, 773, 773, 778, 778, 779]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7240
Value counts:
Sadness     22
Disgust     12
Anger       11
Neutral     11
Fear         8
Hope         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [13, 14, 14, 21, 22, 27, 35, 69, 73, 75, 77, 94, 95, 102, 102, 103, 103, 107, 107, 118, 177, 180, 180, 181, 181, 187, 207, 246, 246, 266, 268, 278, 295, 295, 342, 343, 343, 417, 427, 432, 438, 453, 453, 459, 468, 479, 479, 484, 500, 529, 530, 530, 546, 546, 556, 556, 575, 581, 590, 593, 593, 598, 604, 607, 618, 619, 619, 632, 649, 654, 662, 662, 681, 685, 705, 705, 723, 736, 754, 754, 774, 783]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 6902
Value counts:
Sadness     25
Neutral     11
Hope         9
Fear         8
Disgust      8
Anger        7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [16, 19, 21, 76, 110, 117, 126, 188, 193, 200, 200, 204, 205, 216, 216, 221, 224, 229, 238, 239, 239, 264, 295, 295, 300, 307, 330, 338, 338, 346, 347, 355, 355, 369, 371, 371, 377, 378, 383, 386, 416, 432, 438, 443, 448, 451, 474, 487, 500, 513, 515, 521, 522, 527, 527, 542, 542, 547, 561, 561, 562, 575, 590, 603, 631, 631, 643, 643, 650, 650, 659, 703, 703, 710, 724, 737, 746, 746]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7294
Value counts:
Sadness     22
Anger       13
Disgust     11
Neutral     11
Fear         7
Hope         6
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [3, 21, 29, 54, 157, 157, 163, 168, 173, 205, 213, 213, 216, 216, 225, 239, 239, 262, 280, 295, 295, 299, 327, 340, 342, 347, 355, 355, 371, 371, 373, 373, 383, 405, 405, 416, 436, 436, 453, 453, 471, 480, 511, 511, 514, 514, 527, 531, 536, 538, 538, 546, 546, 551, 554, 575, 583, 584, 594, 595, 595, 610, 627, 631, 631, 636, 643, 643, 645, 665, 671, 671, 680, 689, 719, 721, 723, 731, 762, 769]

===========================================================================

Size of combined df: (84, 2)
Number of tokens: 7230
Value counts:
Sadness     27
Anger       12
Neutral     11
Disgust     10
Hope         7
Fear         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 4, 6, 7, 11, 11, 13, 21, 32, 32, 35, 94, 99, 157, 157, 181, 181, 185, 189, 189, 229, 244, 246, 246, 255, 255, 276, 288, 296, 296, 320, 327, 371, 371, 379, 385, 385, 391, 396, 408, 416, 426, 438, 449, 449, 479, 479, 510, 511, 511, 512, 522, 561, 561, 567, 567, 574, 593, 593, 599, 599, 605, 619, 619, 631, 631, 633, 673, 676, 687, 690, 703, 703, 727, 745, 746, 746, 748, 748, 756, 773, 773, 790]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7264
Value counts:
Sadness     25
Neutral     11
Fear        10
Disgust     10
Hope         9
Anger        8
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 4, 32, 32, 35, 67, 107, 107, 111, 150, 154, 179, 187, 189, 189, 261, 278, 280, 284, 294, 296, 296, 308, 319, 324, 325, 327, 338, 338, 344, 351, 355, 355, 382, 383, 391, 402, 422, 449, 449, 464, 464, 465, 469, 479, 479, 497, 514, 514, 525, 527, 527, 536, 536, 561, 599, 599, 602, 608, 617, 617, 619, 619, 626, 628, 629, 629, 638, 665, 681, 683, 692, 692, 694, 694, 731, 750, 751, 751, 763, 765, 790]

===========================================================================

Size of combined df: (77, 2)
Number of tokens: 7284
Value counts:
Sadness     27
Neutral     11
Disgust      9
Anger        9
Hope         7
Fear         6
Surprise     5
Joy          3
Name: emotion_no_2nd_neut, dtype: int64
Index: [32, 32, 35, 70, 80, 80, 89, 103, 107, 116, 125, 145, 154, 157, 160, 200, 212, 239, 239, 277, 278, 283, 289, 295, 296, 296, 315, 315, 319, 354, 354, 355, 361, 383, 432, 464, 464, 473, 479, 479, 492, 500, 527, 527, 529, 535, 542, 542, 562, 569, 569, 593, 599, 599, 600, 604, 619, 619, 622, 622, 629, 643, 643, 650, 650, 662, 662, 681, 718, 726, 733, 740, 751, 751, 777, 788, 791]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7052
Value counts:
Sadness     25
Disgust     11
Neutral     11
Anger        8
Fear         7
Hope         7
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [2, 34, 72, 79, 80, 80, 94, 111, 131, 133, 139, 139, 152, 161, 162, 177, 185, 187, 208, 212, 216, 216, 232, 239, 239, 251, 252, 252, 271, 295, 295, 305, 314, 321, 321, 321, 338, 338, 347, 351, 353, 354, 354, 383, 402, 409, 420, 420, 438, 440, 449, 449, 462, 473, 479, 479, 487, 493, 512, 547, 561, 561, 565, 575, 619, 619, 657, 661, 681, 695, 740, 740, 743, 743, 757, 758, 764, 773, 773, 774]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7242
Value counts:
Sadness     25
Disgust     11
Neutral     10
Anger       10
Fear         9
Hope         8
Surprise     4
Joy          4
Name: emotion_no_2nd_neut, dtype: int64
Index: [13, 14, 14, 40, 68, 68, 101, 101, 102, 102, 107, 107, 111, 135, 137, 139, 139, 153, 181, 181, 200, 200, 203, 218, 250, 253, 253, 255, 255, 259, 272, 295, 295, 328, 338, 338, 357, 359, 369, 373, 373, 388, 401, 402, 436, 436, 438, 449, 449, 453, 459, 501, 501, 528, 541, 555, 561, 561, 567, 567, 621, 621, 631, 631, 636, 638, 643, 643, 665, 702, 703, 703, 732, 734, 734, 752, 771, 774, 781, 784, 787]

===========================================================================

Size of combined df: (85, 2)
Number of tokens: 7150
Value counts:
Sadness     24
Anger       13
Neutral     11
Hope        10
Disgust     10
Fear         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [3, 8, 21, 42, 68, 68, 69, 82, 86, 125, 139, 139, 157, 157, 207, 222, 239, 247, 253, 253, 295, 295, 307, 319, 331, 343, 343, 345, 355, 355, 356, 372, 383, 385, 385, 406, 415, 425, 432, 461, 472, 472, 483, 495, 527, 527, 529, 536, 536, 537, 559, 561, 561, 570, 575, 583, 589, 589, 593, 593, 614, 621, 621, 631, 631, 633, 643, 654, 665, 692, 692, 714, 714, 731, 733, 736, 746, 746, 754, 754, 755, 773, 773, 778, 778]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 6995
Value counts:
Sadness     23
Disgust     11
Neutral     11
Anger        9
Hope         9
Fear         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [19, 29, 32, 32, 35, 56, 59, 68, 68, 83, 115, 123, 129, 147, 147, 155, 166, 176, 187, 209, 213, 213, 225, 250, 258, 260, 279, 279, 316, 317, 319, 320, 347, 361, 368, 373, 373, 388, 402, 406, 417, 432, 454, 462, 463, 466, 466, 488, 500, 510, 512, 521, 527, 527, 530, 530, 561, 561, 565, 574, 589, 589, 631, 631, 633, 662, 662, 681, 690, 694, 694, 695, 703, 703, 746, 746, 773, 773, 788, 790]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7165
Value counts:
Sadness     25
Disgust     10
Neutral      9
Fear         9
Anger        8
Hope         6
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [7, 14, 14, 22, 29, 32, 32, 35, 43, 64, 78, 80, 107, 107, 108, 160, 184, 187, 212, 224, 237, 246, 252, 252, 253, 253, 280, 295, 295, 299, 313, 313, 315, 315, 343, 343, 360, 371, 371, 384, 405, 405, 431, 438, 476, 510, 511, 515, 518, 522, 527, 527, 530, 530, 532, 536, 536, 539, 540, 546, 546, 553, 563, 575, 591, 592, 610, 619, 619, 643, 643, 681, 734, 734, 738, 739, 751, 751]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7111
Value counts:
Sadness     24
Neutral     11
Anger       10
Disgust      9
Hope         8
Fear         8
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [3, 12, 21, 35, 39, 64, 75, 87, 106, 114, 114, 125, 129, 132, 137, 174, 187, 188, 216, 216, 227, 253, 253, 286, 324, 326, 341, 356, 366, 367, 371, 371, 388, 392, 409, 428, 438, 455, 477, 477, 512, 514, 514, 536, 536, 561, 561, 568, 574, 575, 590, 593, 593, 662, 662, 681, 690, 692, 692, 694, 694, 703, 703, 705, 705, 708, 712, 720, 725, 725, 731, 740, 740, 748, 748, 750, 769, 778, 778, 785]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7103
Value counts:
Sadness     21
Neutral     11
Disgust     11
Anger        9
Fear         9
Hope         8
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [5, 21, 26, 62, 66, 74, 75, 94, 98, 116, 121, 121, 135, 149, 149, 158, 181, 181, 207, 213, 213, 239, 239, 247, 253, 253, 262, 271, 272, 295, 295, 306, 313, 313, 322, 325, 338, 338, 340, 346, 355, 355, 366, 383, 391, 404, 405, 405, 406, 416, 445, 479, 479, 480, 520, 526, 547, 558, 561, 561, 575, 608, 619, 619, 632, 645, 652, 662, 662, 666, 674, 674, 681, 698, 736, 739, 751, 751, 774]

===========================================================================

Size of combined df: (77, 2)
Number of tokens: 7274
Value counts:
Sadness     21
Neutral     11
Anger       11
Fear         8
Disgust      8
Hope         8
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [24, 34, 35, 36, 40, 43, 61, 68, 68, 79, 85, 102, 102, 111, 115, 123, 150, 151, 157, 157, 166, 202, 211, 243, 253, 253, 259, 288, 294, 295, 295, 319, 346, 352, 355, 355, 378, 388, 406, 412, 416, 438, 451, 453, 453, 468, 471, 519, 536, 536, 538, 538, 551, 595, 595, 599, 599, 603, 617, 617, 628, 657, 662, 662, 684, 687, 696, 708, 712, 738, 740, 740, 758, 765, 778, 778, 790]

===========================================================================

Size of combined df: (77, 2)
Number of tokens: 7266
Value counts:
Sadness     22
Neutral     11
Disgust     10
Fear         9
Anger        9
Hope         8
Surprise     4
Joy          4
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 43, 53, 78, 84, 96, 102, 102, 103, 103, 120, 126, 146, 150, 157, 168, 171, 187, 200, 211, 228, 235, 239, 239, 278, 294, 295, 295, 297, 299, 319, 333, 360, 383, 385, 385, 390, 413, 418, 458, 476, 478, 478, 479, 479, 480, 522, 527, 531, 532, 553, 561, 561, 588, 599, 599, 625, 626, 640, 650, 650, 669, 671, 671, 681, 696, 705, 705, 725, 725, 743, 743, 751, 751, 763, 764, 770]

===========================================================================

Size of combined df: (83, 2)
Number of tokens: 7286
Value counts:
Sadness     26
Anger       12
Neutral     11
Disgust      9
Fear         8
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [14, 14, 19, 21, 24, 32, 32, 35, 69, 73, 102, 102, 103, 103, 107, 107, 116, 117, 127, 154, 159, 161, 209, 212, 229, 233, 236, 248, 253, 253, 262, 279, 279, 285, 295, 295, 315, 315, 321, 321, 324, 332, 388, 409, 436, 436, 438, 453, 464, 466, 466, 468, 479, 479, 497, 542, 542, 561, 561, 569, 569, 571, 583, 592, 609, 619, 619, 631, 631, 645, 648, 648, 662, 662, 696, 711, 725, 725, 731, 740, 740, 777, 787]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7244
Value counts:
Sadness     25
Anger       11
Neutral     11
Fear         8
Hope         8
Disgust      8
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [7, 8, 14, 14, 29, 30, 31, 68, 68, 95, 99, 102, 102, 139, 139, 145, 152, 157, 157, 176, 212, 218, 248, 253, 253, 266, 277, 295, 295, 300, 332, 336, 340, 346, 348, 349, 355, 355, 356, 388, 402, 406, 423, 435, 436, 436, 464, 536, 536, 538, 538, 571, 592, 625, 631, 631, 648, 648, 664, 664, 668, 677, 692, 692, 697, 705, 705, 731, 740, 740, 748, 748, 751, 751, 761, 763, 769, 770, 773, 773, 785]

===========================================================================

Size of combined df: (77, 2)
Number of tokens: 6788
Value counts:
Sadness     25
Neutral     11
Anger        9
Disgust      8
Fear         7
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [1, 9, 9, 16, 21, 35, 68, 68, 101, 101, 106, 111, 117, 124, 134, 137, 150, 159, 162, 170, 172, 177, 187, 209, 220, 240, 240, 252, 252, 294, 299, 317, 336, 355, 355, 376, 403, 406, 408, 413, 431, 432, 438, 443, 468, 477, 477, 480, 500, 536, 536, 542, 542, 561, 561, 568, 569, 569, 575, 592, 597, 599, 599, 608, 631, 631, 658, 668, 682, 715, 729, 740, 740, 744, 766, 783, 790]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 7221
Value counts:
Sadness     25
Neutral     10
Disgust      9
Anger        9
Hope         8
Fear         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [21, 29, 34, 58, 64, 113, 121, 121, 152, 156, 157, 157, 158, 170, 182, 196, 239, 239, 252, 252, 272, 275, 275, 299, 305, 313, 313, 327, 330, 346, 347, 354, 354, 366, 372, 406, 432, 433, 449, 449, 455, 472, 472, 480, 495, 498, 526, 528, 542, 542, 554, 561, 561, 582, 599, 599, 631, 631, 667, 672, 677, 681, 690, 692, 692, 708, 714, 714, 736, 740, 740, 751, 751, 766, 778, 778, 781, 789]

===========================================================================

Size of combined df: (82, 2)
Number of tokens: 7155
Value counts:
Sadness     24
Disgust     11
Neutral     11
Hope         9
Anger        9
Fear         8
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [29, 39, 53, 97, 109, 111, 130, 145, 168, 185, 207, 230, 235, 242, 253, 253, 257, 268, 272, 300, 343, 343, 348, 354, 354, 355, 355, 371, 371, 432, 433, 438, 439, 443, 446, 447, 447, 462, 465, 492, 493, 501, 501, 522, 542, 542, 561, 561, 565, 592, 595, 595, 632, 642, 662, 662, 681, 692, 692, 694, 694, 704, 718, 734, 734, 736, 739, 740, 740, 743, 743, 746, 746, 748, 748, 773, 773, 774, 777, 778, 778, 784]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7216
Value counts:
Sadness     23
Disgust     12
Neutral     10
Anger       10
Fear         7
Surprise     6
Hope         6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 29, 32, 34, 38, 103, 107, 107, 141, 154, 157, 157, 248, 270, 276, 276, 279, 279, 296, 296, 300, 301, 325, 336, 341, 346, 355, 355, 368, 388, 390, 402, 406, 417, 422, 432, 445, 464, 464, 469, 497, 500, 525, 530, 530, 556, 556, 561, 561, 564, 566, 569, 569, 571, 574, 581, 619, 619, 620, 664, 664, 685, 687, 691, 725, 725, 734, 734, 736, 740, 740, 741, 751, 751, 769, 770, 773, 773, 790]

===========================================================================

Size of combined df: (79, 2)
Number of tokens: 7241
Value counts:
Sadness     24
Disgust     11
Anger       11
Neutral      9
Hope         7
Fear         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [35, 37, 81, 115, 139, 139, 149, 149, 153, 157, 157, 180, 180, 185, 196, 199, 213, 217, 217, 239, 239, 253, 253, 260, 268, 363, 373, 373, 385, 385, 402, 405, 405, 416, 436, 438, 454, 464, 464, 485, 490, 500, 501, 501, 512, 527, 527, 542, 561, 561, 563, 566, 574, 584, 589, 589, 616, 619, 619, 629, 639, 640, 650, 650, 655, 678, 682, 705, 705, 714, 714, 716, 720, 725, 725, 731, 741, 743, 743]

===========================================================================

Size of combined df: (81, 2)
Number of tokens: 7168
Value counts:
Sadness     28
Neutral     11
Anger       10
Disgust      8
Fear         8
Hope         6
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [0, 0, 29, 32, 32, 34, 35, 52, 54, 72, 101, 101, 107, 107, 115, 116, 187, 209, 211, 214, 216, 216, 296, 296, 310, 313, 313, 334, 355, 355, 359, 364, 373, 373, 388, 402, 404, 406, 407, 464, 493, 528, 536, 536, 542, 542, 546, 546, 568, 589, 589, 593, 593, 602, 632, 640, 649, 650, 650, 673, 681, 690, 692, 692, 717, 719, 731, 732, 737, 740, 746, 746, 751, 751, 756, 773, 773, 780, 782, 786, 790]

===========================================================================

Size of combined df: (77, 2)
Number of tokens: 7215
Value counts:
Sadness     24
Disgust     11
Neutral     10
Hope         8
Anger        7
Fear         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [12, 32, 32, 34, 41, 78, 112, 122, 154, 156, 157, 165, 176, 181, 181, 226, 240, 272, 275, 275, 295, 295, 313, 314, 323, 325, 340, 373, 373, 384, 402, 405, 416, 423, 436, 436, 438, 449, 449, 465, 472, 472, 483, 494, 514, 514, 525, 536, 536, 561, 561, 574, 575, 582, 599, 599, 603, 617, 617, 629, 629, 631, 635, 710, 725, 725, 731, 751, 751, 752, 763, 765, 773, 773, 777, 778, 778]

===========================================================================

Size of combined df: (80, 2)
Number of tokens: 7292
Value counts:
Sadness     24
Disgust     11
Neutral     11
Anger       10
Fear         7
Hope         7
Joy          5
Surprise     5
Name: emotion_no_2nd_neut, dtype: int64
Index: [9, 9, 12, 21, 37, 43, 64, 81, 94, 129, 157, 157, 181, 181, 189, 189, 216, 216, 252, 252, 254, 272, 278, 292, 295, 295, 302, 330, 342, 343, 343, 346, 347, 371, 371, 377, 384, 402, 409, 420, 420, 439, 440, 445, 449, 449, 452, 460, 470, 480, 484, 496, 552, 553, 556, 560, 565, 569, 569, 589, 589, 599, 599, 602, 622, 622, 631, 631, 662, 662, 681, 706, 714, 714, 739, 762, 769, 778, 778, 788]

===========================================================================

Size of combined df: (79, 2)

Number of tokens: 6808
Value counts:
Sadness     18
Neutral     11
Anger       11
Fear        10
Disgust     10
Hope         8
Surprise     6
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [26, 29, 38, 47, 99, 101, 101, 104, 120, 139, 139, 145, 150, 157, 157, 181, 181, 206, 207, 222, 225, 239, 239, 242, 271, 294, 306, 311, 326, 329, 343, 343, 364, 383, 396, 398, 406, 436, 436, 438, 453, 453, 478, 478, 479, 479, 493, 507, 513, 527, 527, 536, 536, 558, 561, 561, 580, 589, 589, 591, 592, 605, 619, 619, 624, 626, 634, 645, 650, 650, 681, 694, 694, 704, 720, 731, 763, 774, 790]

===========================================================================

Size of combined df: (78, 2)
Number of tokens: 6787
Value counts:
Sadness     22
Neutral     11
Anger       11
Disgust     10
Fear         7
Hope         7
Surprise     5
Joy          5
Name: emotion_no_2nd_neut, dtype: int64
Index: [23, 29, 30, 49, 61, 98, 117, 121, 121, 138, 157, 157, 161, 205, 209, 225, 262, 272, 277, 278, 279, 279, 299, 321, 321, 321, 327, 330, 334, 337, 353, 367, 373, 373, 392, 402, 438, 449, 449, 453, 453, 462, 479, 479, 480, 492, 503, 517, 517, 522, 523, 537, 540, 552, 589, 589, 615, 631, 631, 640, 641, 650, 650, 681, 687, 705, 705, 708, 710, 719, 723, 731, 736, 739, 747, 768, 773, 773]

===========================================================================

Size of combined df: (77, 2)
Number of tokens: 7266
Value counts:
Sadness     23
Anger       11
Disgust     10
Neutral     10
Fear         7
Surprise     6
Joy          5
Hope         5
Name: emotion_no_2nd_neut, dtype: int64
Index: [62, 66, 70, 74, 75, 104, 147, 147, 150, 157, 157, 166, 181, 181, 187, 239, 239, 243, 244, 255, 255, 270, 278, 294, 295, 295, 305, 315, 315, 320, 335, 347, 377, 383, 395, 405, 405, 420, 420, 438, 459, 479, 500, 539, 542, 542, 546, 546, 551, 560, 561, 561, 564, 589, 589, 609, 617, 617, 619, 619, 643, 643, 648, 648, 655, 659, 681, 717, 733, 734, 734, 739, 751, 751, 763, 786, 790]

===========================================================================

In [44]:
# smallest number of examples?
from collections import Counter
lengths = [df_.shape[0] for df_ in example_dfs]
print('Mean length:', np.mean(lengths))
c = Counter(lengths)
c.most_common()

Mean length: 80.53846153846153

[(80, 35),
 (79, 28),
 (81, 25),
 (82, 25),
 (78, 24),
 (83, 22),
 (77, 13),
 (85, 12),
 (84, 10),
 (75, 6),
 (86, 5),
 (76, 2),
 (74, 1)]

This means that having 34-35 essays per one set of examples will ensure that the total number of tokens for this set of examples will not exceed the context window size of 4096 tokens

In [48]:
# 3.7k to 3.9k tokens per example
examples  = []
for df_ in example_dfs:
    example = ''    #prompt_one.strip() + '\n'
    for text, emo in df_[[text_col, emotion_col]].values:
        #example += f"\nText: {text}\n\nCategory: {'/'.join(emo)}.\n\n####\n"    #w/out explode()
        example += f"\nEssay: {text}\n\nCategory: {emo}.\n\n####\n"     #w/explode()
    examples.append(example.strip())
        
lengths = [ num_tokens_from_messages([{'role':'user', 'content': example} ]) for example in examples ]
print(lengths)
print([l for l in lengths if l <7800])
print([l for l in lengths if l > 8000])

[7981, 7972, 7964, 7908, 7718, 7462, 7678, 7736, 7911, 7683, 6781, 7003, 7978, 7941, 7891, 7790, 7958, 7953, 7913, 7649, 7948, 7917, 7924, 7980, 7746, 7981, 7807, 7916, 7927, 8042, 7959, 7937, 7942, 7840, 7905, 7336, 7681, 7468, 7825, 7938, 7986, 7612, 7976, 8041, 7986, 7960, 7480, 7952, 7998, 7799, 8016, 7895, 7942, 7934, 7939, 7998, 7871, 7945, 7852, 7698, 7896, 7748, 7560, 7940, 7804, 7234, 7582, 7966, 7976, 7960, 7832, 7956, 7861, 7955, 7613, 7998, 8003, 7150, 7977, 7955, 7972, 7403, 8003, 7998, 7444, 7920, 8033, 7959, 7986, 8033, 7960, 7570, 7913, 7975, 7943, 7718, 7992, 7866, 7899, 7989, 7911, 7930, 7691, 7730, 7887, 7155, 7423, 8000, 7825, 7900, 7863, 7950, 7981, 7541, 7985, 7989, 7753, 7934, 7960, 7983, 7952, 7970, 7977, 7919, 7935, 7903, 7951, 7960, 7939, 7937, 7387, 7923, 7809, 7986, 7980, 7773, 7737, 7904, 7883, 7915, 8021, 7826, 7684, 8038, 7965, 7760, 7757, 7897, 7932, 7935, 8002, 7754, 7933, 7884, 8004, 7525, 7979, 7943, 7775, 8009, 8038, 7216, 7923, 7944, 8008, 7880, 7536, 7561, 7967, 7476, 7977, 7976, 7706, 7846, 7969, 7989, 7990, 7877, 7942, 7960, 7955, 7579, 8001, 7966, 7989, 7959, 7757, 7949, 7897, 7696, 7845, 7807, 7794, 7944, 7940, 8012, 7951, 7460, 7907, 7872, 7914, 7937, 7877, 7893, 7999, 7500, 7473, 7946]
[7718, 7462, 7678, 7736, 7683, 6781, 7003, 7790, 7649, 7746, 7336, 7681, 7468, 7612, 7480, 7799, 7698, 7748, 7560, 7234, 7582, 7613, 7150, 7403, 7444, 7570, 7718, 7691, 7730, 7155, 7423, 7541, 7753, 7387, 7773, 7737, 7684, 7760, 7757, 7754, 7525, 7775, 7216, 7536, 7561, 7476, 7706, 7579, 7757, 7696, 7794, 7460, 7500, 7473]
[8042, 8041, 8016, 8003, 8003, 8033, 8033, 8021, 8038, 8002, 8004, 8009, 8038, 8008, 8001, 8012]

In [49]:
print(examples[0])

Essay: I feel really bad for the rangers, who were just doing their job and were treated unmercifully by the villagers. And unfortunately they didn't get any help from the police officers, who ran away. What a horribly frightening experience that must have been. On the other hand, the article is also confusing for me. Why were the villagers so upset? Do they earn their livings from poaching? Were they confused about what was going on? Also, who called for the helicopter? And how did the rangers survive if they were really confronted by all those villagers with weapons. If the story is real then it's frightening and disturbing. But there seems to be a lot of missing information.

Category: Sadness.

####

Essay: Reading about the attack on Paris that happened years ago brought up a lot of bad feelings and thoughts. I had completely forgotton about it because of how often things like that happen. It makes me upset to think that we are becoming numb to terror attacks in a way. i can only hope that the people affected have found peace and eventually we all will find peace

Category: Sadness.

####

Essay: My heart went out to the mother and the girls that were killed in this horrible tragedy. This just goes to show how short and precious life can be. Hug your children and tell them daily how much you love them because you never know when you going to have to let go and say goodbye! Life can change in a blink of an eye, no wonder they say : "If you want to make God laugh, tell him about your plans!". Gold bless us all!

Category: Sadness.

####

Essay: I have mixed feelings about this story, for sure. On the one hand, I feel sad for the woman who lost her dog. I had a black lab mix when I was younger and she's gone now and I still miss her. Dogs are members of the family, so when they go it's very difficult. This is tantamount to having someone you loved murdered. However, and it's a big however, I find it completely unacceptable for people to have to be afraid of uncontrolled dogs. I know people who've been bit in the face by dogs. People are killed by dogs. Dogs are weapons, too. No one should have to walk in a park--especially one that doesn't allow pets off leashes--and worry about being attacked. Do I think the guy overreacted by killing the dog? Yes. But the woman shouldn't have done what she was doing either.

Category: Sadness.

####

Essay: I always worried about traveling in an airplane, but the recent news and this article makes me think twice about traveling by train. I feel very sorry of the four people who lost their life and the fifty injuries in the train wreck. I hope they find out what caused the wreck for it does not happen again.

Category: Fear.

####

Essay: it's crazy how elephant poaching is still a thing. Nearly 1/3 of all elephants have been poached just because of the ivory. I cannot believe this is still going on. There needs to be more done to stop this. They are gonna end up causing these elephants to go extinct and then what? For some ivory? This makes no sense at all.

Category: Anger.

####

Essay: This is a disturbing story and I feel badly for the kitten who was obviously abused and presumably tortured. I assume this was done by a psychopath who likes sadistic things. Those people exist and aren't all that rare, so this type of thing doesn't totally surprise me, although it's still disturbing and chilling. However, the tone of this article and these people is absurd. They want equality for all living things. So, what, that means I'll be charged with murder if I swat a fly? If a dog kills a child they'll be arrested, read their Miranda rights and be appointed an attorney? People are stupid. It reduces the empathy and sympathy I feel when I read a story like this.

Category: Neutral.

####

Essay: This is an incredibly sad story! All these people out trying to have fun and then they lost their lives. I imagine the fear when they were hiding, it must have been so terrible. And the families are just as much victims as the people who lost their lives. The whole thing is terrible, and all of this for nothing. Terrorist attacks are the most senseless killing and loss of life. It is really tragic to me, and these people seem to have no regard for human life or suffering. IT's not even human.

Category: Sadness.

####

Essay: It's very difficult to fathom living somewhere where airstrikes can take you out at any given moment, regardless of where you are. It really makes me grateful to live in this beautiful nation where we live, America, and to have the freedoms that we have. In this story, the man's eight children lost their father and his wife lost her partner. That is very tragic, and all for a bunch of senseless killing. The US was supporting these airstrikes which is sort of sad. I find the whole situation over there so senseless. IT's like they are all just killing each other nonstop for no valid reason.

Category: Joy.

####

Essay: Hey did you hear about that murder suicide that happened the other day? He shares the name as the school principals at the twins school, I really hope there is no correlation. Its really scarey to think you really never know someone. I wonder somedays if my husband will snap on me. I can be a pain in the butt but he works alot and you never know what the future holds

Category: Fear.

####

Essay: This is a sad story about all of the people trying to flee Syria. It said that 1 out of every 50 people in the country have been killed due to war. I can't imagine living and trying to raise a family in this sort of situation. These people are obviously risking their lives trying to get out but they are also risking their lives staying.

Category: Sadness.

####

Essay: I feel really bad for the rangers, who were just doing their job and were treated unmercifully by the villagers. And unfortunately they didn't get any help from the police officers, who ran away. What a horribly frightening experience that must have been. On the other hand, the article is also confusing for me. Why were the villagers so upset? Do they earn their livings from poaching? Were they confused about what was going on? Also, who called for the helicopter? And how did the rangers survive if they were really confronted by all those villagers with weapons. If the story is real then it's frightening and disturbing. But there seems to be a lot of missing information.

Category: Fear.

####

Essay: Living in a war tore country must be horrible. I feel the pain of all the lost. Having air strikes hit your home has to be horrible and seeing love ones buried under what is left from your home is also horrible. I do not wish this on anybody. I hope that the country can find peace and the people can return to a normal life.

Category: Hope.

####

Essay: When tragedies like the one in Paris happen we must dig down deep and look for proper solutions. I think we need to research what goes through people's heads when they commit crimes like this.It was a little racist for one of them to say muslim security collaborated with the criminals. That was a bad thing to say.

Category: Neutral.

####

Essay: I always worried about traveling in an airplane, but the recent news and this article makes me think twice about traveling by train. I feel very sorry of the four people who lost their life and the fifty injuries in the train wreck. I hope they find out what caused the wreck for it does not happen again.

Category: Sadness.

####

Essay: Troops killed in Afghanistan always angers because we should no longer be there in the first place. The fact that we are still there says a lot about us as a country. We need to realize that we have no business there anymore and get out. I don't know why we try to be the world police when it clearly does us no good in the long run.

Category: Anger.

####

Essay: Earthquakes are such scary things. It's amazing how much damage can happen and leave you feeling so helpless. There is no warning and nothing you can do but hold on as the earth itself moves. Then to see people taking advantage of the disaster to steal is just sickening. Such a sad thing to see that people don't always come together but look to benefit from other's suffering. Disappointing and says something about the world we live in now.

Category: Sadness.

####

Essay: I just read an article about a Korean man who was adopted from South Korea when he was three, brutally abused, lived in the U.S. for 37 years and is now being deported because the adoption agency/foster family did not file the correct paperwork for him to get his citizenship. I don't understand how people can sleep at night after persecuting people in unfortunate circumstances like this.

Category: Disgust.

####

Essay: I feel so sorry for the passengers and victims onboard. This would be my worst fear being on a train or plain having no control or way out of such a big accident. They must have been so afraid once the train started rocking back and forth. I wonder what actually caused this horrible accident in the first place. They said that a similar one happened earlier so it must be connected. A full investigation should be done to find the cause and fix it. The train should be shut down to avoid loss of life while it is investigated and corrected. It seems to be a totally avoidable way to lose a life and needs to have more security measures put into place.

Category: Fear.

####

Essay: I am writing as regards my thoughts for Polar bears, the poster-child for climate change, are among the animals most affected by the seasonal and year-to-year changes in Arctic sea ice, because they rely on this surface for essential activities such as hunting, traveling and breeding. The researchers recommend that the National Climate Assessment incorporate the timing of spring ice retreat and fall ice advance as measures of climate change in future reports. The study's results currently are used by the International Union for Conservation of Nature's polar bear specialist group, which completes assessments of polar bears and issues the species' conservation status. I am really pleased with this information.

Category: Joy.

####

Essay: Earthquakes are such scary things. It's amazing how much damage can happen and leave you feeling so helpless. There is no warning and nothing you can do but hold on as the earth itself moves. Then to see people taking advantage of the disaster to steal is just sickening. Such a sad thing to see that people don't always come together but look to benefit from other's suffering. Disappointing and says something about the world we live in now.

Category: Fear.

####

Essay: After reading the article, you just can't help but feel really sad for the boy and his family. It's so sad because he was just doing his family a favor by harvesting crops when he fell. It's so unfortunate as well because he was so young and he had his whole life ahead of him. Hopefully his parents are able to move on with life peacefully.

Category: Sadness.

####

Essay: I really feel for this country as a whole. It is like they are getting attacked from every side. It has got to feel so on edge living in syria. You don't now who to trust not even your government. Innocent people and children are being killed so violently and senselessly. I have nieghbors that are from syria and they are great people who have family still back there and they are just mortified and scared. They can not travel back home anymore and that would just take a huge tole on me. Getting a warning text message that you are going to be bombed I dont now how I would react. You have 24 hours to leave everything you know and love and probably never see it that way again it is crazy.

Category: Sadness.

####

Essay: I want to address this topic and show my exact thoughts as regards the newly elected president who has insulted decorated war veterans and suggested that post-traumatic stress disorder is a sign of weakness. I do not angry with this statement as it is so disrespectful to me and such veterans should not be disrespected as such. And all the citizens should make sure this mistake is being corrected.

Category: Anger.

####

Essay: Articles like this really hit home for me. I think older people should really be protected and watched carefully as this happens alot. Alot suffer from dimentia and have no idea what is going on and can get lost very easily. It makes me think if this was my parent or grandparent I would be heartbroken. She was wondering with no coat probaly cold and very scared. I am very thankful that these officers found her before something bad happened to her. I hope she is able to be reunited with her family quickly and they put safeguards in place so it never happends again. Mayb it is to much for the family now and she requires more assistance like a group home.

Category: Hope.

####

Essay: I am not sure how I feel about this. This guy is a lifelong criminal and honestly I don't think people like that deserve citizenship. His parents messed up when he was young, yes, but he could have taken the responsibility to fix that as an adult. He should have looked into it instead of spending so much time and energy breaking the law. So I think he deserves what he is getting and should have been more careful.

Category: Neutral.

####

Essay: It's quite sad what happened to the family. I can't even imagine what everyone is going through especially family members. Losing someone to an accident is something you never expect and something that will hurt for a long time. I felt really sad while reading the article because the children were so young and had so much ahead of them.

Category: Sadness.

####

Essay: Jose Fernandez, a pitcher for the Miama Marlins baseball team, was killed in a tragic boating accident. He was only 24 years old when he and two others were found dead near the entrance of Miami Harbor. Coast Guard employees found his boat upside down and found the three victims lifeless nearby following this accident.

Category: Neutral.

####

Essay: Dear friend, I am writing to let you know about an article that I just finished reading. Some anti-poaching rangers were captured by a poacher and attacked by the locals of the village. I feel bad for them, they were just trying to protect the animals.

Category: Sadness.

####

Essay: It is so sad the uprest that is happening in the middle east right now. I dont understand how cultures that rely on peace and light like india are involved in such violence. They need to have a meeting with leaders and figure things out diplomatically. I think war is just to tossed around over there when you have innocent victims and civilians being killed. They need to do things like trump be firm and have sanctions build walls but dont rely on iolence to get your way. The fact that the cease fire was broken and both sides have nuclear weapons scares me, that there is no line that they can not cross or break.

Category: Sadness.

####

Essay: This is a very disturbing article and i really hope that the girl grows up to be a decent person. What she had to go through was nothing that a child should ever have to go through. It was terrible and disturbing to say the least. Those two parents should be put in jail for their whole life or even the death sentence. The fact that thye can do this to a minor, let alone their own daughter, is so bad.

Category: Hope.

####

Essay: Dear friend, I have just read a story about another police officer shooting. These seem to be happening all the time now and it is very upsetting. I hope that one day something can be done about all of this. It is sad to think about .

Category: Sadness.

####

Essay: Check this out....haze from the fires in Indonesia have killed over 100,000 people! This is horrific. It says that this is an annual thing which makes it even worse. How can they let this keep happening? I just don't get it so many deaths that are just in vain and lives and homes ruined. It's horrible but makes me so thankful I live where I do.

Category: Surprise.

####

Essay: This is why it's so important to always get things on tap, because if it hadn't been I guarantee the officers would have tried to have said that they didn't do anything and it was all just her resisting arrest. I don't understand why they didn't just look the warrant up to see if it was still active instead of harassing her like that.

Category: Anger.

####

Essay: This is a tragic story but it's also what happens in third-world countries where you pull a truck off the side of the road to sell fuel to citizens. The world is an absolutely enormous place--beyond comprehension. And death, suffering, and tragedy occur all the time. I'm not going to worry about the lives of a handful of random people who I didn't know existed until I knew they no longer existed. These people might as well be fictional characters to me. Sure, someone is grieving them somewhere. And this event probably really did happen. But to me it's not real and it truly doesn't matter. And, frankly, despite this modern age's attempt to argue the opposite, I don't think the world is any better a place because I know these people are dead.

Category: Anger.

####

Essay: Dear friend, I have just ready a very disturbing story. A young girl in Russia has committed suicide. There are online groups that target young teenagers and kids and encourage them to harm themselves and to commit suicide. It is a very scary and sad thing.

Category: Sadness.

####

Essay: Ehh I never really know what to think about claims like this. On the one hand, her roommates claim that they remember hearing her talk about it at the time. On the other hand, why wait twenty years to bring up an incident that happened that was that disturbing? I think some women are making allegations and accusations just to get attention or for political motivations. Who knows why. People do crazy things for crazy reasons. I'm just really skeptical of a lot of these things I hear and I think the #metoo movement has gotten way out of hand. Sorry, just my two cents.

Category: Anger.

####

Essay: That was a sad story wow that was terrible what happened to that poor dog but then again I hate dogs so I'm glad its one less dog left on this planet if it were up to me I would shoot all the stupid ugly dogs that are out there I can not believe people keep them as pets they should eat them like they do in china

Category: Joy.

####

Essay: This article was just heartbreaking. I just pictured my father working his whole life for us just for a warm and horrible people to come in and tear it down. It is pure hell for everyone living in this war torn area I cant imagine. No older people who worked there life so there familys can be better should be worried about war and losing the family. The doctors have even fled as there is no resources to help people anymore. Only once dialysis center left which will probably close soon for fear of people and lack of resources. Anyone with a chronic disease is just out of luck as medicine is few and aid cant even be reached to most of these people anymore. It is just so sad.

Category: Sadness.

####

Essay: This is a very disturbing article and i really hope that the girl grows up to be a decent person. What she had to go through was nothing that a child should ever have to go through. It was terrible and disturbing to say the least. Those two parents should be put in jail for their whole life or even the death sentence. The fact that thye can do this to a minor, let alone their own daughter, is so bad.

Category: Anger.

####


In [50]:
def classify_text_few_shot(prompt_):
    '''Classify text_ using prompt_ and ChatGPT API'''
        
    # compose messages and check num_tokens
    messages = [
            #{ "role": "system", "content": "You are a helpful emotion classifier.", },
            { "role": "user", "content": prompt_, },
            ]
    #if not verify_num_tokens(model, messages): return None
    label_    = get_response(model, messages)
    old_label = label_
    label_    = verify_label(label_)        # get just the category if response is too long
    print('First iteration:', old_label, label_)
        
    # if label not found in response text - second, extended chat
    if label_ is None:
        messages += [
            { "role": "assistant", "content": old_label, },
            { "role": "user", "content": followup, }
            ]        
        label_    = get_response(model, messages)        
        old_label = label_
        label_    = verify_label(label_)        # get just the category if response is too long
        print('\tSecond iteration:', old_label, label_)
            
    return label_ if label_ is not None else old_label

In [54]:
start  = time.time()
#res    = dict()
count1 = 0
count2 = 0
for t in df_dev[text_col].tolist():
    if t in res:
        continue
    if count2 >= len(examples):
        count2 = 0
    prompt = examples[ count2 ].strip() + f'\nEssay: {t}\n\nCategory:'
    count2 += 1
    try:
        res[ t ] = classify_text_few_shot(prompt)
    except openai.error.RateLimitError:
        print(f'\nText: {t}.\nRate limit error\n')
    except Exception as e:
        print(f'\nText: {t}\nError: {e}\n')
                
    count1 += 1    
    if count1 % 10 == 0:
        print(f'Processing text {count1}; example {count2-1}')
                        
        
elapsed = (time.time() - start)/60
print(f'\nTime elapsed {round(elapsed, 4)} min')

First iteration: Sadness. Sadness
First iteration: Neutral. Neutral
First iteration: Sadness. Sadness
First iteration: Sadness. Sadness
First iteration: Sadness. Sadness
First iteration: Sadness. Sadness

Time elapsed 0.3297 min

In [55]:
len(examples), len(res)

(208, 208)

### If a followup question was not used

In [56]:
# if one label is the output
df_dev['pred_all'] = df_dev[text_col].map( res )
print(df_dev.isna().sum())
print(df_dev['pred_all'].value_counts())

article_id                    0
conversation_id               0
speaker_number                0
essay_id                      0
speaker_id                    0
essay                         0
essay_clean                   0
split                         0
gender                        0
education                     0
race                          0
age                           0
income                        0
emotion                       0
emotion_count                 0
char_length                   0
word_length                   0
target_encoded                0
article                       0
article_clean                 0
essay_clean_docs              0
essay_clean_spellchecked      0
article_clean_docs            0
article_clean_spellchecked    0
compare1                      0
compare2                      0
gpt_embedding                 0
closest_texts                 0
emotion_no_2nd_neut           0
gpt35_keywords                0
gpt35_title                   0
gpt35_summary                 0
gpt4_title                    0
gpt4_summary                  0
gpt4_keywords                 0
davinci_preds2                0
davinci_preds_converted2      0
davinci_preds_encoded2        0
pred_all                      0
pred_encoded                  0
dtype: int64
Sadness            103
Disgust             31
Neutral             22
Hope                14
Fear                14
Anger               13
Surprise             5
Joy                  4
Disappointment.      1
Sarcasm.             1
Name: pred_all, dtype: int64

In [59]:
print(df_dev[ df_dev['pred_all']=="Sarcasm." ])
df_dev.at[ 26, 'pred_all' ] = 'Sadness'
df_dev.at[ 103, 'pred_all' ] = 'Anger'

     article_id  conversation_id  speaker_number  essay_id  speaker_id  \
103         103              497               1       496          67

                                                 essay  \
103  lol, yeah, definitely an accidental death when...

                                           essay_clean split  gender  \
103  lol, yeah, definitely an accidental death when...   dev       2

     education  race  age  income  emotion  emotion_count  char_length  \
103          6     1   25   60000  [Anger]              1          331

     word_length            target_encoded  \
103           61  [1, 0, 0, 0, 0, 0, 0, 0]

                                               article  \
103  Death of former Putin aide at D.C. hotel is ru...

                                         article_clean  \
103  Death of former Putin aide at D.C. hotel is ru...

                                      essay_clean_docs  \
103  (lol, ,, yeah, ,, definitely, an, accidental, ...

                              essay_clean_spellchecked  \
103  lol, yeah, definitely an accidental death when...

                                    article_clean_docs  \
103  (Death, of, former, Putin, aide, at, D.C., hot...

                            article_clean_spellchecked  compare1  compare2  \
103  Death of former Putin aide at D.C. hotel is ru...      True      True

                                         gpt_embedding  \
103  [0.005208917893469334, 0.0006688102148473263, ...

                                         closest_texts emotion_no_2nd_neut  \
103  [The whole situation is sketchy. The wavering ...             [Anger]

                                        gpt35_keywords  \
103  accidental death, blows, body, Russia, cover u...

                                 gpt35_title  \
103  Speculation Surrounding a Russian Death

                                         gpt35_summary  \
103  The text discusses a suspicious death in Russi...

                                            gpt4_title  \
103  "Suspicion of Cover-Up in Russian Accidental D...

                                          gpt4_summary  \
103  The text suggests skepticism about an accident...

                                         gpt4_keywords  \
103  accidental death, guy, blows, body, Russia, co...

                                        davinci_preds2  \
103  [[0.8749767188561838, Neutral], [0.09747149526...

    davinci_preds_converted2    davinci_preds_encoded2  pred_all  \
103      [Neutral, Surprise]  [0, 0, 0, 0, 0, 1, 0, 1]  Sarcasm.

                 pred_encoded
103  [0, 0, 0, 0, 0, 1, 0, 0]

In [60]:
df_dev['pred_all'].value_counts()

Sadness     104
Disgust      31
Neutral      22
Hope         14
Anger        14
Fear         14
Surprise      5
Joy           4
Name: pred_all, dtype: int64

In [61]:
# binarize predictions
df_dev['pred_encoded'] = df_dev['pred_all'].apply( lambda x: get_target(x.split('/')) )

In [62]:
y_dev_encoded      = np.array( df_dev['target_encoded'].values.tolist() )
y_dev_pred_encoded = np.array( df_dev['pred_encoded'].values.tolist() )
labels = list(label2key.keys())
print( classification_report( y_dev_encoded, y_dev_pred_encoded, target_names=labels, digits=4 ) )

              precision    recall  f1-score   support

       Anger     0.7857    0.2895    0.4231        38
     Disgust     0.4516    0.5833    0.5091        24
        Fear     0.3571    0.6250    0.4545         8
        Hope     0.4286    0.3750    0.4000        16
         Joy     0.2500    0.5000    0.3333         2
     Neutral     0.9091    0.3704    0.5263        54
     Sadness     0.8173    0.8416    0.8293       101
    Surprise     0.2000    0.3333    0.2500         3

   micro avg     0.6875    0.5813    0.6300       246
   macro avg     0.5249    0.4898    0.4657       246
weighted avg     0.7445    0.5813    0.6176       246
 samples avg     0.6875    0.6058    0.6330       246

### If a followup question was used

In [36]:
# if a followup question was used - clean reponse
df_dev['pred'] = df_dev['pred_all'].apply( lambda x: x[3] )
print('Null values:\n', df_dev.isna().sum(), sep='')
df_dev['pred'].value_counts()

Null values:
article_id                    0
conversation_id               0
speaker_number                0
essay_id                      0
speaker_id                    0
essay                         0
essay_clean                   0
split                         0
gender                        0
education                     0
race                          0
age                           0
income                        0
emotion                       0
emotion_count                 0
char_length                   0
word_length                   0
target_encoded                0
article                       0
article_clean                 0
essay_clean_docs              0
essay_clean_spellchecked      0
article_clean_docs            0
article_clean_spellchecked    0
compare1                      0
compare2                      0
pred_all                      0
pred_encoded                  0
pred                          3
dtype: int64

Sadness             54
Fear/Sadness        31
Hope/Sadness        24
Anger/Sadness       23
Disgust/Sadness     19
Anger/Disgust        9
Hope                 8
Fear                 6
Disgust              5
Neutral/Sadness      4
Anger/Fear           4
Hope/Neutral         4
Disgust/Fear         3
Anger                2
Anger/Neutral        2
Neutral              2
Fear/Neutral         1
Disgust/Neutral      1
Sadness/Surprise     1
Joy                  1
Fear/Surprise        1
Name: pred, dtype: int64

In [42]:
# if a followup question was used - review why some predictions were NaNs
temp = df_dev[ df_dev['pred'].isna() ]
print(temp.index)
temp[['pred_all', 'pred']].values.tolist()

Int64Index([150, 167, 173], dtype='int64')

[[('Neutral',
   'Neutral',
   'I think the text is more related to Disappointment.',
   None),
  None],
 [('Sadness',
   'Sadness',
   "Yes, I am sure. The text expresses concern about children not being able to eat and the country's failure to provide basic necessities to its people, which is a sad situation.",
   None),
  None],
 [('Hope/Sadness',
   'Hope/Sadness',
   "Yes, I'm sure. The text expresses sympathy for the situation but also a sense of helplessness, and ends with a hopeful attitude towards the future.",
   None),
  None]]

In [43]:
# if a followup question was used - manually assign missing predictions
df_dev.at[150, 'pred'] = 'Neutral'
df_dev.at[167, 'pred'] = 'Sadness'
df_dev.at[173, 'pred'] = 'Hope/Sadness'

In [61]:
# binarize predictions
df_dev['pred_encoded'] = df_dev['pred'].apply( lambda x: get_target(x.split('/')) )

In [ ]:
y_dev_encoded      = np.array( df_dev['target_encoded'].values.tolist() )
y_dev_pred_encoded = np.array( df_dev['pred_encoded'].values.tolist() )
labels = list(label2key.keys())
print( classification_report( y_dev_encoded, y_dev_pred_encoded, target_names=labels, digits=4 ) )

# Few-Shot Approach 2: concatenate closest 30 examples into one long string

In [55]:
openai.api_key = os.getenv("OPENAI_API_KEY")
model          = 'gpt-4'

In [30]:
# find top_n closest df_train embeddings for each df_dev embedding
def batch_cosine(embedding_, df, top_n=100):
    df['similarity'] = df['gpt_embedding'].apply(lambda x: cosine_similarity(x, embedding_))
    return df.sort_values(by='similarity', ascending=False).head(top_n)['essay_clean'].tolist()

df_train_copy = df_train.copy()
start = time.time()
res   = dict()
count = 0
for t, e in df_dev[['essay_clean', 'gpt_embedding']].values:
    if t in res:
        continue
    res[ t ] = batch_cosine( e, df_train_copy, top_n=30, )
    count += 1
    if count % 10 == 0:
        print(f'Processing text {count}. Time elapsed: {round((time.time()-start)/60, 4)} min')
        with open('data/res.pkl', 'wb') as f:
            pickle.dump(res, f, protocol=pickle.HIGHEST_PROTOCOL)
                        
elapsed = (time.time() - start)/60
print(f'\nTime elapsed {round(elapsed, 4)} min')

Processing text 10. Time elapsed: 0.0373 min
Processing text 20. Time elapsed: 0.074 min
Processing text 30. Time elapsed: 0.1105 min
Processing text 40. Time elapsed: 0.1474 min
Processing text 50. Time elapsed: 0.1841 min
Processing text 60. Time elapsed: 0.2211 min
Processing text 70. Time elapsed: 0.2579 min
Processing text 80. Time elapsed: 0.2952 min
Processing text 90. Time elapsed: 0.3326 min
Processing text 100. Time elapsed: 0.3696 min
Processing text 110. Time elapsed: 0.4074 min
Processing text 120. Time elapsed: 0.445 min
Processing text 130. Time elapsed: 0.4825 min
Processing text 140. Time elapsed: 0.5202 min
Processing text 150. Time elapsed: 0.5575 min
Processing text 160. Time elapsed: 0.595 min
Processing text 170. Time elapsed: 0.6326 min
Processing text 180. Time elapsed: 0.671 min
Processing text 190. Time elapsed: 0.709 min
Processing text 200. Time elapsed: 0.747 min

Time elapsed 0.7774 min

In [31]:
df_dev['closest_texts'] = df_dev['essay_clean'].map( res )
print(df_dev.isna().sum())

article_id                    0
conversation_id               0
speaker_number                0
essay_id                      0
speaker_id                    0
essay                         0
essay_clean                   0
split                         0
gender                        0
education                     0
race                          0
age                           0
income                        0
emotion                       0
emotion_count                 0
char_length                   0
word_length                   0
target_encoded                0
article                       0
article_clean                 0
essay_clean_docs              0
essay_clean_spellchecked      0
article_clean_docs            0
article_clean_spellchecked    0
compare1                      0
compare2                      0
gpt_embedding                 0
closest_texts                 0
dtype: int64

In [32]:
file = 'data/df_dev.pkl'
df_dev.to_pickle(file)

In [78]:
df_train.columns

Index(['article_id', 'conversation_id', 'speaker_number', 'essay_id',
       'speaker_id', 'essay', 'essay_clean', 'split', 'gender', 'education',
       'race', 'age', 'income', 'emotion', 'target_encoded', 'target_encoded2',
       'compare', 'emotion_count', 'char_length', 'word_length', 'article',
       'article_clean', 'essay_clean_docs', 'essay_clean_spellchecked',
       'article_clean_docs', 'article_clean_spellchecked', 'compare1',
       'compare2', 'gpt_embedding', 'emotion_no_2nd_neut'],
      dtype='object')

In [79]:
# concatenate 30 closest examples for each dev set datapoint and check the total number of tokens
def concatenate_few_show_examples( closest_texts ):
    ''' Concatenate 30 closest examples with their categories into one string '''
    df_ = df_train[ df_train['essay_clean'].isin(closest_texts) ]
    example = prompt_one
    for text, emo in df_[['essay_clean_spellchecked', 'emotion_no_2nd_neut']].values:
        example += f"\nText: {text}\n\nCategory: {'/'.join(sorted(emo))}.\n\n####\n"
    return example

df_dev['closest_texts_concatenated'] = df_dev['closest_texts'].apply( concatenate_few_show_examples )


# check that # tokens in concatenated exapmles doesn't exceed ChatGPT's context window size of 4096
lengths = [ num_tokens_from_messages([{'role':'user', 'content': example} ]) for example\
            in df_dev['closest_texts_concatenated'].values ]
print(lengths)
print([l for l in lengths if l <3000])
print([l for l in lengths if l > 3500])

[3313, 3442, 3131, 2930, 3297, 2964, 3101, 3057, 3215, 3209, 3411, 3226, 3303, 2836, 3143, 2919, 3094, 3051, 3092, 3041, 3076, 3145, 3198, 2972, 3106, 3383, 3174, 3158, 3301, 3304, 3248, 3578, 3088, 3496, 3239, 3236, 3138, 3503, 3398, 3093, 2961, 3032, 3099, 3198, 2906, 2922, 2897, 3201, 3300, 3176, 3368, 2982, 3358, 2995, 2955, 3116, 3228, 3032, 3006, 3178, 3383, 3193, 3050, 3086, 3406, 3327, 3067, 3011, 3051, 3020, 3368, 3264, 3320, 3393, 3292, 3640, 3348, 3241, 3337, 3383, 3050, 3074, 3570, 3543, 3015, 3259, 3436, 3232, 3119, 3230, 3241, 3207, 3207, 3130, 3416, 3257, 3523, 3125, 3135, 3144, 3122, 3409, 3171, 3130, 3227, 3001, 3258, 2760, 3319, 3220, 3113, 3264, 3271, 3459, 3272, 2979, 3626, 3242, 3096, 3179, 3207, 3096, 2917, 3062, 3294, 3102, 3153, 2955, 2957, 3237, 3366, 3103, 3190, 3295, 3151, 3173, 3144, 3211, 3610, 3163, 3150, 3338, 3077, 3403, 3105, 3223, 3135, 2878, 2907, 3278, 3154, 3326, 3386, 3143, 3435, 3410, 3358, 3086, 3043, 2948, 3133, 3537, 3248, 3098, 3147, 3119, 3330, 3370, 3271, 3365, 3500, 3268, 3149, 3091, 3421, 3534, 3471, 3503, 3155, 3019, 3248, 3237, 3261, 3490, 3093, 3001, 3342, 3430, 3134, 3044, 3212, 3404, 2975, 3258, 3164, 3066, 3256, 3190, 3431, 3359, 3523, 3413, 3209, 3039, 2986, 3364, 3146, 3162]
[2930, 2964, 2836, 2919, 2972, 2961, 2906, 2922, 2897, 2982, 2995, 2955, 2760, 2979, 2917, 2955, 2957, 2878, 2907, 2948, 2975, 2986]
[3578, 3503, 3640, 3570, 3543, 3523, 3626, 3610, 3537, 3534, 3503, 3523]

In [80]:
print(df_dev['closest_texts_concatenated'].values[0])

1 - Below you are given examples of texts with their most relevant emotion categories. The examples are separated by four hashtags.
2 - Each text can belong to one or two most relevant emotion categories from the following list: Sadness, Neutral, Anger, Disgust, Fear, Hope, Surprise, Joy.
3 - Your task is to carefully learn from the examples of texts with their categories and then use the acquired knowledge to classify the very last text by selecting the most relevant emotion category from the above list.
4 - You may add a second emotion category from the above list ONLY AND ONLY IF it is also relevant to the very last text.
5 - Output just the category or categories for the last text and nothing else. If there are two relevant emotion categories: sort them alphabetically, concatenate with a forward slash, and output only them and nothing else.

####

Text: It breaks my heart to see people living in those conditions. I hope that all the aid that was sent to the island makes it to the people who need it the most. I do not know what I would do it that was my family and I. I would hope that I would do my best, but I can see how depressing and hopeless you could feel having your whole life changed because of a storm and not knowing where your next meal is coming from.

Category: Hope/Sadness.

####

Text: I wonder why there aren't more people trying to help these people. I understand Haiti is not the richest nor less corrupt country but surely there must be a way to help. Supplies being looted by crowds is understandable because they are hungry and people need food and water to survive. We must think of other ways to distribute the food and water.

Category: Anger.

####

Text: This was a sad situation. It is unfair for all these people to live in such conflict and persecution fo their beliefs. It makes me very grateful to live somewhere that I have the freedom to believe what I want. People complain so much about America and don't realize how good we have it here. These people are literally dying just for what they believe which is really sad. I feel sad for the families.

Category: Sadness.

####

Text: Honestly the entire story is just so sad and really highlights how devastating the effects of greed are. It's not enough that our policies and hunger for power wreck human lives, we have to wreck entire environments and species, too. I feel so bad for the animals, and it just goes to show how much worse things must be for the actual humans.

Category: Sadness.

####

Text: It makes me sad that people have to risk their life to get help. It makes me madder that those people are turned away for their search for a better life. It is human history for people to be able to move around and search for a better life. Now with boarders people are stuck in the place that they are born.

Category: Sadness.

####

Text: Its really sad when these types of things happen. I feel like we need to do more to help these sort of people. I also understand that they are human like us and they have feelings too. Doctors without Borders does what it can but it can only do so much without external help. The fact that they are displaced by conflict and persecution makes me feel like we need to help countries first.

Category: Sadness.

####

Text: It hurts my heart to think about all the people who leave the place of their birth only not to find a home that they are looking for. I would love to see the day were people treat all other humans like people no matter how they look and where they are from. I wonder why people can not relate to other people and just help.

Category: Hope/Sadness.

####

Text: Wow, hearing about things like this really makes me so grateful to be an American. I'm very happy to live in this beautiful country and I wish people would stop complaining so much about everything they think is wrong here. Just be grateful you're not being used as a human shield. Some of the things going on over there are just atrocious, and as bad as people think it is here it doesn't even hold a candle to that. I am saddened to hear about these families and children being harmed so maliciously.

Category: Sadness.

####

Text: I feel sad for all the people who are being turned into human shields in Iraq. The article made me think about how good we have it in the United States and things that are happening to these people are only seen in movies. To be shot dead on the spot for protesting or have more than half of your family missing because they were kidnapped would be horrible.

Category: Sadness.

####

Text: This is so sad. I can't even imagine living and trying to raise my family in a situation like this. These poor people can't even send their kids to school because they have to get up so early and stand in food lines. Or else the kids are too weak and sick from not eating, they can't go to school. Also, the school supplies are so expensive, they can't buy them because they need to buy food.

Category: Sadness.

####

Text: After reading the article, i can't help but feel bad for the people and children in the camps. I feel bad for them because nobody should have to be living in those type of conditions. Everyone should be able to have shelter, food, and a nice place to sleep on. I feel like these people are almost being treated like dirt and it's very unfair.

Category: Sadness.

####

Text: I found this to be very sad. These people obviously don't have many options, and they are trapped in a bad situation without any food and with a lot of violence around them. I have heard a lot about this area and the bad things going on there. This is an ongoing situation that shows no signs of improvement, and meanwhile the people continue to suffer and die. Young people are affected as well as women and many innocent people who have nothing to do with the terrorist groups causing all these problems.

Category: Sadness.

####

Text: This article was just heartbreaking. I just pictured my father working his whole life for us just for a warm and horrible people to come in and tear it down. It is pure hell for everyone living in this war torn area I cant imagine. No older people who worked there life so there familys can be better should be worried about war and losing the family. The doctors have even fled as there is no resources to help people anymore. Only once dialysis center left which will probably close soon for fear of people and lack of resources. Anyone with a chronic disease is just out of luck as medicine is few and aid cant even be reached to most of these people anymore. It is just so sad.

Category: Sadness.

####

Text: This is a very heartbreaking article. It's hard to read what is happening to people in other parts of the world. I can't believe people would leave their parents and elderly family members behind in a war. It's unimaginable. And to make matters worse, there is hardly any food for them in their homes. They're under constant attack and can't even get basic medications that we take for granted every day here in the US. I truly hope the wars stop and these people can get some assistance rebuilding their lives and homes. More effort needs to go into donating to the charities that help in these areas. I can understand why some would not want to travel and live there, considering there is a high probability of death from an airstrike but the people should at least have basic food items, clothing

Category: Hope/Sadness.

####

Text: This article was a little hard to follow as I dont follow or know much about whats going on in the other side of the world. It is so sad to me that a war torn third world country has people living there that are afraid for there lives daily. The humanitarian effort is so noble but so sad they are at the hands of a corrupt government and society. How could a government fail to protect its people and aid workers and let them be brutally attacked and raped at there own hands. Noone should be in a position where the power in the society is evil and able to do what they please with no consequence that is a very scary balance. Something needs to be done to help.

Category: Sadness.

####

Text: This is a tragic story but it's also what happens in third-world countries where you pull a truck off the side of the road to sell fuel to citizens. The world is an absolutely enormous place--beyond comprehension. And death, suffering, and tragedy occur all the time. I'm not going to worry about the lives of a handful of random people who I didn't know existed until I knew they no longer existed. These people might as well be fictional characters to me. Sure, someone is grieving them somewhere. And this event probably really did happen. But to me it's not real and it truly doesn't matter. And, frankly, despite this modern age's attempt to argue the opposite, I don't think the world is any better a place because I know these people are dead.

Category: Anger.

####

Text: It is a shame that they are going through such hardships I feel bad about the little baby that died and bombs falling on them but that is part of life growing up in an uncivilized world where savages run rampant if they could just get rid of the people and start over maybe just move all the savages out.

Category: Sadness.

####

Text: After reading the article, the only feelings i can say that i have is one of sadness. It's terrible that these people had this unfortunate hurricane hit them. There was nothing they could have really done and they definitely did not deserve this. The fact that there are little children with no food or water really hurts me. There are most likely animals out there that are in need of food and water as well.

Category: Sadness.

####

Text: This situation in Haiti is terrible and saddening. no person in this day and age should suffer at the hands of their government while no one does anything to help. It is sad to see such suffering and hungry people. How can a country be that terrible. How does next to nobody help these poor innocent people.

Category: Sadness.

####

Text: In the 21st century, people are still starving after major disasters. This earthquake destroyed Haiti and in my opinion, there was not enough food that was brought in from other countries. I constantly wonder how this continues to be such a slow, slow process. I have been to Haiti and the country is hard enough just to live without major catastrophic disasters.

Category: Neutral.

####

Text: While we do think about the human suffering caused by war and poverty, we rarely consider the effects these have on animals. It just makes these situations all the more heartbreaking. When I think about animals in zoos - animals that have been removed from their native lands, only to starve to death. I'm suprised more animal rights groups haven't become involved - really, if all those angry vegans out there spent more time helping animals and less time pontificating to the rest of us, they would do far more good.

Category: Sadness.

####

Text: The article in itself is extremely depressing. Animals starving due to a Country also starving. There's nothing that can be done for these animals as they're just in an unfortunate circumstance. It's astonishing that this is allowed to happen in general though. They are helpless creatures starving to death because nobody is helping them. There should be charities that make this impossible to happen.

Category: Sadness.

####

Text: This article is so sad I cant believe the mass amounts of lives being taken that is so preventable. I think more aid should be sent and they should be able to sail ships in there territory to help aid these people. It is sad to think people think the chance of death is better than living where they are. The smugglers need to controlled so so many boats arent sent out and it over wales rescue missions. I feel for the parents who send there children on this and the children end up dying i cant imagine. Someday i hope more aid is sent to help countries like this fix the problems at home so so many people dont want to flea

Category: Sadness.

####

Text: Hearing about the experiences of refugees is sad but something I have a hard time connecting with. It's distressing to hear about children who are innocent victims of violence in a country or even adults, but it just seems so far away and I Feel so removed from those things and people that it's hard to relate to. I am still sad for them that they have the experiences they have and I am grateful for my life and freedom in America.

Category: Sadness.

####

Text: This crisis is so tender and near and dear. It is horrifying that such innocent souls are lacking basic nutrition and this is effecting every part of there life. Because they are so week form not eating they can't do much to fend for themselves especially because alot of them are orphaned children. It is horrifying that it is tough for aid to push through to these areas and the further they gain access to the more horrible the sights are. I can't imagine the children longing for there parents they are seperated from and longing for some sort of security in there lives. There food is gone there water is unsafe but it is nice to know that aid workers eventhough it is a tough site to see are remaining to truly help out.

Category: Sadness.

####

Text: I can't imagine what it would be like to live in a war-torn country. Americans have it so much better than they realize and I don't understand why it's so hard for people to put themselves in others' shoes. I feel so much for this poor man that just wanted a peaceful retirement and to hang out with his family and now he and his wife are basically depriving themselves of food so that they have enough for the kids. It's depressing.

Category: Sadness.

####

Text: An article like this just make you so glad to live in the united states. Where everything is regulated and we have laws. I can not imagine living in a place where the government and law can do anything they please without consequences. Soldiers raping women burning down houses all with out real cause. Any aid workers and doctors are treated very poorly so theres not enough to go around how does this civilization survive. Crazy how far behind and uncivilized some places still are in 2019. I think more light needs to be shown on this as real people are hurting. Everyone deserves to feel safe in there country.

Category: Disgust.

####

Text: Sometimes living in the United States we forget how a lot of the people of the planet live. I would not think about buying fuel from a truck that stops in my community. We think of gas stations, not thinking that everybody in the world do not have access to a gas station. I feel sorry for the people who died and was hurt in the accident.

Category: Sadness.

####

Text: Living in a war tore country must be horrible. I feel the pain of all the lost. Having air strikes hit your home has to be horrible and seeing love ones buried under what is left from your home is also horrible. I do not wish this on anybody. I hope that the country can find peace and the people can return to a normal life.

Category: Hope/Sadness.

####

Text: This is such a hard read. I cant imagine living in a war torn place where everyday you fear for your life. How sad these people died such a horrible hard death. The mother and sister have to live and rebuild there life without the kids and husband. How do you even go on after such a thing. There needs to be more aid and relief and stop all the bombing and violence. It is such a silly way to die over nothing.

Category: Sadness.

####

In [81]:
start = time.time()
res   = dict()
count = 0
for text, example in df_dev[['essay_clean_spellchecked', 'closest_texts_concatenated']].values:
    if text in res:
        continue
    prompt = example + f'\nText: {text}\n\nCategory:'   
    try:
        res[ text ] = classify_text_few_shot(prompt)
    except Exception as e:
        print(f'\nText: {text}\nError: {e}\n')
                
    count += 1    
    if count % 10 == 0:
        print(f'Processing text {count}')
        with open('data/res.pkl', 'wb') as f:
            pickle.dump(res, f, protocol=pickle.HIGHEST_PROTOCOL)
                        
        
elapsed = (time.time() - start)/60
print(f'\nTime elapsed {round(elapsed, 4)} min')

Frist iteration: Sadness. Sadness
Frist iteration: Hope. Hope
Frist iteration: Hope/Joy. Hope/Joy
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Hope/Sadness. Hope/Sadness
Frist iteration: Anger/Sadness. Anger/Sadness
Processing text 10
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Hope/Sadness. Hope/Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Disgust/Sadness. Disgust/Sadness
Frist iteration: Sadness/Neutral. Neutral/Sadness
Frist iteration: Hope. Hope
Processing text 20
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Hope/Sadness. Hope/Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Disgust. Disgust
Frist iteration: Sadness. Sadness
Frist iteration: Disgust. Disgust
Frist iteration: Anger/Hope. Anger/Hope
Processing text 30
Frist iteration: Sadness. Sadness
Frist iteration: Neutral. Neutral
Frist iteration: Sadness. Sadness
Frist iteration: Hope/Sadness. Hope/Sadness
Frist iteration: Hope/Sadness. Hope/Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Neutral. Neutral
Frist iteration: Neutral. Neutral
Frist iteration: Neutral. Neutral
Processing text 40
Frist iteration: Disgust/Sadness. Disgust/Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Anger/Hope. Anger/Hope
Frist iteration: Disgust. Disgust
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Processing text 50
Frist iteration: Neutral. Neutral
Frist iteration: Sadness. Sadness
Frist iteration: Sadness/Neutral. Neutral/Sadness
Frist iteration: Anger/Disgust. Anger/Disgust
Frist iteration: Sadness. Sadness
Frist iteration: Anger. Anger
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness/Hope. Hope/Sadness
Frist iteration: Hope/Sadness. Hope/Sadness
Processing text 60
Frist iteration: Anger/Sadness. Anger/Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Neutral. Neutral
Frist iteration: Neutral. Neutral
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Processing text 70
Frist iteration: Anger/Sadness. Anger/Sadness
Frist iteration: Anger/Sadness. Anger/Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Neutral. Neutral
Frist iteration: Disgust/Hope. Disgust/Hope
Frist iteration: Anger/Sadness. Anger/Sadness
Frist iteration: Neutral. Neutral
Frist iteration: Sadness. Sadness
Frist iteration: Disgust/Sadness. Disgust/Sadness
Frist iteration: Sadness. Sadness
Processing text 80
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Disgust/Sadness. Disgust/Sadness
Frist iteration: Disgust. Disgust
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Anger. Anger
Frist iteration: Sadness. Sadness
Frist iteration: Disgust. Disgust
Processing text 90
Frist iteration: Anger/Disgust. Anger/Disgust
Frist iteration: Disgust/Sadness. Disgust/Sadness
Frist iteration: Anger/Sadness. Anger/Sadness
Frist iteration: Fear. Fear
Frist iteration: Anger. Anger
Frist iteration: Disgust/Sadness. Disgust/Sadness
Frist iteration: Neutral. Neutral
Frist iteration: Anger. Anger
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Processing text 100
Frist iteration: Disgust/Sadness. Disgust/Sadness
Frist iteration: Anger/Sadness. Anger/Sadness
Frist iteration: Anger. Anger
Frist iteration: Disgust/Fear. Disgust/Fear
Frist iteration: Hope/Sadness. Hope/Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness/Neutral. Neutral/Sadness
Frist iteration: Sadness. Sadness
Processing text 110
Frist iteration: Anger/Sadness. Anger/Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Disgust. Disgust
Frist iteration: Sadness. Sadness
Frist iteration: Disgust. Disgust
Frist iteration: Anger. Anger
Frist iteration: Sadness. Sadness
Frist iteration: Anger. Anger
Frist iteration: Fear. Fear
Processing text 120
Frist iteration: Disgust/Surprise. Disgust/Surprise
Frist iteration: Sadness. Sadness
Frist iteration: Sadness/Hope. Hope/Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Anger/Sadness. Anger/Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Fear/Hope. Fear/Hope
Frist iteration: Hope/Sadness. Hope/Sadness
Frist iteration: Disgust/Hope. Disgust/Hope
Processing text 130
Frist iteration: Disgust. Disgust
Frist iteration: Hope. Hope
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Disgust/Sadness. Disgust/Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Hope/Sadness. Hope/Sadness
Frist iteration: Hope/Sadness. Hope/Sadness
Frist iteration: Sadness. Sadness
Processing text 140
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Neutral. Neutral
Frist iteration: Sadness. Sadness
Frist iteration: Disgust/Sadness. Disgust/Sadness
Frist iteration: Sadness/Fear. Fear/Sadness
Frist iteration: Fear/Disgust. Disgust/Fear
Frist iteration: Sadness. Sadness
Frist iteration: Fear/Sadness. Fear/Sadness
Processing text 150
Frist iteration: Neutral. Neutral
Frist iteration: Disgust/Sadness. Disgust/Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Disgust. Disgust
Frist iteration: Hope. Hope
Frist iteration: Neutral. Neutral
Frist iteration: Sadness. Sadness
Frist iteration: Disgust. Disgust
Frist iteration: Anger/Sadness. Anger/Sadness
Processing text 160
Frist iteration: Sadness. Sadness
Frist iteration: Sadness/Hope. Hope/Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Hope. Hope
Frist iteration: Sadness. Sadness
Frist iteration: Fear. Fear
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Processing text 170
Frist iteration: Hope. Hope
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Hope/Sadness. Hope/Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Neutral. Neutral
Frist iteration: Sadness/Surprise. Sadness/Surprise
Frist iteration: Disgust/Sadness. Disgust/Sadness
Frist iteration: Neutral. Neutral
Frist iteration: Hope. Hope
Processing text 180
Frist iteration: Sadness. Sadness
Frist iteration: Neutral. Neutral
Frist iteration: Disgust/Sadness. Disgust/Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Fear/Neutral. Fear/Neutral
Frist iteration: Sadness. Sadness
Frist iteration: Disgust. Disgust
Frist iteration: Anger/Sadness. Anger/Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Processing text 190
Frist iteration: Neutral. Neutral
Frist iteration: Neutral. Neutral
Frist iteration: Anger. Anger
Frist iteration: Disgust. Disgust
Frist iteration: Disgust. Disgust
Frist iteration: Anger/Sadness. Anger/Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Hope/Sadness. Hope/Sadness
Frist iteration: Anger/Disgust. Anger/Disgust
Frist iteration: Disgust. Disgust
Processing text 200
Frist iteration: Anger. Anger
Frist iteration: Anger. Anger
Frist iteration: Fear. Fear
Frist iteration: Sadness. Sadness
Frist iteration: Sadness. Sadness
Frist iteration: Neutral. Neutral
Frist iteration: Fear. Fear
Frist iteration: Sadness. Sadness

Time elapsed 8.1165 min

### If a followup question was not used

In [82]:
# if one label is the output
df_dev['pred_all'] = df_dev['essay_clean_spellchecked'].map( res )
print(df_dev.isna().sum())
print(df_dev['pred_all'].value_counts())

article_id                    0
conversation_id               0
speaker_number                0
essay_id                      0
speaker_id                    0
essay                         0
essay_clean                   0
split                         0
gender                        0
education                     0
race                          0
age                           0
income                        0
emotion                       0
emotion_count                 0
char_length                   0
word_length                   0
target_encoded                0
article                       0
article_clean                 0
essay_clean_docs              0
essay_clean_spellchecked      0
article_clean_docs            0
article_clean_spellchecked    0
compare1                      0
compare2                      0
gpt_embedding                 0
closest_texts                 0
emotion_no_2nd_neut           0
closest_texts_concatenated    0
pred_all                      0
dtype: int64
Sadness             95
Neutral             19
Hope/Sadness        15
Disgust             14
Anger/Sadness       12
Disgust/Sadness     12
Anger               10
Hope                 7
Fear                 5
Anger/Disgust        3
Neutral/Sadness      3
Anger/Hope           2
Disgust/Hope         2
Disgust/Fear         2
Fear/Sadness         2
Hope/Joy             1
Disgust/Surprise     1
Fear/Hope            1
Sadness/Surprise     1
Fear/Neutral         1
Name: pred_all, dtype: int64

In [45]:
print(df_dev[ df_dev['pred_all']=="Yes, I'm sure. The category is Disappointment."])
df_dev.at[ 54, 'pred_all' ] = 'Fear'
df_dev.at[ 74, 'pred_all' ] = 'Neutral'
df_dev.at[ 26, 'pred_all' ] = 'Sadness'

    article_id  conversation_id  speaker_number  essay_id  speaker_id  \
26         233               93               1        92          71

                                                essay  \
26  Unfortunately in countries like these the offi...

                                          essay_clean split  gender  \
26  Unfortunately in countries like these the offi...   dev       1

    education  race  age  income    emotion  emotion_count  char_length  \
26          6     2   32   35000  [Disgust]              1          369

    word_length            target_encoded  \
26           72  [0, 1, 0, 0, 0, 0, 0, 0]

                                              article  \
26  Nigeria investigates reports that officials ra...

                                        article_clean  \
26  Nigeria investigates reports that officials ra...

                                     essay_clean_docs  \
26  (Unfortunately, in, countries, like, these, th...

                             essay_clean_spellchecked  \
26  Unfortunately in countries like these the offi...

                                   article_clean_docs  \
26  (Nigeria, investigates, reports, that, officia...

                           article_clean_spellchecked  compare1  compare2  \
26  Nigeria investigates reports that officials ra...      True      True

                                        gpt_embedding  \
26  [0.0027196165174245834, -0.028233595192432404,...

                                        closest_texts  \
26  [Anything fellow human beings are struggling w...

                           closest_texts_concatenated  \
26  \nText: The things that people do in the name ...

                                          pred_all
26  Yes, I'm sure. The category is Disappointment.

In [83]:
df_dev['pred_all'].value_counts()

Sadness             95
Neutral             19
Hope/Sadness        15
Disgust             14
Anger/Sadness       12
Disgust/Sadness     12
Anger               10
Hope                 7
Fear                 5
Anger/Disgust        3
Neutral/Sadness      3
Anger/Hope           2
Disgust/Hope         2
Disgust/Fear         2
Fear/Sadness         2
Hope/Joy             1
Disgust/Surprise     1
Fear/Hope            1
Sadness/Surprise     1
Fear/Neutral         1
Name: pred_all, dtype: int64

In [84]:
# binarize predictions
df_dev['pred_encoded'] = df_dev['pred_all'].apply( lambda x: get_target(x.split('/')) )

In [85]:
y_dev_encoded      = np.array( df_dev['target_encoded'].values.tolist() )
y_dev_pred_encoded = np.array( df_dev['pred_encoded'].values.tolist() )
labels = list(label2key.keys())
print( classification_report( y_dev_encoded, y_dev_pred_encoded, target_names=labels, digits=4 ) )

              precision    recall  f1-score   support

       Anger     0.5926    0.4211    0.4923        38
     Disgust     0.4412    0.6250    0.5172        24
        Fear     0.3636    0.5000    0.4211         8
        Hope     0.3214    0.5625    0.4091        16
         Joy     0.0000    0.0000    0.0000         2
     Neutral     0.6957    0.2963    0.4156        54
     Sadness     0.6714    0.9307    0.7801       101
    Surprise     0.0000    0.0000    0.0000         3

   micro avg     0.5789    0.6260    0.6016       246
   macro avg     0.3857    0.4169    0.3794       246
weighted avg     0.5957    0.6260    0.5783       246
 samples avg     0.6178    0.6394    0.6106       246

## Results

### Concatenate random examples
Notes:
* When GPT-4 is not given a prompt with a request to add a second emotion if relevant, it tends to output just one emotion (did ChatGPT did the same?)

__Experiment 1__:  
text_col = 'spellchecked', temperature = 0  
No system role, __second Neutral removed__    
_Prompt_:
```
1 - Below you are given examples of essays with categories separated by four hashtags.
2 - Each essay has one or two relevant categories from the following list: Sadness, Neutral, Anger, Disgust, Fear, Hope, Surprise, Joy.
3 - Your task is to carefully learn from the examples of essays with categories in order to understand what features or words in the essays make them belong to a specific category and then use this knowledge to assign the correct relevant category from the above list to the very last essay.
4 - You may add a second category from the above list ONLY AND ONLY IF it is also relevant to the very last essay. Do not add the second category if it is not significant.
5 - If there is one relevant category, output just the category and nothing else. If there are two relevant categories: sort them alphabetically, concatenate with a forward slash, and output only them and nothing else.

####

Are you sure about that? If yes, output the same category; if no, change the category

    + concatented examples (no list of instructions)
```

```
              precision    recall  f1-score   support

       Anger     0.8182    0.2368    0.3673        38
     Disgust     0.5333    0.6667    0.5926        24
        Fear     0.4167    0.6250    0.5000         8
        Hope     0.3333    0.2500    0.2857        16
         Joy     0.0000    0.0000    0.0000         2
     Neutral     0.7222    0.2407    0.3611        54
     Sadness     0.7323    0.9208    0.8158       101
    Surprise     0.5000    0.3333    0.4000         3

   micro avg     0.6620    0.5732    0.6144       246
   macro avg     0.5070    0.4092    0.4153       246
weighted avg     0.6789    0.5732    0.5685       246
 samples avg     0.6683    0.5962    0.6170       246
```

__Experiment 2__:  
text_col = 'spellchecked', temperature = 0  
No system role, __second Neutral removed__    
_Prompt_:  
concatented examples (no list of instructions)
```
              precision    recall  f1-score   support

       Anger     0.7857    0.2895    0.4231        38
     Disgust     0.4516    0.5833    0.5091        24
        Fear     0.3571    0.6250    0.4545         8
        Hope     0.4286    0.3750    0.4000        16
         Joy     0.2500    0.5000    0.3333         2
     Neutral     0.9091    0.3704    0.5263        54
     Sadness     0.8173    0.8416    0.8293       101
    Surprise     0.2000    0.3333    0.2500         3

   micro avg     0.6875    0.5813    0.6300       246
   macro avg     0.5249    0.4898    0.4657       246
weighted avg     0.7445    0.5813    0.6176       246
 samples avg     0.6875    0.6058    0.6330       246
```

## Appendix

In [30]:
# another way to  randomly split the data
X = df_train['essay_clean'].values
y = ['/'.join(i) for i in df_train['emotion'].values]

skf        = StratifiedKFold(n_splits=18, shuffle=True, random_state=random_state)
chunks_idx = [test_index for _, test_index in skf.split(X, y)]
print('Length X:', len(X))
print('Total chunks length:', sum([len(i) for i in chunks_idx]), '\n')

for ch in chunks_idx:
    print(df_train.loc[ch].explode('emotion')['emotion'].value_counts())
    messages = [ {'role': 'user', 'content': ' '.join(df_train.loc[ch]['essay_clean'].tolist())} ]
    num_tokens = num_tokens_from_messages(messages, model="gpt-3.5-turbo-0301")
    print('Num tokens:', num_tokens)
    print('\n', '='*75, '\n', sep='')

Length X: 792
Total chunks length: 792

Sadness     22
Neutral     12
Anger        6
Disgust      5
Hope         3
Fear         2
Surprise     1
Name: emotion, dtype: int64
Num tokens: 3480

===========================================================================

Sadness     22
Neutral     14
Anger        6
Disgust      4
Surprise     2
Hope         2
Fear         1
Joy          1
Name: emotion, dtype: int64
Num tokens: 3819

===========================================================================

Sadness     21
Neutral     14
Anger        5
Disgust      4
Hope         2
Surprise     2
Fear         2
Joy          1
Name: emotion, dtype: int64
Num tokens: 3744

===========================================================================

Sadness     21
Neutral     14
Anger        6
Disgust      4
Hope         2
Fear         2
Joy          1
Surprise     1
Name: emotion, dtype: int64
Num tokens: 3946

===========================================================================

Sadness     21
Neutral     14
Anger        7
Disgust      5
Hope         2
Fear         2
Surprise     1
Name: emotion, dtype: int64
Num tokens: 3801

===========================================================================

Sadness     20
Neutral     13
Anger        8
Disgust      5
Hope         2
Surprise     2
Fear         2
Name: emotion, dtype: int64
Num tokens: 3777

===========================================================================

Sadness     21
Neutral     13
Anger        9
Disgust      5
Fear         2
Hope         2
Surprise     1
Name: emotion, dtype: int64
Num tokens: 3844

===========================================================================

Sadness     21
Neutral     13
Anger        9
Disgust      5
Fear         2
Hope         2
Surprise     1
Name: emotion, dtype: int64
Num tokens: 3611

===========================================================================

Sadness    21
Neutral    14
Anger       8
Disgust     6
Fear        2
Hope        2
Name: emotion, dtype: int64
Num tokens: 4086

===========================================================================

Sadness    21
Neutral    14
Anger       8
Disgust     6
Hope        2
Fear        2
Name: emotion, dtype: int64
Num tokens: 4222

===========================================================================

Sadness    22
Neutral    15
Anger       7
Disgust     6
Fear        2
Joy         1
Hope        1
Name: emotion, dtype: int64
Num tokens: 4043

===========================================================================

Sadness    22
Neutral    13
Anger       7
Disgust     6
Fear        3
Hope        2
Name: emotion, dtype: int64
Num tokens: 3991

===========================================================================

Sadness     23
Neutral     13
Anger        7
Disgust      6
Hope         2
Joy          1
Surprise     1
Fear         1
Name: emotion, dtype: int64
Num tokens: 3994

===========================================================================

Sadness     21
Neutral     13
Disgust      8
Anger        6
Hope         2
Fear         1
Joy          1
Surprise     1
Name: emotion, dtype: int64
Num tokens: 3800

===========================================================================

Sadness     21
Neutral     13
Disgust      8
Anger        6
Hope         2
Fear         1
Surprise     1
Joy          1
Name: emotion, dtype: int64
Num tokens: 3905

===========================================================================

Sadness     21
Neutral     13
Anger        6
Disgust      6
Fear         2
Surprise     2
Joy          1
Name: emotion, dtype: int64
Num tokens: 4149

===========================================================================

Sadness     21
Neutral     13
Disgust      6
Anger        6
Surprise     2
Fear         2
Joy          1
Name: emotion, dtype: int64
Num tokens: 3657

===========================================================================

Sadness     21
Neutral     12
Anger        7
Disgust      5
Fear         2
Hope         2
Joy          1
Surprise     1
Name: emotion, dtype: int64
Num tokens: 3759

===========================================================================

/Users/andrew/opt/anaconda3/envs/top/lib/python3.10/site-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=18.
  warnings.warn(