In [1]:
# Source: https://towardsml.com/2019/09/17/bert-explained-a-complete-guide-with-theory-and-tutorial/
# Source explains the training process which is the next step
# Importing the necessary modules
import pandas as pd
import tarfile
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

The downloaded dataset is in tgz format. We can open it using `tarfile.open()` and then extract the csv files using the `extractall()` method:

In [2]:
data_tg = tarfile.open('data/yelp_review_polarity_csv.tgz')
data_tg.extractall('data')
data_tg.close()

In [3]:
data_tg

Let's look at the the first 5 rows of the train and test datasets to understand the data we are dealing with:

In [4]:
 train_df = pd.read_csv('data/yelp_review_polarity_csv/train.csv', header=None)

train_df.head()

   0                                                  1
0  1  Unfortunately, the frustration of being Dr. Go...
1  2  Been going to Dr. Goldberg for over 10 years. ...
2  1  I don't know what Dr. Goldberg was like before...
3  1  I'm writing this review to give you a heads up...
4  2  All the food is great here. But the best thing...

In [5]:
test_df = pd.read_csv('data/yelp_review_polarity_csv/test.csv', header=None)

test_df.head()

   0                                                  1
0  2  Contrary to other reviews, I have zero complai...
1  1  Last summer I had an appointment to get new ti...
2  2  Friendly staff, same starbucks fair you get an...
3  1  The food is good. Unfortunately the service is...
4  2  Even when we didn't have a car Filene's Baseme...

We can see that in our dataset a label of 1 means the review is bad while a label of 2 means the review is good.

Let's change this to a more standard pattern â€” 0 and 1 labels. Let's have a label 0 for the bad review and a label 1 for the good review:

In [6]:
train_df[0] = (train_df[0] == 2).astype(int)
test_df[0] = (test_df[0] == 2).astype(int)

In [7]:
train_df.head()

   0                                                  1
0  0  Unfortunately, the frustration of being Dr. Go...
1  1  Been going to Dr. Goldberg for over 10 years. ...
2  0  I don't know what Dr. Goldberg was like before...
3  0  I'm writing this review to give you a heads up...
4  1  All the food is great here. But the best thing...

In [8]:
test_df.head()

   0                                                  1
0  1  Contrary to other reviews, I have zero complai...
1  0  Last summer I had an appointment to get new ti...
2  1  Friendly staff, same starbucks fair you get an...
3  0  The food is good. Unfortunately the service is...
4  1  Even when we didn't have a car Filene's Baseme...

#### Making things BERT friendly

1. First let's make the data compliant with BERT:

    - Column 0: An ID for the row. (Required both for *train* and *test* data.)<br>
    - Column 1: The class label for the row. (Required only for *train* data.)<br>
    - Column 2: A column of the same letter for all rows â€” this is a throw-away column that we need to include because BERT expects it. (Required only for *train* data.)<br>
    - Column 3: The text examples we want to classify. (Required both for *train* and *test* data.)<BR><br>
    
2. We need to split the files into the format expected by BERT: BERT comes with data loading classes that expects two files called *train* and *dev* for training. In addition, BERTâ€™s data loading classes can also use a *test* file but it expects the test file to be unlabelled. <br><br>

3. Once the data is in the correct format, we need to save the files as .tsv (BERT doesn't take .csv as input.)

In [9]:
# Creating training dataframe according to BERT by adding the required columns
df_bert = pd.DataFrame({
    'id':range(len(train_df)),
    'label':train_df[0],
    'alpha':['a']*train_df.shape[0],
    'text': train_df[1].replace(r'\n', ' ', regex=True)
})


# Splitting training data file into *train* and *dev*
df_bert_train, df_bert_dev = train_test_split(df_bert, test_size=0.01)

df_bert_train.head()

            id  label alpha                                               text
80338    80338      1     a  The best Italian around.....service matches th...
170833  170833      0     a  This place used to be good...we've been going ...
40179    40179      1     a  We stumbled upon this location while heading f...
383376  383376      0     a  Last night we went to this location.  It was r...
125165  125165      1     a  Quiet place with dim lighting, cozy atmosphere...

In [10]:
# Creating test dataframe according to BERT
df_bert_test = pd.DataFrame({
    'id':range(len(test_df)),
    'text': test_df[1].replace(r'\n', ' ', regex=True)
})

df_bert_test.head()

   id                                               text
0   0  Contrary to other reviews, I have zero complai...
1   1  Last summer I had an appointment to get new ti...
2   2  Friendly staff, same starbucks fair you get an...
3   3  The food is good. Unfortunately the service is...
4   4  Even when we didn't have a car Filene's Baseme...

In [11]:
# Saving dataframes to .tsv format as required by BERT
df_bert_train.to_csv('data/train.tsv', sep='\t', index=False, header=False)
df_bert_dev.to_csv('data/dev.tsv', sep='\t', index=False, header=False)
df_bert_test.to_csv('data/test.tsv', sep='\t', index=False, header=False)

Now we are ready for training using the scripts in the BERT repo as explaine in more detail here: https://towardsml.com/2019/09/17/bert-explained-a-complete-guide-with-theory-and-tutorial/